{% if params.links.editFilters %}
  {% if params.links.clearFilters %}
    <div class="moj-filter__selected">

      <div class="moj-filter__selected-heading">

        <div class="moj-filter__heading-title">
          <h2 class="govuk-heading-m">{{ t("filters::selected_filters.heading") }}</h2>
        </div>

      </div>

      {% for category in params.categories %}
        <h3 class="app-filter-request__category-heading govuk-heading-s govuk-!-margin-bottom-0">{{ category.heading.html | safe if category.heading.html else category.heading.text }}</h3>

        <ul class="moj-filter-tags">
          {% for item in category.items %}
            <li>
              <a class="moj-filter__tag" href="{{item.href}}">
                <span class="govuk-visually-hidden">Remove this filter</span>
                {{item.text}}</a>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}

      <p class="govuk-!-margin-top-5 govuk-!-margin-bottom-0">
        <a class="app-filter-requests__edit-filters govuk-link govuk-link--no-visited-state govuk-!-margin-right-3" href="{{ params.links.editFilters }}">{{ t("filters::selected_filters.edit_link") }}</a>
        <a class="app-filter-requests__clear-filters govuk-link govuk-link--no-visited-state" href="{{ params.links.clearFilters }}">{{ t("filters::selected_filters.clear_link") }}</a>
      </p>

    </div>
  {% else %}
    <p class="moj-filter__none-selected govuk-!-margin-top-6 govuk-!-margin-bottom-6">
      <a class="app-filter-requests__edit-filters govuk-link govuk-link--no-visited-state" href="{{ params.links.editFilters }}">{{ t("filters::edit_link") }}</a>
    </p>
  {% endif %}
{% endif %}
