{% extends "layouts/base.njk" %}

{% block primaryNavigation %}{% endblock %}

{% block organisationSwitcher %}{% endblock %}

{% block pageTitle %}
  {{ t("date_select::heading") }}
{% endblock %}



{% block content %}
{% block contentHeader %}
  {% if errors.errorList.length %}
    {{ govukErrorSummary({
      titleText: t("validation::summary.heading"),
      errorList: errors.errorList
    }) }}
  {% endif %}
{% endblock %}
  <header class="govuk-!-margin-bottom-8">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
      {{ t("date_select::heading") }}
    </h1>
  </header>

  <form method="POST">
    <input type="hidden" name="referrer" value="{{referrer.url}}">
    {% for name, values in referrer.values %}
      {% for value in values %}
        <input type="hidden" name="{{name}}" value="{{value}}">
      {% endfor %}
    {% endfor %}
    {% for key, component in components %}
      {% if component.component and not component.skip %}
        {{ callAsMacro(component.component)(component) }}
      {% endif %}
    {% endfor %}


    {{ govukButton({
        text: t("date_select::submit"),
        type: "submit"
      })
    }}

    <a href="{{ cancelUrl }}" class="govuk-button govuk-button--text">
      {{ t("actions::cancel") }}
    </a>
  </form>


{% endblock %}
