{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set html %}
  <p class="govuk-notification-banner__heading">
    {{ params.body | safe }}
  </p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}
