{% extends "layouts/base.njk" %}

{% block organisationSwitcher %}{% endblock %}

{% block pageTitle %}
  {{ t("locations::heading") }}
{% endblock %}

{% block content %}
  <header class="govuk-!-margin-bottom-8">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
      {{ t("locations::heading") }}
    </h1>
  </header>

  {% if canAccess("moves:view:all") %}
    <p class="govuk-list govuk-!-font-size-24 govuk-!-font-weight-bold">
      <a href="/locations/all">{{ t("locations::view_all_locations") }}</a>
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  {% endif %}

  {% if locations | length %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list govuk-!-font-size-24 govuk-!-font-weight-bold">
          {% for location in locations %}
            <li>
              <a href="/locations/{{ location.id }}">
                {{ location.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% else %}
    {{ appMessage({
      classes: "app-message--info",
      allowDismiss: false,
      title: {
        text: t("locations::no_locations.heading")
      },
      content: {
        html: t("locations::no_locations.content", {
          context: "with_email" if SUPPORT_EMAIL,
          email: SUPPORT_EMAIL
        })
      }
    }) }}
  {% endif %}
{% endblock %}
