{% extends "layouts/base.njk" %}

{% block primaryNavigation %}{% endblock %}

{% block organisationSwitcher %}{% endblock %}

{% block pageTitle %}
  {{ t("locations::heading") }} – {{ SERVICE_NAME }}
{% endblock %}

{% block content %}
  <header class="govuk-!-margin-bottom-8">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
      {{ t("locations::heading") }}
    </h1>
  </header>

  {% if activeLocations | length or canAccess("locations:all") %}
    {% if canAccess("locations:all") %}
      <p class="govuk-list govuk-!-font-size-24 govuk-!-font-weight-bold">
        <a href="/locations/all">{{ t("locations::view_all_locations") }}</a>
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if regions | length %}
        <h2 class="govuk-heading-l">Regions</h2>
        <ul class="govuk-list govuk-!-font-size-24 govuk-!-font-weight-bold" data-location-type="regions">
          {% for region in regions %}
            <li>
              {{ region.key | lower }}.
              <a href="/locations/regions/{{ region.id }}">
                {{ region.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if regions | length %}
        <h2 class="govuk-heading-l">Locations</h2>
        {% endif %}
        <ul class="govuk-list govuk-!-font-size-24 govuk-!-font-weight-bold" data-location-type="locations">
          {% for location in activeLocations %}
            <li>
              <a href="/locations/{{ location.id }}">
                {{ location.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% else %}
    {{ appMessage({
      classes: "app-message--info",
      allowDismiss: false,
      title: {
        text: t("locations::no_locations.heading")
      },
      content: {
        html: t("locations::no_locations.content", {
          context: "with_email" if SUPPORT_EMAIL,
          email: SUPPORT_EMAIL
        })
      }
    }) }}
  {% endif %}
{% endblock %}
