{% from 'feedback-prompt/macro.njk' import appFeedbackPrompt %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ appFeedbackPrompt( data ) }}
    </div>
  </div>
</div>

