{% extends "form-wizard.njk" %}

{% macro displayFieldGroup(group) %}
  {% set fields = options.fieldGroups[group] %}

  {% set key = "population::daily_view.labels." + group %}

  <div class="govuk-grid-column-full govuk-!-margin-bottom-2">
    <h2 class="govuk-heading-m">{{ t(key) }}</h2>

    {% for fieldKey in fields %}
      {% set field = options.fields[fieldKey] %}

      {% if field.component and not field.skip %}
        {{ callAsMacro(field.component)(field) }}
      {% endif %}
    {% endfor %}

    {{ caller() if caller }}
  </div>
{% endmacro %}

{% block fields %}
  <div class="govuk-grid-row">
    {{ displayFieldGroup('total_space') }}

    {% call displayFieldGroup('unavailable_space') %}
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="transfers_in">
          {{ t('population::daily_view.labels.transfers_in') }}
        </label>
        <div id="transfers_in">{{  values.moves_to.length  }}</div>
      </div>
    {% endcall %}

    {% call displayFieldGroup('available_space') %}
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="transfers_out">
          {{ t('population::daily_view.labels.transfers_out') }}
        </label>
        <div id="transfers_out">{{  values.moves_from.length }}</div>
      </div>
    {% endcall %}
  </div>
  {% endblock %}
