{% extends "form-wizard.njk" %}

{% block subNavigation %}
  {{ mojSubNavigation({
    label: 'Sub navigation',
    items: [{
      text: 'Home',
      href: '#1',
      active: true
    }, {
      text: 'Single requests',
      href: '#2'
    }, {
      text: 'Bulk requests',
      href: '#3'
    },
    {
      text: 'Search',
      href: '#4'
    }]
  }) }}
{% endblock %}

{% block organisationSwitcher %}
    {{ mojOrganisationSwitcher({
      text: "HMP Bedford",
      link: {
        text: t("actions::switch_location"),
        href: '/locations'
      } if USER.locations.length > 1
    }) }}
{% endblock %}



