{% extends "layouts/two-column.njk" %}

{% set additionalContainerClass = "sticky-sidebar-container" %}

{% block customGtagConfig %}
  gtag('set', {'page_title': 'Allocation details'});
{% endblock %}

{% block pageTitle %}
  {{ t("allocation::view.page_title", {
    count: totalCount,
    from_location: allocation.from_location.title,
    to_location: allocation.to_location.title,
    date: allocation.date | formatDate
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: t("actions::back_to_dashboard"),
    classes: "app-print--hide",
    href: dashboardUrl
  }) }}

  <a href="javascript:window.print()" class="app-!-float-right app-print--hide govuk-!-margin-top-3 app-icon app-icon--print">
    {{ t("actions::print_allocation") }}
  </a>

  {{ super() }}

  {% if messageTitle %}
    {{ appMessage({
      allowDismiss: false,
      classes: "app-message--temporary",
      title: {
        text: messageTitle
      },
      content: {
        text: messageContent
      }
    }) }}
  {% endif %}
{% endblock %}

{% block contentHeader %}
  <header class="govuk-!-margin-bottom-8 govuk-!-padding-left-0 govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-1">
      {{ t("allocation::view.heading", {
        count: allocation.moves_count,
        from_location: allocation.from_location.title,
        to_location: allocation.to_location.title,
        date: allocation.date | formatDate
      }) }}
    </h1>
  </header>
{% endblock %}

{% macro emptySlot(content) %}
  <div class="app-border-top-1">
    {{ appMessage({
      classes: "app-message--muted govuk-!-margin-top-3 govuk-!-margin-bottom-3 govuk-!-padding-right-8",
      allowDismiss: false,
      content: {
        html: content
      }
    }) }}
  </div>
{% endmacro %}

{% block contentMain %}
  <section>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
      {{ t("allocation::view.criteria.heading") }}
    </h2>

    <span class="govuk-caption-m govuk-!-margin-bottom-4">
      {{ t("created_on") }}
      {{ allocation.created_at | formatDateAsRelativeDay }}
      {{ allocation.created_at | formatTime }}
    </span>

    {{ govukSummaryList(allocationDetails) }}

    {% if allocation.complete_in_full and allocationPeople.emptySlots %}
      {{ govukWarningText({
        text: t("allocation::view.criteria.complete_in_full"),
        iconFallbackText: "Warning"
      }) }}
    {% endif %}
  </section>



  {% if canAccess('allocation:person:assign') %}
    <section class="govuk-!-margin-top-8">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">{{ t("allocation::view.people.heading") }}</h2>
    {% if allocationPeople.emptySlots %}
    <p>{{ t("allocation::view.people.special_vehicle_instruction", {href:"/move/new"}) | safe }}</p>

    <h3 class="govuk-heading-s">
      {{ t("allocation::view.people.progress", {
        count: allocationPeople.emptySlots,
        context: "remaining"
      }) }}
    </h3>
      <p>{{ govukButton({
        html: "Add person",
        href: "/move/" + unassignedMoveId + "/assign"
      }) }}</p>
    {% endif %}
    {% if allocationPeople.filledSlots.length === 0 %}
      {{ emptySlot(t("allocation::view.people.no_results")) }}
    {% endif %}
  </section>
  {% else %}
    <section class="govuk-!-margin-top-8">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">{{ t("allocation::view.people.heading") }}</h2>
    <h3 class="govuk-heading-s">
      {{ t("allocation::view.people.progress", {
        count: allocation.moves_count,
        addedCount: allocationPeople.filledSlots.length
      }) }}
    </h3>
  </section>

  {% for i in range(0, allocationPeople.emptySlots) -%}
      {{ emptySlot(t("awaiting_person")) }}
    {%- endfor %}
  {% endif %}

  {% for slot in allocationPeople.filledSlots %}
    <section class="app-!-position-relative">
      {{ appCard(slot.card) }}
      {# TODO: consider handling actions within card component #}
      {# TODO: consider whether long names may cause overlap problems #}
      {% if canAccess('allocation:person:assign') %}
        <p class="app-!-position-top-right govuk-!-margin-top-3">
          {{ govukButton({
            href: '/move/' + slot.id + "/unassign",
            html: t("actions::remove_person", {
              name: slot.fullname
            }),
            classes: "govuk-button--secondary"
          })}}
        </p>
      {% endif %}
    </section>
  {% endfor %}

  {% if canAccess("allocation:cancel") and allocation.status != "cancelled" %}
    <p class="govuk-!-margin-top-9 govuk-!-margin-bottom-0">
      <a href="{{ allocation.id }}/cancel" class="app-link--destructive">
        {{ t("actions::cancel_allocation") }}
      </a>
    </p>
  {%- endif %}
{% endblock %}

{% block contentSidebar %}
  <div class="sticky-sidebar">
    <div class="sticky-sidebar__inner">
      <h3 class="govuk-heading-m app-border-top-2 app-border--blue govuk-!-padding-top-4 govuk-!-margin-bottom-3">
        {{ t("allocation::view.summary.heading") }}
      </h3>

      {{ appMetaList(allocationSummary) }}
    </div>
  </div>
{% endblock %}
