{% extends "layouts/two-column.njk" %}

{% set additionalContainerClass = "sticky-sidebar-container" %}

{% block customGtagConfig %}
  gtag('set', {'page_title': 'Allocation details'});
{% endblock %}

{% block pageTitle %}
  {{ t("allocation::view.page_title", {
    count: totalCount,
    from_location: allocation.from_location.title,
    to_location: allocation.to_location.title,
    date: allocation.date | formatDate
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: t("actions::back_to_dashboard"),
    classes: "app-print--hide",
    href: dashboardUrl
  }) }}

  <a href="javascript:window.print()" class="app-!-float-right app-print--hide govuk-!-margin-top-3 app-icon app-icon--print">
    {{ t("actions::print_allocation") }}
  </a>

  {{ super() }}

  {% if messageTitle %}
    {{ appMessage({
      allowDismiss: false,
      classes: "app-message--temporary",
      title: {
        text: messageTitle
      },
      content: {
        text: messageContent
      }
    }) }}
  {% endif %}
{% endblock %}

{% block contentHeader %}
  <header class="govuk-!-margin-bottom-8 govuk-!-padding-left-0 govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-1">
      {{ t("allocation::view.heading", {
        count: totalCount,
        from_location: allocation.from_location.title,
        to_location: allocation.to_location.title,
        date: allocation.date | formatDate
      }) }}
    </h1>
  </header>
{% endblock %}

{% block contentMain %}
  <section>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
      {{ t("allocation::view.criteria.heading") }}
    </h2>

    <span class="govuk-caption-m govuk-!-margin-bottom-4">
      {{ t("created_on") }}
      {{ allocation.created_at | formatDateAsRelativeDay }}
      {{ allocation.created_at | formatTime }}
    </span>

    {{ govukSummaryList(criteria) }}

    {% if allocation.complete_in_full %}
      {{ govukWarningText({
        text: t("allocation::view.criteria.complete_in_full"),
        iconFallbackText: "Warning"
      }) }}
    {% endif %}
  </section>

  {% if allocation.status != "cancelled" %}
    <section class="govuk-!-margin-top-8">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
        {{ t("allocation::view.people.heading") }}
      </h2>

      <h3 class="govuk-heading-s">
        {% if remainingCount === 0 %}
          <span class="app-icon app-icon--tick app-green">{{ t("allocation::view.people.complete") }}</span>
        {% elif canAccess('allocation:person:assign') %}
          {{ t("allocation::view.people.progress", {
            count: remainingCount,
            context: "remaining"
          }) }}
        {% else %}
          {{ t("allocation::view.people.progress", {
            count: totalCount,
            addedCount: addedCount
          }) }}
        {% endif %}
      </h3>

      {% if canAccess('allocation:person:assign') and remainingCount %}
        <p>
          {{ t("allocation::view.people.special_vehicle_instruction", {
            href:"/move/new"
          }) | safe }}
        </p>

        {{ govukButton({
          href: "/allocation/" + allocation.id + "/assign",
          html: t("actions::add_person", {
            context: "another" if addedCount !== 0
          })
        }) }}
      {% endif %}
    </section>

    {% for move in moves %}
      <div class="app-!-position-relative">
        {{ appCard(move.card) }}

        {# TODO: consider handling actions within card component #}
        {# TODO: consider whether long names may cause overlap problems #}
        {% if move.profile and canAccess('allocation:person:assign') %}
          <p class="app-!-position-top-right govuk-!-margin-top-3">
            {{ govukButton({
              href: "/move/" + move.id + "/unassign",
              html: t("actions::remove_person", {
                name: move.profile.person._fullname
              }),
              classes: "govuk-button--secondary"
            })}}
          </p>
        {% endif %}

        {% if move.removeMoveHref %}
          <div>
            <a class="app-!-position-top-right govuk-!-margin-top-7 govuk-!-margin-right-3 app-font-weight-normal" href="{{move.removeMoveHref}}">
              {{ t("actions::person_unassign_confirmation") }}
            </a>
          </div>
        {% endif %}

      </div>
    {% else %}
      {{ appMessage({
        classes: "app-message--muted",
        allowDismiss: false,
        content: {
          html: t("allocation::view.people.no_results")
        }
      }) }}
    {% endfor %}
  {% endif %}

  {% if canAccess("allocation:cancel") and allocation.status != "cancelled" %}
    <p class="govuk-!-margin-top-9 govuk-!-margin-bottom-0">
      <a href="{{ allocation.id }}/cancel" class="app-link--destructive">
        {{ t("actions::cancel_allocation") }}
      </a>
    </p>
  {%- endif %}
{% endblock %}

{% block contentSidebar %}
  <div class="sticky-sidebar">
    <div class="sticky-sidebar__inner">
      <h3 class="govuk-heading-m app-border-top-2 app-border--blue govuk-!-padding-top-4 govuk-!-margin-bottom-3">
        {{ t("allocation::view.summary.heading") }}
      </h3>

      {{ appMetaList(summary) }}
    </div>
  </div>
{% endblock %}
