{% extends "form-wizard.njk" %}

{% block beforeFields %}
  <h3 class="govuk-heading-m govuk-!-margin-bottom-1">{{ t("fields.from_location.label") }}</h3>
  <p class="govuk-!-margin-bottom-6">{ CURRENT LOCATION }</p>
{% endblock %}

{% block fields %}
  {{ govukRadios({
    name: "to_location_type",
    fieldset: {
      legend: {
        text: t('fields.to_location_type.label'),
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "court",
        text: "Court",
        checked: values.to_location_type === "court",
        conditional: {
          html: govukSelect(options.fields.to_location_court)
        }
      },
      {
        value: "prison",
        text: "Prison",
        checked: values.to_location_type === "prison",
        conditional: {
          html: govukSelect(options.fields.to_location_prison)
        }
      }
    ]
  }) }}

  {{ govukRadios({
    name: "date_type",
    fieldset: {
      legend: {
        text: t('fields.date_type.label'),
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "today",
        text: "Today (" + TODAY | formatDateWithDay + ")",
        checked: values.date_type === "today"
      },
      {
        value: "tomorrow",
        text: "Tomorrow (" + TOMORROW | formatDateWithDay + ")",
        checked: values.date_type === "tomorrow"
      },
      {
        value: "custom",
        text: "Another date",
        checked: values.date_type === "custom",
        conditional: {
          html: govukInput(options.fields.date_custom)
        }
      }
    ]
  }) }}
{% endblock %}
