.app-multi-file-upload__dropzone {
  outline: 3px dashed govuk-colour('black');
  cursor: pointer;
  padding: govuk-spacing(9) govuk-spacing(3);
  margin-top: -(govuk-spacing(1));
  margin-bottom: govuk-spacing(6);
  transition: outline-offset .1s ease-in-out, background-color .1s linear;

  @include govuk-media-query($from: tablet) {
    margin-top: -(govuk-spacing(3));
  }

  &.dz-drag-hover {
    background: govuk-colour("mid-grey");
    outline-color: govuk-colour("dark-grey");
  }

  .govuk-button {
    margin-top: govuk-spacing(2);

    @include govuk-media-query($from: tablet) {
      margin: -8px 0 0 govuk-spacing(1);
    }
  }
}

.app-multi-file-upload__message {
  width: 80%;
  vertical-align: middle;

  .app-multi-file-upload__success,
  .app-multi-file-upload__failure {
    display: none;
  }

  .app-multi-file-upload__in-progress {
    position: relative;
  }

  .dz-processing & {
    .app-multi-file-upload__in-progress {
      display: block;
    }
  }

  .dz-complete & {
    .app-multi-file-upload__in-progress {
      display: none;
    }
  }

  .dz-success & {
    color: govuk-colour("green");
    font-weight: bold;

    .app-multi-file-upload__success {
      display: block;
    }
    .app-multi-file-upload__success {
      display: block;
    }
  }

  .dz-error & {
    color: govuk-colour("red");
    font-weight: bold;

    .app-multi-file-upload__failure {
      display: inline-block;
    }
  }
}
