{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro _previewItem(params) %}
  <div
    class="govuk-summary-list__row {{ params.classes }} {{ 'dz-complete dz-success' if params.id }}"
    {% for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}
  >
    <dt class="govuk-summary-list__value app-multi-file-upload__message">
      <span class="app-multi-file-upload__in-progress">
        <span data-dz-name>{{ params.filename }}</span> uploading
        <span data-dz-uploadprogress>0</span>%
      </span>

      <span class="app-multi-file-upload__success app-icon app-icon--tick">
        <span data-dz-name>{{ params.filename }}</span> has been uploaded
      </span>

      <span class="app-multi-file-upload__failure app-icon app-icon--warning">
        <span data-dz-name>{{ params.filename }}</span>
        <span data-dz-errormessage></span>
      </span>
    </dt>

    <dd class="govuk-summary-list__actions">
      {% set deleteLabel %}
        Delete <span class="govuk-visually-hidden">{{ params.filename }}</span>
      {% endset %}

      {{ govukButton({
        html: deleteLabel,
        classes: "govuk-button--secondary govuk-!-margin-bottom-0",
        name: "delete",
        attributes: { "data-dz-remove": "" },
        value: params.id,
        preventDoubleClick: true
      }) }}
    </dd>
  </div>
{% endmacro %}

<div data-module="app-multi-file-upload" data-url="{{ params.xhrUrl }}">
  {% if params.heading.html or params.heading.text %}
    <h2 class="govuk-body-l app-multi-file-upload__heading">
      {{ params.heading.html | safe if params.heading.html else params.heading.text }}
    </h2>
  {% endif %}

  <div class="{{ 'app-hidden' if not params.value|length }}">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Files added</h2>

    <dl class="app-multi-file-upload__list govuk-summary-list" data-dz-previews-container>
      {% for file in params.value %}
        {{ _previewItem(file) }}
      {% endfor %}
    </dl>
  </div>

  {{ govukFileUpload({
    id: params.id,
    name: params.name,
    label: params.label,
    hint: params.hint,
    classes: "app-js-hidden",
    attributes: { multiple: "", accept: params.attributes.accept, 'data-max-filesize': params.attributes['data-max-filesize'] },
    errorMessage: params.errorMessage,
    value: ""
  }) }}

  {{ govukButton({
    text: "Upload",
    classes: "govuk-button--secondary app-js-hidden",
    name: "upload",
    value: "upload",
    preventDoubleClick: true
  }) }}

  <p class="app-multi-file-upload__dropzone app-js-visible" data-dz-clickable data-dz-dropzone>
    Drag and drop files here or
    <label class="govuk-button govuk-button--secondary" data-dz-clickable>
      Choose files
    </label>
  </p>

  {{ _previewItem({
    classes: "app-hidden",
    attributes: { "data-dz-preview-template": "" }
  }) }}
</div>
