{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="app-multi-file-upload" data-module="app-multi-file-upload" data-xhr-url="{{ params.xhrUrl }}">
  <h2 class="govuk-body-l">{{ params.heading.text }}</h2>
  <dl class="app-multi-file-upload__list govuk-summary-list js-upload-list">
    {% for file in params.value %}
    <div class="govuk-summary-list__row app-row js-upload-row" data-document-id="{{ file.id }}">
      <dt class="govuk-summary-list__key app-row__key">
        {{ file.filename }}
      </dt>
      <dd class="govuk-summary-list__value app-row__value js-upload-message">
        <span class="app-multi-file-upload-message app-multi-file-upload-message__success">
          <span class="app-icon app-icon--tick"></span>File Uploaded!
        </span>
      </dd>
      <dd class="govuk-summary-list__actions app-row__actions js-upload-actions">
        {% set deleteLabel %}
          Delete <span class="govuk-visually-hidden">{{ file.filename }}</span>
        {% endset %}

        {{ govukButton({
          html: deleteLabel,
          classes: "govuk-button--secondary govuk-!-margin-bottom-0 js-upload-delete",
          name: "delete",
          value: file.id
        }) }}
      </dd>
    </div>
    {% endfor %}
  </dl>

  {{ govukFileUpload({
    id: params.id,
    name: params.name,
    classes: 'js-upload-file-input',
    label: params.label,
    hint: params.hint,
    attributes: { multiple: "" },
    value: "",
    errorMessage: params.errorMessage,
    formGroup: {
      classes: "js-file-form-group"
    }
  }) }}

  {{ govukButton({
    text: "Upload",
    classes: "govuk-button--secondary app-js-hidden",
    name: "upload",
    value: "upload"
  }) }}

</div>
