{% if moveSummary %}
  <div class="sticky-sidebar">
    <div class="sticky-sidebar__inner">
      <h3 class="govuk-heading-s app-border-top-2 app-border--blue govuk-!-padding-top-3 govuk-!-margin-bottom-2">
        {{ t("moves::move_details") }}
      </h3>

      {{ appMetaList(moveSummary) }}
    </div>
  </div>
{% endif %}
