{% if personSummary %}
  <div class="govuk-clearfix">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
      {{ t("person::summary_panel_heading") }}
    </h3>

    {% if personSummary.image.url %}
      <img
        src="{{ personSummary.image.url }}"
        alt="{{ personSummary.image.alt }}"
        class="govuk-!-margin-left-2 app-!-float-right"
        width="100"
        height="125"
      >
    {% endif %}

    {% if personSummary.metaList %}
      {{ appMetaList(personSummary.metaList) }}
    {% else %}
      {{ govukInsetText({
        classes: "govuk-inset-text--compact govuk-!-margin-0",
        text: t("awaiting_person")
      }) }}
    {% endif %}

    {% if personSummary.profileLink %}
      <p class="govuk-!-margin-top-3 govuk-!-margin-bottom-0 govuk-!-font-size-16">
        <a href="{{ personSummary.profileLink }}">
          {{ t("actions::view_profile") }}
        </a>
      </p>
    {% endif %}
  </div>
{% endif %}
