@import "font-corrections";
@import "govuk-frontend";
@import "moj-frontend";
@import "positioning";
@import "visibility";

body {
  overflow: hidden
}

.govuk-list-bullet-bottom-padding {
  padding-bottom: 1px;
}

.govuk-list-bullet-bottom-padding > li {
  margin-bottom: -13px;
}