.govuk-button--text {
  background: none;
  box-shadow: none;
  color: $govuk-link-colour;
  text-align: left;
  text-decoration: underline;
  padding-left: 0;
  padding-right: 0;

  &:link,
  &:visited {
    color: $govuk-link-colour;
    text-decoration: underline;
  }

  &:active {
    color: $govuk-link-active-colour;
    top: 0;
  }

  &:hover {
    color: $govuk-link-hover-colour;
    text-decoration: underline;
  }

  &:hover,
  &:focus {
    background: none;
  }
}

.govuk-button + .govuk-button {
  @include mq ($from: tablet) {
    margin-left: govuk-spacing(3);
  }
}
