// Adjustments for font baseline offset
// when not using NTA
.govuk-back-link {
  padding-bottom: 3px;
}

.govuk-button {
  padding-top: 8px;
  padding-bottom: 8px;
}

.govuk-button--start {
  padding-top: 9px;
  padding-bottom: 9px;
}

.govuk-tag {
  padding-top: 3px;
  padding-bottom: 3px;
}
