// required to allow the card component to be nested
// and to use the full width of the container
//
// previous value - display: inline-block;
.govuk-radios__label {
  display: block;
}

.govuk-summary-list__value .govuk-list--spaced > li:last-child {
  margin-bottom: 0;
}

.govuk-hint * {
  color: $govuk-secondary-text-colour;
}

.govuk-inset-text--compact {
  @include govuk-font($size: 16);
  border-left-width: 4px;
  color: $govuk-secondary-text-colour;
  padding: govuk-spacing(1) govuk-spacing(2);
}
