// required to allow the card component to be nested
// and to use the full width of the container
//
// previous value - display: inline-block;
.govuk-radios__label {
  display: block;
}

.govuk-summary-list__value,
.app-meta-list__value {
  .govuk-list--spaced > li:last-child {
    margin-bottom: 0;
  }
}

.govuk-checkboxes__conditional,
.govuk-radios__conditional {
  .govuk-textarea,
  &:last-of-type {
    margin-bottom: 0;
  }
}

.govuk-hint * {
  color: $govuk-secondary-text-colour;
}

.govuk-inset-text--compact {
  @include govuk-font($size: 16);
  border-left-width: 4px;
  color: $govuk-secondary-text-colour;
  padding: govuk-spacing(1) govuk-spacing(2);
}

.govuk-inset-text--important {
  border: 2px solid #b2b4b6;
  width: auto;
  display: inline-block;
  padding: 10px;
}

// Add support for mobile grid layouts
.govuk-grid-column-one-half-at-mobile {
  @include govuk-grid-column("one-half", $at: mobile);
}
.govuk-grid-column-one-quarter-at-mobile {
  @include govuk-grid-column("one-quarter", $at: mobile);
}
.govuk-grid-column-three-quarters-at-mobile {
  @include govuk-grid-column("three-quarters", $at: mobile);
}

// GOV.UK Summary list overrides
.govuk-summary-list__row {
  @include govuk-media-query($until: tablet) {
    margin-top: govuk-spacing(3);
  }
}

.govuk-summary-list--at-mobile {
  @include govuk-media-query($from: mobile) {
    display: table;
    width: 100%;
    table-layout: fixed; // Required to allow us to wrap words that overflow.
  }

  .govuk-summary-list__row {
    @include govuk-media-query($from: mobile) {
      display: table-row;
    }
  }

  .govuk-summary-list__key,
  .govuk-summary-list__value {
    @include govuk-media-query($from: mobile) {
      display: table-cell;
      padding-right: govuk-spacing(4);
      padding-top: govuk-spacing(2);
      padding-bottom: govuk-spacing(2);
      border-bottom: 1px solid $govuk-border-colour;
    }
  }

  .govuk-summary-list__key {
    @include govuk-media-query($from: mobile) {
      width: 30%;
    }
  }

  .govuk-summary-list__value {
    @include govuk-media-query($from: mobile) {
      width: 50%;
    }
  }

  // Expand width when value is last column (no action)
  .govuk-summary-list__value:last-child {
    @include govuk-media-query($from: mobile) {
      width: 70%;
    }
  }
}

.govkuk-template--white {
  background: govuk-colour("white");
}

.govuk-link--no-underline {
  text-decoration: none;
}
