.moj-badge {
  background-color: govuk-colour("white");
}

/* Changes to display the action inline */
.moj-organisation-nav__title {
  width: auto;
}

.moj-organisation-nav__link {
  @include govuk-media-query($from: tablet) {
    float: left;
    margin-left: govuk-spacing(3);
  }
}
