.app-\!-float-right {
  float: right !important;
}

.app-\!-float-left {
  float: left !important;
}

.app-\!-position-relative {
  position: relative !important;
}

@include govuk-media-query($from: tablet) {
  .app-\!-position-top-right {
    position: absolute;
    top: 0;
    right: 0;
  }
}
