.app-\!-float-right {
  float: right !important;
}

.app-\!-float-left {
  float: left !important;
}

.app-\!-position-relative {
  position: relative !important;
}

@include govuk-media-query($from: tablet) {
  // vertical offset used to align a side column to the keyline
  // of the GOV.UK tabs component
  .app-\!-tabs-offset {
    padding-top: 55px;
  }

  .app-\!-position-top-right {
    position: absolute;
    top: 0;
    right: 0;
  }
}
