{% from "govuk/components/table/macro.njk" import govukTable %}

{% from 'filter/macro.njk' import appFilter %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukTable( data ) }}
    </div>
  </div>
</div>
