{% extends "layouts/govuk.njk" %}

{% set relativeMoveDate = move.date | formatDateAsRelativeDay(false) %}

{% block pageTitle %}
  Move details for {{ fullname | upper }}
{% endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back to dashboard",
    href: "/"
  }) }}
{% endblock %}

{% block content %}
  <header>
    <h1 class="govuk-heading-xl">
      {{ fullname | upper }}
    </h1>
  </header>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        Personal details
      </h2>

      {{ govukSummaryList(personalDetailsSummary) }}
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="app-border-top-2 app-border--blue govuk-!-padding-top-4">
        <h3 class="govuk-heading-m">{{ fullname | upper }}</h3>

        {{ appMetaList(moveSummary) }}
      </div>
    </div>
  </div>
{% endblock %}
