.app-meta-list {
  @include govuk-font($size: 19);
  width: 100%;
  margin: 0;
}

.app-meta-list__item {
  & + & {
    margin-top: govuk-spacing(3);
  }
}

.app-meta-list--divider {
  .app-meta-list__item + .app-meta-list__item {
    border-top: 1px solid $govuk-border-colour;
    padding-top: govuk-spacing(3);
  }
}

.app-meta-list__key,
.app-meta-list__value {
  display: block;
}

.app-meta-list__key {
  @include govuk-typography-weight-bold;
}

.app-meta-list__value {
  margin: 0;
}
