.app-meta-list {
  @include govuk-font($size: 19);
  width: 100%;
  margin: 0;
}

.app-meta-list__item {
  & + & {
    margin-top: govuk-spacing(3);
  }
}

.app-meta-list--divider {
  .app-meta-list__item + .app-meta-list__item {
    border-top: 1px solid $govuk-border-colour;
    padding-top: govuk-spacing(3);
  }
}

.app-meta-list__key,
.app-meta-list__value {
  display: block;
  // Automatic wrapping for unbreakable text (e.g. URLs)
  word-wrap: break-word; // Fallback for older browsers only
  overflow-wrap: break-word;
}

.app-meta-list__key {
  @include govuk-typography-weight-bold;
}

.app-meta-list__value {
  margin: 0;

  > :last-child {
    margin: 0;
  }
}

.app-meta-list__action {
  margin: 0;
}

@include govuk-media-query($from: tablet) {
  .app-meta-list__item {
    position: relative;
  }

  .app-meta-list__action--sidebar {
    @include govuk-font($size: 16);
    position: absolute;
    top: 0;
    right: 0;
  }
}
