{% from 'meta-list/macro.njk' import appMetaList %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ appMetaList( data ) }}
    </div>
  </div>
</div>

