<dl class="app-meta-list {% if params.classes -%} {{ params.classes }}{%- endif %}">
  {% for item in params.items %}
    {% if item.value.text or item.value.html %}
      <div class="app-meta-list__item">
        <dt class="app-meta-list__key">
          {{ item.key.html | safe if item.key.html else item.key.text }}
        </dt>
        <dd class="app-meta-list__value">
          {{ item.value.html | safe if item.value.html else item.value.text }}
        </dd>
      </div>
    {% endif %}
  {% endfor %}
</dl>
