{# Load in GOV.UK Components that are used within repeating blocks #}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set itemName = params.itemName or t("item") %}
{% set items = params.items %}

<div class="moj-add-another">
  {{ params.hint.html | safe if params.hint.html else params.hint.text }}

  {% for item in items %}
    {% if item.html or item.text %}
      {% call govukFieldset({
        classes: 'moj-add-another__item app-!-position-relative',
        legend: {
          html: itemName + ' <span data-content="index">' + loop.index + '</span>',
          classes: 'govuk-fieldset__legend--m',
          isPageHeading: false
        }
      }) %}
        {% if not params.minItems or items.length > params.minItems %}
          <div class="app-add-another__remove-item">
            {{ govukButton({
              html: t("actions::remove_item", {
                name: itemName | lower,
                index: loop.index
              }),
              classes: "moj-add-another__remove-button govuk-button--secondary",
              name: "multiple-action",
              value: "remove::" + params.name + "::" + loop.index0,
              preventDoubleClick: true
            }) }}
          </div>
        {% endif %}

        {{ item.html | safe if item.html else item.text }}
      {% endcall %}
    {% endif %}
  {% endfor %}

  <div class="app-add-another__add-item {{ 'app-border-top-1 govuk-!-padding-top-5 govuk-!-margin-top-4' if items.length > 0 }}">
    {{ govukButton({
      text: t("actions::add_item", {
        context: "with_items" if items.length > 0,
        name: itemName | lower
      }),
      classes: "moj-add-another__add-button govuk-button--secondary",
      name: "multiple-action",
      value: "add::" + params.name,
      preventDoubleClick: true
    }) }}
  </div>
</div>
