.whats-new-banner {
	width: 100% ; 
	height: 279px;
	left: 0px;
	top: 178px;
	background: #F8F8F8;
}

.banner-padding {
	padding-top: 2%;
}

.dismiss-button {
	float: right;
	text-decoration-line: underline;
}