<div class="whats-new-banner">
  <div class="govuk-width-container">
    <div class="govuk-grid-row banner-padding">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">What's New</h1>
        <p class="govuk-body">12 February 2022: We’ve made it easier to see who has completed or updated the Person Escort Record in the history of events.<p>
        <a href="/whats-new" class="govuk-link">Read more about these changes.</a>
      </div>
      <div class="govuk-grid-column-one-third">
        <a href="#" id="dismiss-banner" class="govuk-link dismiss-button">Dismiss</a>
      </div>
    </div>
  </div>
</div>
