{% if not params.error %}
  <div id="whats-new-banner" class="whats-new-banner" data-module="app-whats-new-banner" data-content-date="{{ params.date }}">
    <div class="govuk-width-container">
      <div class="govuk-grid-row banner-padding">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ params.title }}</h1>
          <p class="govuk-body">{{ params.date }}: {{ params.body }}.<p>
          <a href="/whats-new" id="whats-new-page-link" class="govuk-link">Read more about these changes.</a>
        </div>
        <div class="govuk-grid-column-one-third">
          <a href="#" id="dismiss-banner-button" class="govuk-link dismiss-button">Dismiss</a>
        </div>
      </div>
    </div>
  </div>
{% endif %}