{% extends "layouts/base.njk" %}

{% block pageTitle %}
  {{ t(pageTitle) }} – {{ super() }}
{% endblock %}

{% block main %}
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <header class="govuk-width-container">
      <h1 class="govuk-heading-xl">
        {{ t(pageTitle) }}
      </h1>
    </header>

    <div style="background: #e0eef8;" class="govuk-!-padding-top-5 govuk-!-padding-bottom-5 govuk-!-margin-bottom-6">
      <div class="govuk-width-container">
        {% include "includes/search-form.njk" %}
      </div>
    </div>

    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        {% for key, section in sections %}
          {% if canAccess(section.permission) %}
            <section class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
                {{ t(section.heading) }}

                <span class="govuk-!-display-block">
                {% if section.period === 'week' %}
                  {{ currentWeek | formatDateRangeWithRelativeWeek }}
                {% else %}
                  {{ today | formatDateWithRelativeDay }}
                {% endif %}
                </span>
              </h2>

              {{ appFilter({
                items: section.filter,
                classes: "app-filter--stacked"
              }) }}
            </section>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}
