{% if params.responded or params.assessmentStatus === 'completed' or params.assessmentStatus === 'confirmed' %}
  {% if params.value and params.valueType %}
    {% if params.valueType === 'object::followup_comment' %}
      <p class="govuk-!-font-size-16">
        {{ params.value.option }}{{ " — " + params.value.details if params.value.details }}
      </p>
    {% endif %}

    {% if params.valueType === 'array' %}
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-top-0 govuk-!-font-size-16">
        {% for option in params.value %}
          <li>{{ option }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if params.valueType === 'collection::followup_comment' %}
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-top-0 govuk-!-font-size-16">
        {% for item in params.value %}
          <li>
            {{ item.option }}{{ " — " + item.details if item.details }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if params.valueType === 'string' %}
      <p class="govuk-!-font-size-16">
        {{ params.value }}
      </p>
    {% endif %}

    {{ params.afterContent.html | safe if params.afterContent.html else params.afterContent.text }}
  {% else %}
    <span class="app-secondary-text-colour">
      {{ t("empty_response") }}
    </span>
  {% endif %}
{% else %}
  {% if params.editable %}
    {% if params.prefilled %}
      <a href="{{ params.questionUrl }}">
        {{ t("actions::review_answer") }}<span class="govuk-visually-hidden"> - {{ params.headerText }}</span>
      </a>
    {% else %}
      <a href="{{ params.questionUrl }}">
        {{ t("actions::answer_question") }}<span class="govuk-visually-hidden"> - {{ params.headerText }}</span>
      </a>
    {% endif %}
  {% else %}
    <span class="app-secondary-text-colour">
          {{ t("awaiting_response") }}
        </span>
  {% endif %}
{% endif %}
