{% extends "form-wizard.njk" %}

{% block customGtagConfig %}
  gtag('set', {'page_title': 'Cancel move'});
{% endblock %}

{% block innerPageTitle %}
  {{ t("moves::cancel.page_title") }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: t("actions::back_to_move"),
    href: "/move/" + move.id
  }) }}

  {{ super() }}
{% endblock %}

{% block formActions %}
  {% if move.status != "proposed" %}
    {{ govukWarningText({
      html: t("moves::cancel.warning", {
        name: move.profile.person._fullname
      }),
      iconFallbackText: "Warning"
    }) }}
  {% endif %}
  {{ super() }}
{% endblock %}
