{% extends "layouts/list-view.njk" %}

{% block customGtagConfig %}
  gtag('set', {'page_title': 'Allocations'});
{% endblock %}

{% block headerGridColumnClass %}govuk-grid-column-full{% endblock %}

{% block headerActions %}
  {{ appFilter({
    items: allocationsSummary,
    classes: "app-filter--stacked"
  }) }}
{% endblock %}
