{% extends "moves/views/list-as-table.njk" %}

{% block headerActions %}
  {% if canAccess('allocation:create') %}
    {{ govukButton({
      isStartButton: true,
      text: t("actions::create_allocation"),
      href: "/allocation/new",
      classes: "govuk-!-margin-top-2 app-print--hide"
    }) }}
  {% endif %}
{% endblock %}
