.app-tag {
  @include govuk-font($size: 14, $weight: bold, $line-height: 1.25);

  display: inline-block;
  padding: 3px 8px;

  // When a user customises their colours often the background is removed,
  // by adding a outline we ensure that the tag component still keeps it's meaning.
  // https://accessibility.blog.gov.uk/2017/03/27/how-users-change-colours-on-websites/
  outline: 2px solid transparent;
  outline-offset: -2px;

  color: govuk-colour("white");
  background-color: govuk-colour("blue");

  letter-spacing: 1px;
  text-transform: uppercase;

  &:active,
  &:link,
  &:hover,
  &:visited,
  &:focus {
    color: govuk-colour("white");
  }

  &:focus {
    background-color: govuk-colour("blue");
  }

  // create s
  & + & {
    margin-top: govuk-spacing(1);
  }

  @include govuk-media-query($media-type: print) {
    background: govuk-colour("white") !important;
    border: 2px solid govuk-colour("blue");
    color: govuk-colour("black") !important;
    padding: 2px 5px;
    text-decoration: none;

    &[href^="/"],
    &[href^="http://"],
    &[href^="https://"] {
      &::after {
        content: "";
      }
    }
  }
}

// Set hover state only if link tag
a.app-tag {
  &:hover {
    color: rgba(255, 255, 255, 0.9);
  }
}

// Modifiers for different colours
.app-tag--inactive {
  background-color: govuk-colour("dark-grey");

  &:focus {
    background-color: govuk-colour("dark-grey");
  }

  @include govuk-media-query($media-type: print) {
    border-color: govuk-colour("black");
  }
}

.app-tag--destructive {
  background-color: govuk-colour("red");

  &:focus {
    background-color: govuk-colour("red");
  }

  @include govuk-media-query($media-type: print) {
    border-color: govuk-colour("red");
  }
}

.app-tag--warning {
  background-color: govuk-colour("yellow");
  color: govuk-colour("black");

  &:focus {
    background-color: govuk-colour("yellow");
    color: govuk-colour("black");
  }

  @include govuk-media-query($media-type: print) {
    border-color: govuk-colour("yellow");
  }
}

a.app-tag--warning {
  &:active,
  &:link,
  &:hover,
  &:visited,
  &:focus {
    color: govuk-colour("black");
  }
}
