{% extends "./_layout.njk" %}

{% block headerGridColumnClass %}govuk-grid-column-full view-dashboard{% endblock %}

{% block headerActions %}
  {{ appFilter({
    items: moveTypeNavigation,
    classes: "app-filter--stacked"
  }) }}
{% endblock %}
