{% extends "layouts/base.njk" %}

{% block pageTitle %}
  {{ t(pageTitle) }} – {{ super() }}
{% endblock %}

{% block content %}
  <header>
    <h1 class="govuk-heading-xl">
      {{ t("dashboard::your_overview") }}
    </h1>
  </header>

  <div class="govuk-grid-row">
    <section class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
        {{ t("dashboard::sections.single_requests.heading") }}
      </h2>

      {{ appFilter({
        items: dashboardMoveSummary,
        classes: "app-filter--stacked"
      }) }}
    </section>
  </div>
{% endblock %}
