{% extends "layouts/list-view.njk" %}

{% block headerActions %}{% endblock %}

{% block headerLinks %}{% endblock %}

{% block pageContent %}
  {{ appFilter({
    items: dashboardMoveSummary,
    classes: "app-filter--stacked"
  }) }}
{% endblock %}
