{% extends "layouts/govuk.njk" %}

{% set relativeMoveDate = move.date | formatDateAsRelativeDay(false) %}

{% block pageTitle %}
  Move details for {{ fullname | upper }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to dashboard",
    href: "/"
  }) }}

  {{ super() }}
{% endblock %}

{% block content %}
  <header class="govuk-!-margin-bottom-8">
    <span class="govuk-caption-xl">
      {{ move.reference }}
    </span>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
      {{ fullname | upper }}
    </h1>

    {% if tagList | length %}
      <div class="govuk-!-margin-top-2">
        {% for tag in tagList %}
          {{ appTag(tag) }}
        {% endfor %}
      <div>
    {% endif %}
  </header>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        Personal details
      </h2>

      {{ govukSummaryList(personalDetailsSummary) }}

      {% include "moves/views/_includes/assessment.njk" %}
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="app-border-top-2 app-border--blue govuk-!-padding-top-4">
        <h3 class="govuk-heading-m">{{ fullname | upper }}</h3>

        {{ appMetaList(moveSummary) }}
      </div>
    </div>
  </div>
{% endblock %}
