{% extends "./_layout.njk" %}

{% block pageContent %}
  {% if canAccess('moves:download') %}
    {{ govukButton({
      isStartButton: true,
      text: t("actions::download"),
      href: REQUEST_PATH + "/download.csv",
      classes: "govuk-!-margin-top-2 app-print--hide"
    }) }}
  {% endif %}
{% endblock %}
