{% extends "layouts/govuk.njk" %}

{% block pageTitle %}
  {{ t(pageTitle, {
    date: moveDate | formatDateAsRelativeDay
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{ t(pageTitle) }}</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
        {{ appTime({
          datetime: moveDate,
          text: moveDate | formatDateAsRelativeDay
        }) }}
      </h1>

      {{ appPagination({
        classes: "app-pagination--inline app-print--hide",
        previous: {
          href: pagination.prevUrl,
          text: t("actions:previous_day")
        },
        next: {
          href: pagination.nextUrl,
          text: t("actions:next_day")
        }
      }) }}

      {{ govukButton({
        text: t("actions:create_move"),
        href: "/moves/new",
        classes: "govuk-button--start govuk-!-margin-top-2 app-print--hide"
      }) }}
    </div>

    <div class="govuk-grid-column-one-third">
      <a href="/moves/download.csv?move-date={{ moveDate }}" class="app-!-float-right">
        {{ t("actions:download_csv") }}
      </a>
    </div>
  </div>

  {% for destination in destinations %}
    <div class="
      govuk-!-margin-top-7
      app-border-top-2
      app-border--black
      ">
      <div class="govuk-!-padding-top-2 govuk-!-padding-bottom-2">
        {{ appData({
          inverted: true,
          classes: "app-data--s",
          label: t("moves:dashboard.move_to"),
          value: destination.location.title
        }) }}
      </div>

      {% for move in destination.items %}
        {{ appCard(move) }}
      {% endfor %}
    </div>
  {% endfor %}

{% endblock %}
