{% extends "layouts/list.njk" %}

{% block pageContent %}
  {% for destination in destinations %}
    <div class="
      govuk-!-margin-top-7
      app-border-top-2
      app-border--black
      ">
      <div class="govuk-!-padding-top-2 govuk-!-padding-bottom-2">
        {{ appData({
          inverted: true,
          classes: "app-data--s",
          label: t("moves::dashboard.move_to"),
          value: destination.location
        }) }}
      </div>

      {% for move in destination.items %}
        {{ appCard(move) }}
      {% endfor %}
    </div>
  {% else %}
    {{ appMessage({
      classes: "app-message--muted govuk-!-margin-top-7",
      allowDismiss: false,
      content: {
        html: t("moves::dashboard.no_results")
      }
    }) }}
  {% endfor %}

  {% if cancelledMoves.length %}
    <div class="govuk-!-margin-top-9">
      {% set cancelledMovesHtml %}
        {% for cancelledMove in cancelledMoves %}
          {{ appCard(cancelledMove) }}
        {% endfor %}
      {% endset %}

      {{ govukDetails({
        html: cancelledMovesHtml,
        summaryText: t("moves::dashboard.cancelled_moves", {
          count: cancelledMoves.length
        })
      }) }}
    </div>
  {% endif %}
{% endblock %}
