{% extends "layouts/list.njk" %}

{% block pageContent %}
  {% if totalResults > 0 %}
    {{ appFilter({
      items: filter
    }) }}

    {% if resultsAsTable.active.rows.length %}
      {{ govukTable(resultsAsTable.active) }}
    {% else %}
      {{ appMessage({
        classes: "app-message--muted govuk-!-margin-top-7",
        allowDismiss: false,
        content: {
          html: t("moves::dashboard.single_moves_no_results", {
            context: activeContext
          })
        }
      }) }}
    {% endif %}
  {% else %}
    {{ appMessage({
      classes: "app-message--muted govuk-!-margin-top-7",
      allowDismiss: false,
      content: {
        html: t("moves::dashboard.single_moves_no_results")
      }
    }) }}
  {% endif %}
{% endblock %}
