$_image-width: 80px;
$_image-height: 100px;

.app-card {
  @include govuk-clearfix;
  border-top: 1px solid $govuk-border-colour;
  padding-top: govuk-spacing(3);
  padding-bottom: govuk-spacing(3);

  .govuk-checkboxes &,
  .govuk-radios & {
    border-top: 0;
    border-bottom: 1px solid $govuk-border-colour;
    padding-top: 0;
    margin-top: -8px;
  }

  .govuk-inset-text {
    margin: govuk-spacing(3) 0 0;
  }
}

.app-card--compact {
  border: 0;
  padding: 0;
}

.app-card--placeholder {
  padding-top: govuk-spacing(3);
  padding-bottom: govuk-spacing(3);
}

.app-card__aside {
  float: left;

  .app-card--placeholder & {
    display: none;
  }
}

.app-card__image {
  display: block;
  width: $_image-width;
  height: $_image-height;
}

.app-card__badge {
  display: inline-block;
  margin-bottom: govuk-spacing(2);

  @include mq($from: desktop) {
    float: right;
    margin-bottom: 0;
    margin-left: govuk-spacing(3);
    margin-right: govuk-spacing(3);
  }
}

.app-card__caption {
  @include govuk-font($size: 16);
  color: govuk-colour("dark-grey");
}

.app-card__title {
  @include govuk-font($size: 19, $weight: bold);
  margin: 0;

  .govuk-checkboxes &,
  .govuk-radios & {
    margin-top: 8px;
  }
}

.app-card__content {
  .app-card--with-aside & {
    margin-left: $_image-width + govuk-spacing(3);
  }

  .app-card--placeholder & {
    background: govuk-colour("light-grey");
    border-left: 5px solid govuk-colour("dark-grey");
    padding-bottom: govuk-spacing(3);
    padding-left: govuk-spacing(3);
    padding-top: govuk-spacing(3);
    margin-left: 0;
  }
}

.app-card__meta-list {
  @include govuk-font($size: 16);
  width: 100%;
  margin: govuk-spacing(2) 0 0;

  @include mq($from: desktop) {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-gap: govuk-spacing(5);
  }
}

.app-card__meta-list-item {
  & + & {
    margin-top: govuk-spacing(2);

    @include mq($from: desktop) {
      margin-top: 0;
    }
  }
}

.app-card__meta-list-key,
.app-card__meta-list-value {
  display: block;
}

.app-card__meta-list-key {
  @include govuk-typography-weight-bold;
}

.app-card__meta-list-value {
  margin: 0;
}

.app-card__tag-list {
  list-style: none;
  margin: govuk-spacing(2) 0 0;
  padding: 0;
}

.app-card__tag-list-item {
  display: inline-block;

  & + & {
    margin-top: govuk-spacing(1);
  }
}
