{% from "tag/macro.njk" import appTag %}
{% from "moj/components/badge/macro.njk" import mojBadge %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set headingLevel = params.headingLevel if params.headingLevel else 2 %}

<div class="app-card{%- if params.image_path %} app-card--with-aside{% endif %}{%- if params.classes %} {{ params.classes }}{% endif %}">
  {% if params.image_path %}
    <aside class="app-card__aside">
      <img class="app-card__image" src="{{ params.image_path }}" alt="{{ params.image_alt }}">
    </aside>
  {% endif %}

  <div class="app-card__content">
    <header class="app-card__header">
      {% if params.status %}
        <span class="app-card__badge">
          {{ mojBadge(params.status) }}
        </span>
      {% endif %}

      <h2 class="app-card__title">
        {% if params.href %}
          <a href="{{ params.href }}"  class="app-card__link">
        {% endif %}
        {{ params.title.html | safe if params.title.html else params.title.text }}
        {% if params.href %}
          </a>
        {% endif %}
      </h2>

      {% if params.caption.html or params.caption.text %}
        <span class="app-card__caption">
          {{ params.caption.html | safe if params.caption.html else params.caption.text }}
        </span>
      {% endif %}
    </header>

    {% if params.meta.items.length %}
      <dl class="app-card__meta-list">
        {% for item in params.meta.items %}
          {% if item.label and (item.html or item.text) %}
            <div class="app-card__meta-list-item">
              <dt class="app-card__meta-list-key{% if item.hideLabel %} govuk-visually-hidden{% endif %}">
                {{ item.label.html | safe if item.label.html else item.label.text }}
              </dt>
              <dd class="app-card__meta-list-value">
                {{ item.html | safe if item.html else item.text }}
              </dd>
            </div>
          {% endif %}
        {% endfor %}
      </dl>
    {% endif %}

    {% for tagList in params.tags %}
      {% if tagList.items.length %}
        <ul class="app-card__tag-list">
          {% for item in tagList.items %}
            <li class="app-card__tag-list-item">
              {{ appTag(item) }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}

    {% if params.insetText %}
      {{ govukInsetText(params.insetText) }}
    {% endif %}

    {% if params.isLockout %}
      <div class="govuk-!-padding-top-3">
        {{ govukWarningText({
          text: t("moves::is_lockout"),
          iconFallbackText: "Warning"
        }) }}
      </div>
    {% elif params.isLodging %}
        <div class="govuk-!-padding-top-3">
          {{ govukWarningText({
            text: t("moves::is_lodging"),
            iconFallbackText: "Warning"
          }) }}
        </div>
      {% endif %}
  </div>
</div>
