{% from 'data/macro.njk' import appData %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ appData( data ) }}
    </div>
  </div>
</div>
