{% set element = params.element if params.element else "div" %}

<{{ element }}
  class="app-data{% if params.classes %} {{ params.classes }}{% endif %}"
  >
  {% if params.inverted %}
    <span class="app-data__label">
      {{ params.label }}
    </span>
  {% endif %}

  <span class="app-data__value">
    {{ params.value | safe }}
  </span>

  {% if not params.inverted %}
    <span class="app-data__label">
      {{ params.label }}
    </span>
  {% endif %}
</{{ element }}>
