$_icon-width: 20px;
$_icon-height: 20px;

.app-icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: $_icon-width $_icon-height;
  background-position: left center;
  padding-left: $_icon-width + govuk-spacing(2);
  min-height: $_icon-height;
}

.app-icon--print {
  background-image: url("../images/print-icon.png");

  @include govuk-device-pixel-ratio {
    background-image: url("../images/print-icon@2x.png");
  }
}

.app-icon--download {
  background-image: url("../images/download-icon.png");

  @include govuk-device-pixel-ratio {
    background-image: url("../images/download-icon@2x.png");
  }
}

.app-icon--tick {
  background-image: url("../images/tick-icon.png");

  @include govuk-device-pixel-ratio {
    background-image: url("../images/tick-icon@2x.png");
  }
}

.app-icon--switch {
  background-image: url("../images/switch-icon.png");

  @include govuk-device-pixel-ratio {
    background-image: url("../images/switch-icon@2x.png");
  }
}


.app-icon--warning {
  background-image: url("../images/warning-icon.png");

  @include govuk-device-pixel-ratio {
    background-image: url("../images/warning-icon@2x.png");
  }
}
