.prison-lockout-banner {
  background: #F8F8F8;
  height: 80px;
  width: 500%;
  margin-left: -200%;
}

.prison-lockout-banner-content {
  margin-left: 40%;
  padding-top: 18px;
}

.prison-lockout-banner-button {
  margin-left: 17.6%;
}