.sticky-sidebar {
  will-change: min-height;
}

.sticky-sidebar__inner {
  transform: translate(0, 0); /* For browsers don't support translate3d. */
  transform: translate3d(0, 0, 0);
  will-change: position, transform;

  @include mq ($until: tablet) {
    position: static !important;
  }
}

.sticky-header.sticky {
  background: govuk-colour("white");
  border-bottom: 1px solid $govuk-border-colour;
  left: 0 !important;
  width: 100% !important;
  z-index: 100;

  .sticky-header__inner {
    @include govuk-width-container();
  }
}
