.moj-sub-navigation {
  margin-bottom: 0;
  .moj-sub-navigation__item {
    &:last-child {
      @include govuk-media-query($from: tablet) {
        float: right;
        margin-right: 0;
        position: relative;
        a {
          &::before {
            content: " ";
            background: url("../images/icon-search-blue.svg") no-repeat center left;
            background-size: cover;
            width: 20px;
            height: 20px;
            position: absolute;
            left: -40px;
          }
        }
      }
    }
  }
}
