/* ==========================================================================
    #TIMELINE OVERRIDE STYLES
    ========================================================================== */

.moj-timeline {
  overflow: visible;

  &:before {
    display: none;
  }
}

.moj-timeline__item:last-child {
  padding-bottom: 0;

  &:after {
    display: none;
  }
}

.moj-timeline__item {
  &:after {
    background-color: $govuk-brand-colour;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: govuk-spacing(2);
    width: 5px;
  }
}

.moj-timeline__description {
  margin-top: govuk-spacing(1);
}

.moj-timeline__date {
  @include govuk-font($size: 16);
  color: $govuk-secondary-text-colour;
}

.moj-timeline__byline {
  @include govuk-font($size: 16);
  color: $govuk-secondary-text-colour;
}
