<div class="app-timeline {{- ' ' + params.classes if params.classes}}" {%- for attribute, value in params.attributes -%} {{ attribute }}="{{ value }}"{% endfor %}>

  {%- for item in params.items %}
  <div id="{{ item.id }}" class="app-timeline__item {{- ' ' + item.classes if item.classes}}" {%- for attribute, value in item.attributes -%} {{ attribute }}="{{ value }}"{% endfor %}>
    <div class="app-timeline__item__container {{- ' ' + item.container.classes if item.container.classes}}">

      <div class="app-timeline__header {{- ' ' + item.header.classes if item.header.classes}}">
        <h{{ params.headingLevel | default(2) }} class="app-timeline__title {{- ' ' + item.label.classes if item.label.classes}}">
          {{- item.label.html | safe if item.label.html else item.label.text -}}
        </h{{ params.headingLevel | default(2) }}>
      </div>

      <div class="app-timeline__description {{- ' ' + item.description.classes if item.description.classes}}">
        {{- item.html | safe if item.html else item.text -}}
      </div>

      <p class="app-timeline__date {{- ' ' + item.datetime.classes if item.datetime.classes}} ">
        <time datetime="{{ item.datetime.timestamp }}">
          {%- if item.datetime.type %}
            {{- item.datetime.timestamp | formatDateWithTimeAndDay -}}
          {% else %}
            {{- item.datetime.timestamp | date(item.datetime.format) -}}
          {% endif -%}
        </time>
      </p>

      {% if item.byline.html or item.byline.text %}
        <div class="app-timeline__byline {{- ' ' + item.byline.classes if item.byline.classes }}">
          by {{ item.byline.html | safe if item.byline.html else item.byline.text }}
        </div>
      {% endif %}

    </div>
  </div>
  {% endfor -%}

</div>
