{{ appTimelineItemHeading(params, item) }}

<div class="moj-timeline__content">
  {{ appTimelineItemDescription(params, item) }}
  {{ appTimelineItemDate(params, item) }}
  {{ appTimelineItemAdditional(params, item) }}
</div>
