{% extends "layouts/base.njk" %}

{% block customGtagConfig %}
  gtag('set', {'page_title': 'Move details'});
{% endblock %}

{% block pageTitle %}
  {{ getPageTitle() | join(' – ') if getPageTitle }}
{% endblock %}

{% macro _sidebarSection(params) %}
  {% set borderClasses = "app-border-top-2 app-border--blue" if params.first else "app-border-top-1" %}

  <section class="{{ borderClasses }} govuk-!-padding-top-3 govuk-!-margin-bottom-7">
    {{ caller() if caller }}
  </section>
{% endmacro %}

{% block content %}
  {% if messageBanner %}
    <div class="govuk-!-margin-bottom-5">
      {{ appMessage(messageBanner) }}
    </div>
  {% endif %}

  {% block contentHeader %}
    {{ appIdentityBar(identityBar) }}
  {% endblock %}

  {% block contentContainer %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

      {% block contentMain %}

        {% block tabsList %}
          {% include 'includes/tabs.njk' %}
        {% endblock %}

        {% block tabContent %}
        {% endblock %}

      {% endblock %}

    </div>

    <aside class="govuk-grid-column-one-third app-!-tabs-offset">

      {% block contentSidebar %}

        {% call _sidebarSection({ first: true }) %}
          {% include "includes/person-summary.njk" %}
        {% endcall %}

        {% call _sidebarSection() %}
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            {{ t("moves::move_details") }}
          </h3>

          {{ appMetaList(moveDetails) }}

          <p class="govuk-!-margin-top-3 govuk-!-margin-bottom-0 govuk-!-font-size-16">
            <a href="{{ urls.move.details }}#tabs">
              {{ t("actions::view_or_edit_move_details") }}
            </a>
          </p>
        {% endcall %}

        {% if actions | length %}
          {% call _sidebarSection() %}
            <ul class="govuk-list govuk-!-margin-0 govuk-!-font-size-16">
              {% for action in actions %}
                <li class="{{ action.itemClasses }}">
                  <a href="{{ action.url }}" class="{{ action.classes }}">
                    {{ t(action.text) }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endcall %}
        {% endif %}

      {% endblock %}

    </aside>

  </div>
  {% endblock %}
{% endblock %}
