{% extends "layouts/base.njk" %}

{% block customGtagConfig %}
  gtag('set', {'page_title': 'Move details'});
{% endblock %}

{% block pageTitle %}
  {{ getPageTitle() | join(' – ') if getPageTitle }}
{% endblock %}

{% block content %}
  {% block contentHeader %}{% endblock %}

  {% block contentContainer %}
  <div class="govuk-grid-row">

    <aside class="govuk-grid-column-one-third">

      {% block contentSidebar %}

        <h3 class="govuk-heading-m app-border-top-2 app-border--blue govuk-!-padding-top-3 govuk-!-margin-bottom-3">
          {{ t("moves::move_details") }}
        </h3>

        {{ appMetaList(moveDetails) }}

        {% if actions | length %}
          <ul class="govuk-list govuk-!-margin-top-4 govuk-!-margin-bottom-0">
            {% for action in actions %}
              <li>
                <a href="{{ action.url }}" class="{{ action.classes }}">
                  {{ t(action.text) }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}

      {% endblock %}

    </aside>

    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

      {% block contentMain %}

        {% block tabsList %}
          {% if tabs %}
            <div class="govuk-tabs">
              <ul class="govuk-tabs__list">
                {% for item in tabs %}
                  <li class="govuk-tabs__list-item {{- ' govuk-tabs__list-item--selected' if item.isActive }}">
                    <a class="govuk-tabs__tab" href="{{ item.url }}">
                      {{ t(item.text) }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endblock %}

        {% block tabContent %}
        {% endblock %}

      {% endblock %}

    </div>

  </div>
  {% endblock %}
{% endblock %}
