{% extends "layouts/base.njk" %}

{% block customGtagConfig %}
  gtag('set', {'page_title': 'Move details'});
{% endblock %}

{% block pageTitle %}
  {{ getPageTitle() | join(' – ') if getPageTitle }}
{% endblock %}

{% macro _sidebarSection(borderTopClasses = true, borderBottomClasses = true) %}
  {% set top = "app-border-top-2 app-border--blue govuk-!-padding-top-3" if borderTopClasses else "" %}
  {% set bottom = "govuk-!-margin-bottom-7" if borderBottomClasses else "govuk-!-margin-bottom-2" %}

  <section class="{{ top }} {{ bottom }}">
    {{ caller() if caller }}
  </section>
{% endmacro %}

{% block content %}
  {% if messageBanner %}
    <div class="govuk-!-margin-bottom-5">
      {{ appMessage(messageBanner) }}
    </div>
  {% endif %}

  {% block contentHeader %}
    {{ appIdentityBar(identityBar) }}
  {% endblock %}

  {% if moveIsLockout %}
    <div class="govuk-!-margin-bottom-6 prison-lockout-banner">
      <div class="govuk-width-container prison-lockout-banner-content">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            {{ govukWarningText({
              text: t("moves::is_lockout"),
              iconFallbackText: "Warning"
            }) }}
          </div>

          <div class="govuk-grid-column-one-half govuk-!-text-align-right">
            {% if moveLodgingStarted %}
              {% if canAccess('move:lockout:add_events') and not moveLodgingEnded and (not moveLockoutHandover or not moveLockoutHandover.recorded) %}
                <a href="/move/{{moveId}}/police-custody-form" class="govuk-button">Add events</a>
              {% endif %}

              {% if canAccess('move:lockout:handover') and moveLockoutHandover and not moveLockoutHandover.recorded %}
                <a href="/move/{{moveId}}/person-escort-record/confirm" class="govuk-button">Record handover</a>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% elif moveLodgingStarted %}
    <div class="govuk-!-margin-bottom-6 prison-lockout-banner">
      <div class="govuk-width-container prison-lockout-banner-content">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            {{ govukWarningText({
              text: t("moves::is_lodging"),
              iconFallbackText: "Warning"
            }) }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% block contentContainer %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

      {% block contentMain %}

        {% block tabsList %}
          {% include 'includes/tabs.njk' %}
        {% endblock %}

        {% block tabContent %}
        {% endblock %}

      {% endblock %}

    </div>

    <aside class="govuk-grid-column-one-third app-!-tabs-offset">

      {% block contentSidebar %}

        {% call _sidebarSection({ first: true }) %}
          {% include "includes/person-summary.njk" %}
        {% endcall %}

        {% call _sidebarSection(borderBottomClasses = false) %}
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            {{ t("moves::move_details") }}
          </h3>

          {{ appMetaList(moveDetails) }}

          <p class="govuk-!-margin-top-3 govuk-!-margin-bottom-0 govuk-!-font-size-16">
            <a href="{{ urls.move.details }}#tabs">
              {{ t("actions::view_or_edit_move_details") }}
            </a>
          </p>
        {% endcall %}

        {% if actions | length %}
          {% call _sidebarSection(false, false) %}
            <ul class="govuk-list govuk-!-margin-0 govuk-!-font-size-16">
              {% for action in actions %}
                <li class="{{ action.itemClasses }}">
                  <a href="{{ action.url }}" class="{{ action.classes }}">
                    {{ t(action.text) }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endcall %}
        {% endif %}

      {% endblock %}

    </aside>

  </div>
  {% endblock %}
{% endblock %}
