{% extends "./_layout.njk" %}

{% block customGtagConfig %}
  gtag('set', {'page_title': 'Warnings – Move'});
{% endblock %}

{% macro renderAssessmentComponent(assessment) %}
  {% if assessment.isCompleted == false %}
    {{ govukInsetText({
      classes: "govuk-!-font-size-16 govuk-!-margin-0",
      text: t("assessment::section_incomplete", {
        context: "locked" if not moveIsEditable,
        section: assessment.name | replace(" information", "")
      })
    }) }}
  {% elif assessment.count > 0 %}
    {% if assessment.groupedPanels %}
      {% for groupedPanel in assessment.groupedPanels %}
        {% if groupedPanel.heading %}
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-margin-top-2">
            {{ groupedPanel.heading }}
          </h3>
        {% endif %}
        {% if groupedPanel.panels %}
          {% for panel in groupedPanel.panels %}
            {{ appPanel(panel) }}
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% elif assessment.panels %}
      {% for panel in assessment.panels %}
        {{ appPanel(panel) }}
      {% endfor %}
    {% else %}
      {{ govukSummaryList(assessment) }}
    {% endif %}
  {% else %}
    {{ appMessage({
      classes: "app-message--muted govuk-!-margin-top-2",
      allowDismiss: false,
      content: {
        classes: "govuk-!-font-size-16",
        html: t('assessment::no_items.text', {
          context: assessment.context or assessment.key,
          name: assessment.name | lower,
          url: assessment.url
        })
      }
    }) }}
  {% endif %}

  {% if (assessment.url and assessment.isCompleted and assessment.key != 'in-transit-events') %}
    <p class="govuk-!-font-size-16 govuk-!-margin-top-2">
      <a href="{{ assessment.url }}">
        {{ t("assessment::view_framework_section", {
          name: assessment.name | lower
        }) }}
      </a>
    </p>
  {% endif %}
{% endmacro %}

{% block tabContent %}
  {% if warnings.sections %}
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      {{ t("assessment::overview") }}
    </h2>

    <div data-tag-list-source="person-escort-record">
      {% if warnings.tagList | length or warnings.importantEventsTagList | length %}
        {% for tag in warnings.tagList %}
          {{ appTag(tag) }}
        {% endfor %}

        {% if warnings.importantEventsTagList | length %}
          <div class="govuk-!-margin-top-2" data-tag-list-source="move-important-events">
            {% for tag in warnings.importantEventsTagList %}
              {{ appTag(tag) }}
            {% endfor %}
          </div>
        {% endif %}
      {% else %}
        {{ govukInsetText({
          classes: "govuk-!-font-size-16 govuk-!-margin-top-0",
          text: t("assessment::incomplete_overview", {context: "locked" if not moveIsEditable})
        }) }}
      {% endif %}
    </div>

    {% if warnings.sections | length %}
      {% for section in warnings.sections %}
        <section class="app-!-position-relative govuk-!-margin-top-7">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            {{ section.name or t('assessment::heading.text', {
              context: section.key
            }) }}
          </h2>

          {{ renderAssessmentComponent(section) }}
        </section>
      {% endfor %}
    {% endif %}
  {% else %}
    {{ govukInsetText({
      classes: "govuk-!-font-size-16",
      text: t("assessment::warnings_started")
    }) }}
  {% endif %}

{% endblock %}
