{% extends "./_layout.njk" %}

{% macro renderAssessmentComponent(assessment) %}
  {% if assessment.isCompleted == false %}
    {{ govukInsetText({
      classes: "govuk-inset-text--compact govuk-!-margin-0",
      text: t("assessment::section_incomplete")
    }) }}
  {% elif assessment.count > 0 %}
    {% if assessment.panels %}
      {% for panel in assessment.panels %}
        {{ appPanel(panel) }}
      {% endfor %}
    {% else %}
      {{ govukSummaryList(assessment) }}
    {% endif %}
  {% else %}
    {{ appMessage({
      classes: "app-message--muted govuk-!-margin-top-2",
      allowDismiss: false,
      content: {
        html: t('assessment::no_items.text', {
          context: assessment.context or assessment.key,
          name: assessment.name,
          url: assessment.url
        })
      }
    }) }}
  {% endif %}
{% endmacro %}

{% block tabContent %}

  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
    {{ t("assessment::overview") }}
  </h2>

  <div data-tag-list-source="person-escort-record">
    {% for tag in warnings.tagList %}
      {{ appTag(tag) }}
    {% else %}
      {{ govukInsetText({
        classes: "govuk-inset-text--compact govuk-!-margin-0",
        text: t("assessment::incomplete")
      }) }}
    {% endfor %}
  </div>

  {% if warnings.sections | length %}

    {% for section in warnings.sections %}
      <section class="app-!-position-relative govuk-!-margin-top-7">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          {{ section.name or t('assessment::heading.text', {
            context: section.key
          }) }}
        </h2>

        {{ renderAssessmentComponent(section) }}
      </section>
    {% endfor %}

  {% endif %}

{% endblock %}
