$_border-width: 2px;

.app-panel {
  background-color: govuk-colour("light-grey");
  border: $_border-width solid govuk-colour("mid-grey");
  padding: govuk-spacing(3);
  position: relative;

  & + & {
    margin-top: govuk-spacing(2);
  }

  &:focus {
    outline: $govuk-focus-width solid $govuk-focus-colour;
  }
}

// If panel contains a tag component, style based on this parent
.app-panel .app-tag {
  position: absolute;
  left: -($_border-width);
  top: -($_border-width);

  & + * {
    margin-top: govuk-spacing(4);
  }
}
