{% from 'panel/macro.njk' import appPanel %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ appPanel( data ) }}
    </div>
  </div>
</div>
