<div class="app-map" data-module="app-map" data-points="{{ params.geoData.points }}" data-lines="{{ params.geoData.lines }}" data-tile-url={{ params.tileUrl }}>
  <div id="app-map" class="app-map__viewport" data-map-viewport></div>
</div>
