{% extends "layouts/collection.njk" %}

{% block pageContent %}
  {% if totalResults > 0 %}
    {{ appFilter({
      items: filter
    }) }}
  {% endif %}

  {{ appRequestFilter(requestFilters) }}

  {% if totalResults > 0 %}
    {% if resultsAsTable.active.rows.length %}
      {{ govukTable(resultsAsTable.active) }}
    {% else %}
      {{ appMessage({
        classes: "app-message--muted govuk-!-margin-top-7",
        allowDismiss: false,
        content: {
          html: t("collections::no_results", {
            context: context + ("_" + activeStatus if activeStatus)
          })
        }
      }) }}
    {% endif %}
  {% else %}
    {{ appMessage({
      classes: "app-message--muted govuk-!-margin-top-7",
      allowDismiss: false,
      content: {
        html: t("collections::no_results", {
          context: context
        })
      }
    }) }}
  {% endif %}

  {% if resultsAsTable.cancelled.rows.length %}
    <div class="govuk-!-margin-top-9">
      {% set html %}
          {{ govukTable(resultsAsTable.cancelled) }}
      {% endset %}

      {{ govukDetails({
        html: html,
        summaryText: t("collections::cancelled", {
          context: context,
          count: resultsAsTable.cancelled.rows.length
        })
      }) }}
    </div>
  {% endif %}
{% endblock %}
