{% extends "layouts/collection.njk" %}

{% block pageContent %}
  {% for group in resultsAsCards %}
    {% set expectedTime %}
      {% if group.expectedTime %}
        {{ appTime({
          datetime: group.expectedTime,
          text: group.expectedTime | formatTime
        }) }}

        {% if group.showRelativeTime %}
          {{ appTime({
            datetime: group.expectedTime,
            text: group.expectedTime | formatTime,
            relative: true,
            displayAsTag: true,
            imminentOffset: 60
          }) }}
        {% endif %}
      {% else %}
        {{ t("collections::labels.no_expected_time") }}
      {% endif %}

      {% if group.isComplete %}
        {{ govukTag({
          html: t("collections::labels.complete", {
            context: group.context
          }),
          classes: "govuk-tag--green"
        }) }}
      {% endif %}
    {% endset %}

    <div class="
      govuk-!-margin-top-7
      app-border-top-2
      app-border--black
      " data-location-group>
      <div class="govuk-grid-row govuk-!-padding-bottom-2">
        {% for item in group.header %}
          <h2>
          {{ appData({
            inverted: true,
            classes:
              "app-data--s " +
              (item.classes or "govuk-grid-column-full"),
            label: item.label,
            value: item.value
          }) }}
          </h2>
        {% endfor %}
      </div>

      {% for item in group.items %}
        {{ appCard(item) }}
      {% endfor %}
    </div>
  {% else %}
    {{ appMessage({
      classes: "app-message--muted govuk-!-margin-top-7",
      allowDismiss: false,
      content: {
        html: t("collections::no_results", {
          context: context
        })
      }
    }) }}
  {% endfor %}
{% endblock %}
