{% extends "layouts/collection.njk" %}

{% block pageContent %}
  {% for group in resultsAsCards %}
    <div class="
      govuk-!-margin-top-7
      app-border-top-2
      app-border--black
      " data-location-group>
      <div class="govuk-!-padding-top-2 govuk-!-padding-bottom-2">
        {{ appData({
          inverted: true,
          classes: "app-data--s",
          label: group.label,
          value: group.location
        }) }}
      </div>

      {% for item in group.items %}
        {{ appCard(item) }}
      {% endfor %}
    </div>
  {% else %}
    {{ appMessage({
      classes: "app-message--muted govuk-!-margin-top-7",
      allowDismiss: false,
      content: {
        html: t("collections::no_results", {
          context: context
        })
      }
    }) }}
  {% endfor %}
{% endblock %}
