{% extends "layouts/collection.njk" %}

{% block pageContent %}
  {% if totalResults > 0 %}
    {{ appFilter({
      items: filter
    }) }}

    {% if resultsAsTable.active.rows.length %}
      {{ govukTable(resultsAsTable.active) }}
    {% else %}
      {{ appMessage({
        classes: "app-message--muted govuk-!-margin-top-7",
        allowDismiss: false,
        content: {
          html: t("collections::no_results", {
            context: context + ("_" + activeStatus if activeStatus)
          })
        }
      }) }}
    {% endif %}
  {% else %}
    {{ appMessage({
      classes: "app-message--muted govuk-!-margin-top-7",
      allowDismiss: false,
      content: {
        html: t("collections::no_results", {
          context: context
        })
      }
    }) }}
  {% endif %}

  {% if resultsAsTable.cancelled.rows.length %}
    {% set html %}
        {{ govukTable({
          rows: resultsAsTable.cancelled.rows,
          head: resultsAsTable.cancelled.head,
          classes: "app-secondary-text-colour"
        }) }}
    {% endset %}

    {{ govukDetails({
      html: html,
      summaryText: t("collections::cancelled", {
        context: context,
        count: resultsAsTable.cancelled.rows.length
      })
    }) }}
  {% endif %}

{% endblock %}
