{% extends "layouts/collection.njk" %}

{% block pageContent %}
  {% if totalResults > 0 %}
    {{ appFilter({
      items: filter
    }) }}
  {% endif %}

  {{ appRequestFilter(requestFilters) }}

  {% if totalResults > 0 %}
    {% if resultsAsTable.rows.length %}
      {{ govukTable(resultsAsTable) }}
    {% else %}
      {{ appMessage({
        classes: "app-message--muted govuk-!-margin-top-7",
        allowDismiss: false,
        content: {
          html: t("collections::no_results", {
            context: context + ("_" + activeStatus if activeStatus)
          })
        }
      }) }}
    {% endif %}
  {% else %}
    {{ appMessage({
      classes: "app-message--muted govuk-!-margin-top-7",
      allowDismiss: false,
      content: {
        html: t("collections::no_results", {
          context: context
        })
      }
    }) }}
  {% endif %}
{% endblock %}
