{% extends "layouts/base.njk" %}

{% block primaryNavigation %}{% endblock %}

{% block organisationSwitcher %}{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ t(message.heading) }}</h1>

  {% if message.end  %}
    <p>{{ t(message.content | string, { end: message.end }) }}</p>
    <p>{{ t(message.otherwise) }}</p>
    <ul>
    {% for option in t(message.actions, {returnObjects: true}) %}
     <li><p>{{ option }}</p></li>
    {% endfor %}
    </ul>
     {% set other %}  {{ t(message.alternative | string , { link: message.link } ) | safe }}  {% endset %}
     <Trans>
       <p> {{ other | safe}} <p>
</Trans
  {% else %}
    <p>{{ t(message.content) }}</p>
  {% endif %}

  {% if showNomisMessage %}
    <p>{{ t("errors::nomis_status_message") }}</p>
  {% endif %}

  {% if showStackTrace %}
    <dl class="app-stack-trace">
      <dt class="app-stack-trace__heading">{{ statusCode }} — {{ error.message }}</dt>
      <dd class="app-stack-trace__details">{{ error.stack }}</dd>
    </dl>

    {% if error.errors %}
      <dl class="app-stack-trace">
        {% for jsonAPIError in error.errors %}
          <dt class="app-stack-trace__heading">Detail</dt>
          <dd class="app-stack-trace__details">{{ jsonAPIError.code + " — " if jsonAPIError.code }}{{ jsonAPIError.detail }}</dd>

          {% if jsonAPIError.source %}
            <dt class="app-stack-trace__heading">Source</dt>
            <dd class="app-stack-trace__details">{{ jsonAPIError.source | dump(1) }}</dd>
          {% endif %}
        {% endfor %}
      </dl>
    {% endif %}
  {% endif %}

{% endblock %}
