{% extends "layouts/base.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ t(message.heading) }}</h1>

  <p>{{ t(message.content) }}</p>

  {% if showStackTrace %}
    <dl class="app-stack-trace">
      <dt class="app-stack-trace__heading">{{ statusCode }} - {{ error.message }}</dt>
      <dd class="app-stack-trace__details">{{ error.stack }}</dd>
    </dl>
  {% endif %}

{% endblock %}
