{% extends "layouts/two-column.njk" %}

{% set additionalContainerClass = "sticky-sidebar-container" %}

{% block pageTitle %}
  {%- if errors.errorList.length -%}
  {{ t("validation::page_title_prefix") }}:
  {%- endif %}
  {% block innerPageTitle %}
    {{ t(options.pageTitle) }} - {{ t(options.journeyPageTitle) }}
  {% endblock %}
{% endblock %}

{% block beforeContent %}
  {% if backLink and not options.hideBackLink %}
    {{ govukBackLink({
      text: t("actions::back"),
      href: backLink
    }) }}
  {% endif %}

  {{ super() }}
{% endblock %}

{% block contentHeader %}
  {% if errors.errorList.length %}
    {{ govukErrorSummary({
      titleText: t("validation::summary.heading"),
      errorList: errors.errorList
    }) }}
  {% endif %}

  <header class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block pageHeading %}
        {% if options.pageCaption %}
          <span class="govuk-caption-xl">
            {{ t(options.pageCaption) }}
          </span>
        {% endif %}
        <h1 class="govuk-heading-xl">
          {{ t(options.pageTitle) }}
        </h1>
      {% endblock %}
    </div>
  </header>
{% endblock %}

{% block contentMain %}
  {% set formMethod = options.method | default('post') %}
  {% set formAction = options.action | default('') %}
  {% set formEnctype = options.enctype | default('') %}

  <form method="{{ formMethod }}" action="{{ formAction }}"
  {% if formEnctype %}
    enctype="{{ formEnctype }}"
  {% endif %}
  >

    {% if formMethod == 'post' %}
      <input type="hidden" name="_csrf" value="{{ getLocal('csrf-token') }}">
    {% endif %}

    {% block beforeFields %}
      {% if options.beforeFieldsContent %}
        <div class="markdown govuk-!-margin-bottom-6">
          {% markdown %}{{ t(options.beforeFieldsContent) }}{% endmarkdown %}
        </div>
      {% endif %}
    {% endblock %}

    {% block fields %}
      {% for key, fieldsOptions in options.fields %}
        {% if fieldsOptions.component and not fieldsOptions.skip %}
          {{ callAsMacro(fieldsOptions.component)(fieldsOptions) }}
        {% endif %}
      {% endfor %}
    {% endblock %}

    {% block afterFields %}
      {% if options.afterFieldsContent %}
        <div class="markdown govuk-!-margin-bottom-6">
          {% markdown %}{{ t(options.afterFieldsContent) }}{% endmarkdown %}
        </div>
      {% endif %}
    {% endblock %}

    {% block formActions %}
      {% block submitAction %}
        {{ govukButton({
          text: t(options.buttonText or "actions::continue"),
          classes: options.buttonClasses,
          preventDoubleClick: true,
          type: "submit"
        }) }}
      {% endblock %}

      {% block cancelAction %}
        {% if cancelUrl %}
          <a href="{{ cancelUrl }}" class="govuk-button govuk-button--text">
            {{ t("actions::cancel") }}
          </a>
        {% endif %}
      {% endblock %}
    {% endblock %}
  </form>
{% endblock %}

{% set sidebarHeading = sidebarHeading or person._fullname or t("awaiting_person") %}

{% block contentSidebar %}
  {% if not options.hideSidebar %}
    <div class="sticky-sidebar">
      <div class="sticky-sidebar__inner">
        {% block summaryPanelContent %}
          {% if moveSummary %}
            <h3 class="govuk-heading-m app-border-top-2 app-border--blue govuk-!-padding-top-4 govuk-!-margin-bottom-3">
              {{ t("moves::move_details") }}
            </h3>

            {{ appMetaList(moveSummary) }}
          {% endif %}
        {% endblock %}
      </div>
    </div>
  {% endif %}
{% endblock %}
