{% extends "layouts/govuk.njk" %}

{% block beforeContent %}
  {% if backLink %}
    {{ govukBackLink({
      text: "Back",
      href: backLink
    }) }}
  {% endif %}

  {{ super() }}
{% endblock %}

{% block content %}
  {% if errors.errorList.length %}
    {{ govukErrorSummary({
      titleText: "There is a problem with this page",
      errorList: errors.errorList
    }) }}
  {% endif %}

  <header class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ options.heading }}
      </h1>
    </div>
  </header>

  <form method="post">
    <input type="hidden" name="x-csrf-token" value="{{ getLocal('csrf-token') }}">

    {% block beforeFields %}{% endblock %}

    {% block fields %}
      {% for key, fieldsOptions in options.fields %}
        {% if fieldsOptions.component and not fieldsOptions.isConditional %}
          {{ callAsMacro(fieldsOptions.component)(fieldsOptions) }}
        {% endif %}
      {% endfor %}
    {% endblock %}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>
{% endblock %}
