{% extends "layouts/govuk.njk" %}

{% block content %}
  <header class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ t("errors.timeout.heading") }}
      </h1>
    </div>
  </header>

  <p>
    {{ t("errors.timeout.content") }}
  </p>

  <p>
    <a href="{{ journeyBaseUrl }}" class="govuk-button">
      {{ t("actions.restart") }}
    </a>
  </p>
{% endblock %}
