{% extends "layouts/base.njk" %}

{% block content %}
  <header class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ t("errors::" + errorKey + ".heading", { context: journeyName }) }}
      </h1>
    </div>
  </header>
  <p>
    {{ t("errors::" + errorKey + ".content", { context: journeyName }) | safe }}
  </p>

  <p>
  {% if errorKey == "missing_prereq" %}
    <a href="/moves">
      {{ t("actions::back_to_dashboard") }}
    </a>
  {% elif errorKey == "session_timeout" %}
    <a href="{{ journeyBaseUrl }}" class="govuk-button">
      {{ t("actions::restart") }}
    </a>
  {% endif %}
  </p>
{% endblock %}
