{% extends "layouts/two-column.njk" %}

{% block customGtagConfig %}
  gtag('set', {'page_title': '{{ t(i18nContext) }}'});
{% endblock %}

{% block pageTitle %}
  {{ t("assessment::page_title_with_name", {
    context: i18nContext,
    name: fullname
  }) }} – {{ SERVICE_NAME }}
{% endblock %}

{% block contentHeader %}
  <header class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">
        {{ t("assessment::page_title_with_name", {
          context: i18nContext
        }) }}
      </span>
      <h1 class="govuk-heading-xl">
        {{ fullname }}
      </h1>
    </div>
  </header>
{% endblock %}

{% block contentMain %}
  <section class="app-!-position-relative govuk-!-margin-bottom-8">
    {{ appTaskList(taskList) }}
  </section>

  {% if canPrint %}
    <a href="{{ baseUrl }}/print" class="app-icon app-icon--print">
      {{ i18n.t('actions::print_assessment', { context: i18nContext }) }}
    </a>
  {% endif %}
{% endblock %}

{% block contentSidebar %}
  {% include "includes/move-summary.njk" %}
{% endblock %}
