{% extends "layouts/base.njk" %}

{% block pageTitle %}
  {{ sectionTitle }}
  – {{ t("assessment::page_title", { context: i18nContext }) }}
  – {{ SERVICE_NAME }}
{% endblock %}

{% block content %}
  <header class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-9">
        {{ sectionTitle }}
      </h1>
    </div>
  </header>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if not isEditable %}
        {{ govukWarningText({
          text: t("assessment::locked", { context: i18nContext }),
          iconFallbackText: "Warning"
        }) }}
      {% endif %}

      {% for key, step in summarySteps %}
        <section class="app-!-position-relative{% if not loop.last %} govuk-!-margin-bottom-8{% endif %}">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-bottom-1 govuk-!-padding-right-8 app-border-bottom-1">
            {{ step.pageTitle }}
          </h2>

          {% if isEditable %}
            <p class="app-!-position-top-right">
              <a href="{{ step.stepUrl }}" class="govuk-link">
                <strong>{{ t("actions::change", {
                  context: "with_visually_hidden_text",
                  text: step.pageTitle
                }) | safe }}</strong>
              </a>
            </p>
          {% endif %}

          {{ govukSummaryList(step.summaryListComponent) }}
        </section>
      {% endfor %}

      {{ appPagination(sectionPagination) }}
    </div>

    <div class="govuk-grid-column-one-third">
      {% block contentSidebar %}
        {% include "includes/move-summary.njk" %}
      {% endblock %}
    </div>

  </div>

{% endblock %}
