{% extends "layouts/two-column.njk" %}

{% block customGtagConfig %}
  gtag('set', {'page_title': '{{ t(i18nContext) }}'});
{% endblock %}

{% block pageTitle %}
  {{ t("assessment::page_title_with_name", {
    context: i18nContext,
    name: fullname
  }) }} – {{ SERVICE_NAME }}
{% endblock %}

{% block beforeContent %}
  {% if moveId %}
    {{ govukBackLink({
      text: t("actions::back_to_move"),
      href: "/move/" + moveId
    }) }}
  {% endif %}

  {{ super() }}
{% endblock %}

{% block contentHeader %}
  <header class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">
        {{ t("assessment::page_title_with_name", {
          context: i18nContext
        }) }}
      </span>
      <h1 class="govuk-heading-xl">
        {{ fullname }}
      </h1>
    </div>
  </header>
{% endblock %}

{% block contentMain %}
  <section class="app-!-position-relative govuk-!-margin-bottom-8">
    {{ appTaskList(taskList) }}
  </section>
{% endblock %}
