{% extends "layouts/action-prevented.njk" %}

{% set actionPreventedTitle = t("validation::assign_conflict.heading") %}

{% set actionPreventedMessage = t("validation::assign_conflict.message", {
  href: "/move/" + existingMoveId,
  name: person.fullname | upper,
  location: move.to_location.title,
  date: move.date | formatDateWithDay
}) %}

{% set actionPreventedInstructions = t("validation::assign_conflict.instructions", {
  assign_href: "/move/" + move.id + "/assign"
}) %}
