{% extends "layouts/base.njk" %}

{% block customGtagConfig %}
  gtag('set', {'page_title': 'Person assigned to allocation'});
{% endblock %}

{% block pageTitle %}
  {{ t("allocation::confirmation.page_title") }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        classes: "govuk-!-margin-bottom-7",
        titleText: t("messages::assign_allocation.success.heading"),
        html: t("messages::assign_allocation.success.content", {
          moveReference: move.reference
        })
      }) }}

      <p>
        {{ t("allocation::confirmation.detail", {
          person: person,
          move: move,
          href: '/allocation/' + move.allocation.id,
          moves_count: move.allocation.moves_count,
          from_location: move.from_location.title,
          to_location: move.to_location.title,
          date: move.date | formatDateWithDay,
          people: "person" | pluralize(move.allocation.moves_count)
        }) | safe }}
      </p>

      {{ govukWarningText({
        text: t("allocation::confirmation.saved_to_nomis")
      }) }}

      <p>
        {{ t("allocation::confirmation.return_dashboard", {
              context: "with_assign_next" if unassignedMoveId,
              assignHref: '/move/' + unassignedMoveId + '/assign',
              dashboardHref: '/allocations'
            }) | safe
        }}
      </p>
    </div>
  </div>
{% endblock %}
