{% extends "layouts/base.njk" %}

{% block pageTitle %}
  {{ t("validation::page_title_prefix") }}: {{ t("validation::assign_needs_special_vehicle.heading", {
    name: person.fullname
  }) }}
{% endblock %}

{% block contentHeader %}
  {% set errorMsg %}
    <div class="govuk-!-margin-top-4">
      <p>
        {{ t("validation::assign_needs_special_vehicle.message", {
          name: person.fullname,
          href: "/move/new"
        }) | safe }}
      </p>

      <p>
        {{ t("validation::assign_needs_special_vehicle.instructions", {
          name: person.fullname,
          allocationHref: "/move/" + move.id + "/assign",
          moveHref: "/move/new"
        }) | safe }}
      </p>
    </div>
  {% endset %}

  {{ appMessage({
    focusOnload: true,
    classes: "app-message--error",
    title: {
      text: t("validation::assign_needs_special_vehicle.heading", {
        name: person.fullname
      })
    },
    content: {
      html: errorMsg
    }
  }) }}
{% endblock %}s
