{% extends "action-prevented.njk" %}

{% set pageTitle = t("validation::assign_needs_special_vehicle.heading") %}

{% set message = t("validation::assign_needs_special_vehicle.message", {
  name: person._fullname
}) %}

{% set instruction = t("validation::assign_needs_special_vehicle.instructions", {
  name: person._fullname,
  allocationHref: "/move/" + move.id + "/assign",
  moveHref: "/move/new"
}) %}
