{% extends "layouts/action-prevented.njk" %}

{% set actionPreventedTitle = t("validation::assign_needs_special_vehicle.heading", {
  name: person.fullname
}) %}

{% set actionPreventedMessage = t("validation::assign_needs_special_vehicle.message", {
  name: person.fullname,
  href: "/move/new"
}) %}

{% set actionPreventedInstructions = t("validation::assign_needs_special_vehicle.instructions", {
  name: person.fullname,
  allocationHref: "/move/" + move.id + "/assign",
  moveHref: "/move/new"
}) %}
