{% extends "form-wizard.njk" %}

{% block fields %}
  {% if previousAnswers %}
    <div class="govuk-!-margin-bottom-6">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        {{ t('assessment::heading.text', {
          context: previousAnswers.key + "_nomis"
        }) }}
      </h2>

      {% for panel in previousAnswers.panels %}
        {{ appPanel(panel) }}
      {% else %}
        {{ appMessage({
          classes: "app-message--muted govuk-!-margin-top-2",
          allowDismiss: false,
          content: {
            text: t('assessment::no_items.text', {
              context: previousAnswers.key + "_nomis"
            })
          }
        }) }}
      {% endfor %}

      {% for answerGroup in customAnswerGroupings %}
        <h2 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-2">
          {{ t('assessment::heading.text', {
            context: answerGroup.key
          }) }}
        </h2>

        {% for panel in answerGroup.panels %}
          {{ appPanel(panel) }}
        {% else %}
          {{ appMessage({
            classes: "app-message--muted govuk-!-margin-top-2",
            allowDismiss: false,
            content: {
              text: t('assessment::no_items.text', {
                context: answerGroup.key
              })
            }
          }) }}
        {% endfor %}
      {% endfor %}

      {% include "move/views/_includes/incorrect-nomis-details.njk" %}
    </div>
  {% endif %}

  {{ super() }}
{% endblock %}
