{% extends "form-wizard.njk" %}

{% block beforeFields %}
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
    {{ t("fields::from_location.label") }}
  </h2>

  <p class="govuk-!-margin-bottom-6">
    {{ CURRENT_LOCATION.title }}
  </p>
  <p> {{ CURRENT_LOCATION_DETAILS }} </p>

{% endblock %}
