{% extends "form-wizard.njk" %}

{%- from "moj/components/interruption-card/macro.njk" import interruptionCard -%}
{% block fields %}
 {% call interruptionCard({
   heading: "A special vehicle will be requested",
   primaryAction: {
     text: "Request move",
     element: 'button',
     attributes: {
       name: "continue",
       type: "submit",
       "data-prevent-double-click": true
     },
     classes: "govuk-button--inverse"
   },
   secondaryAction: {
     text: "Cancel",
     href: cancelUrl,
     preventDoubleClick: true,
     type: "reset"
   }
 }) -%}

   <p> A special vehicle will be requested as you have indicated that the person travelling is pregnant and/or requires a wheelchair.</p>
   <p>If this is incorrect, <a href="{{ backLink }}" class="govuk-link govuk-link--inverse">go back</a> and correct the provided health information.</p>

 {%- endcall %}
{% endblock  %}

{% block formActions %}
{% endblock %}

