{% extends "form-wizard.njk" %}

{% block beforeFields %}
  <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
    {{ t("fields::lodge_location.label") }}
  </h3>

  <p class="govuk-!-margin-bottom-6">
    {{ lodgeLocation.title }}
  </p>

  <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
    {{ t("fields::lodge_start.label") }}
  </h3>

  <p class="govuk-!-margin-bottom-6">
    {{ lodgeStartDate | formatDateWithDay }}
  </p>
{% endblock %}
