{% extends "layouts/base.njk" %}

{% block pageTitle %}
  {{ t("validation::page_title_prefix") }}: {{- actionPreventedTitle | safe -}}
{% endblock %}


{% block content %}
  {% set contentHtml -%}
    {% if actionPreventedMessage %}
      <p class="govuk-!-margin-top-4">
        {{- actionPreventedMessage | safe -}}
      </p>
    {% endif %}

    {% if actionPreventedInstructions %}
      <p class="govuk-!-margin-top-2">
        {{- actionPreventedInstructions | safe -}}
      </p>
    {% endif %}
  {%- endset %}

  {{ appMessage({
    focusOnload: true,
    classes: "app-message--error",
    title: {
      html: actionPreventedTitle
    },
    content: {
      html: contentHtml
    }
  }) }}
{% endblock %}
