{% extends "govuk/template.njk" %}

{# GOV.UK Design System Components #}
{% from "govuk/components/back-link/macro.njk"         import govukBackLink %}
{% from "govuk/components/button/macro.njk"            import govukButton %}
{% from "govuk/components/checkboxes/macro.njk"        import govukCheckboxes %}
{% from "govuk/components/details/macro.njk"           import govukDetails %}
{% from "govuk/components/error-summary/macro.njk"     import govukErrorSummary %}
{% from "govuk/components/input/macro.njk"             import govukInput %}
{% from "govuk/components/panel/macro.njk"             import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"      import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"            import govukRadios %}
{% from "govuk/components/select/macro.njk"            import govukSelect %}
{% from "govuk/components/summary-list/macro.njk"      import govukSummaryList %}
{% from "govuk/components/textarea/macro.njk"          import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"      import govukWarningText %}

{% from "moj/components/organisation-switcher/macro.njk" import mojOrganisationSwitcher %}

{# App level components #}
{% from "card/macro.njk"              import appCard %}
{% from "data/macro.njk"              import appData %}
{% from "internal-header/macro.njk"   import appInternalHeader %}
{% from "message/macro.njk"           import appMessage %}
{% from "meta-list/macro.njk"         import appMetaList %}
{% from "pagination/macro.njk"        import appPagination %}
{% from "panel/macro.njk"             import appPanel %}
{% from "tag/macro.njk"               import appTag %}
{% from "time/macro.njk"              import appTime %}
{% from "results/macro.njk"           import appResults %}
{% from "multi-file-upload/macro.njk" import appMultiFileUpload %}

{% block head %}
  <link rel="canonical" href="{{ CANONICAL_URL }}">

  <!--[if lte IE 8]><link href="{{ getAssetPath('styles-ie8.css') }}" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="{{ getAssetPath('styles.css') }}" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% if GA_ID %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GA_ID }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      {% block customGtagConfig %}{% endblock %}
      gtag('config', '{{ GA_ID }}')
    </script>
  {% endif %}
{% endblock %}

{% block pageTitle %}
  {{ SERVICE_NAME }}
{% endblock %}

{% block headIcons %}
  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ getAssetPath('images/favicon.ico') }}" type="image/x-icon"/>
  <link rel="apple-touch-icon" sizes="180x180" href="{{ getAssetPath('images/hmpps-apple-touch-icon-180x180.png') }}">
  <link rel="apple-touch-icon" sizes="167x167" href="{{ getAssetPath('images/hmpps-apple-touch-icon-167x167.png') }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ getAssetPath('images/hmpps-apple-touch-icon-152x152.png') }}">
  <link rel="apple-touch-icon" href="{{ getAssetPath('images/hmpps-apple-touch-icon.png') }}">
{% endblock %}

{% block bodyStart %}
  {% if GA_ID %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id={{ GA_ID }}"
        height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  {% endif %}
{% endblock %}

{% block header %}
  {{ appInternalHeader({
    homepageUrl: "/",
    siteName: "HMPPS",
    productName: SERVICE_NAME,
    containerClasses: "govuk-width-container",
    navigation: [
      {
        text: USER.fullname
      },
      {
        href: "/auth/sign-out",
        text: t("actions::sign_out")
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: t("phase_banner", {
      context: "with_feedback" if FEEDBACK_URL,
      url: FEEDBACK_URL
    })
  }) }}

  {% block organisationSwitcher %}
    {% if CURRENT_LOCATION or canAccess("moves:view:all") %}
      {{ mojOrganisationSwitcher({
        text: CURRENT_LOCATION.title or t("locations::all_locations"),
        link: {
          text: t("actions::switch_location"),
          href: '/locations'
        } if USER.locations.length > 1
      }) }}
    {% endif %}
  {% endblock %}

  {% include "includes/messages.njk" %}
{% endblock %}

{% block bodyEnd %}
  <script src="{{ getAssetPath('app.js') }}"></script>
{% endblock %}
