{% extends "govuk/template.njk" %}

{# GOV.UK Design System Components #}
{% from "govuk/components/back-link/macro.njk"         import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"       import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"            import govukButton %}
{% from "govuk/components/checkboxes/macro.njk"        import govukCheckboxes %}
{% from "govuk/components/cookie-banner/macro.njk"     import govukCookieBanner %}
{% from "govuk/components/details/macro.njk"           import govukDetails %}
{% from "govuk/components/error-summary/macro.njk"     import govukErrorSummary %}
{% from "govuk/components/footer/macro.njk"            import govukFooter %}
{% from "govuk/components/input/macro.njk"             import govukInput %}
{% from "govuk/components/inset-text/macro.njk"        import govukInsetText %}
{% from "govuk/components/panel/macro.njk"             import govukPanel %}
{% from "govuk/components/radios/macro.njk"            import govukRadios %}
{% from "govuk/components/select/macro.njk"            import govukSelect %}
{% from "govuk/components/summary-list/macro.njk"      import govukSummaryList %}
{% from "govuk/components/tag/macro.njk"               import govukTag %}
{% from "govuk/components/textarea/macro.njk"          import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"      import govukWarningText %}
{% from "govuk/components/table/macro.njk"             import govukTable %}
{% from "govuk/components/date-input/macro.njk"        import govukDateInput %}

{% from "moj/components/badge/macro.njk"                  import mojBadge %}
{% from "moj/components/organisation-switcher/macro.njk"  import mojOrganisationSwitcher %}
{% from "moj/components/primary-navigation/macro.njk"     import mojPrimaryNavigation %}

{# App level components #}
{% from "raw/macro.njk"               import raw %}
{% from "add-another/macro.njk"       import appAddAnother %}
{% from "card/macro.njk"              import appCard %}
{% from "data/macro.njk"              import appData %}
{% from "feedback-prompt/macro.njk"   import appFeedbackPrompt %}
{% from "filter/macro.njk"            import appFilter %}
{% from "framework-response/macro.njk"import appFrameworkResponse %}
{% from "identity-bar/macro.njk"      import appIdentityBar %}
{% from "internal-header/macro.njk"   import appInternalHeader %}
{% from "map/macro.njk"               import appMap %}
{% from "message/macro.njk"           import appMessage %}
{% from "meta-list/macro.njk"         import appMetaList %}
{% from "multi-file-upload/macro.njk" import appMultiFileUpload %}
{% from "pagination/macro.njk"        import appPagination %}
{% from "panel/macro.njk"             import appPanel %}
{% from "read-only-field/macro.njk"   import appReadOnlyField %}
{% from "request-filter/macro.njk"    import appRequestFilter %}
{% from "tag/macro.njk"               import appTag %}
{% from "task-list/macro.njk"         import appTaskList %}
{% from "time/macro.njk"              import appTime %}
{% from "timeline/macro.njk"          import appTimeline %}
{% from "whats-new-banner/macro.njk"  import appWhatsNewBanner %}
{% from "notification-banner/macro.njk"  import appNotificationBanner %}

{% block head %}
  <link rel="canonical" href="{{ CANONICAL_URL }}">

  <meta name="location" content="{{ CURRENT_LOCATION.id }}">

  <link href="{{ getAssetPath('styles.css') }}" media="all" rel="stylesheet" type="text/css" />

  <link rel="preload" href="{{ getAssetPath('fonts/Inter-Bold.woff2') }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ getAssetPath('fonts/Inter-Regular.woff2') }}" as="font" type="font/woff2" crossorigin>

  {% if GA_ID %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GA_ID }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      {% block customGtagConfig %}{% endblock %}
      gtag('config', '{{ GA_ID }}', {
        'user_id': '{{ USER.userId }}'
      });
    </script>
  {% endif %}
{% endblock %}

{% block pageTitle %}
  {{ SERVICE_NAME }}
{% endblock %}

{% block headIcons %}
  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ getAssetPath('images/favicon.ico') }}" type="image/x-icon"/>
  <link rel="apple-touch-icon" sizes="180x180" href="{{ getAssetPath('images/hmpps-apple-touch-icon-180x180.png') }}">
  <link rel="apple-touch-icon" sizes="167x167" href="{{ getAssetPath('images/hmpps-apple-touch-icon-167x167.png') }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ getAssetPath('images/hmpps-apple-touch-icon-152x152.png') }}">
  <link rel="apple-touch-icon" href="{{ getAssetPath('images/hmpps-apple-touch-icon.png') }}">
{% endblock %}

{% block bodyStart %}
  {% if GA_ID %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id={{ GA_ID }}"
        height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  {% endif %}
{% endblock %}

{% block header %}
  {{ appInternalHeader({
    organisationHomepageUrl: AUTH_BASE_URL + "/auth",
    homepageUrl: "/",
    siteName: "HMPPS",
    fallbackImagePath: getAssetPath('images/app-logotype-crest@2x.png'),
    productName: SERVICE_NAME,
    navigation: [
      {
        href: AUTH_BASE_URL + "/auth/account-details",
        text: USER.displayName,
        subtext: "Manage your details"
      },
      {
        href: "/auth/sign-out",
        text: t("actions::sign_out")
      }
    ]
  }) }}

  {% block primaryNavigation %}
    {{ mojPrimaryNavigation({
      label: 'Primary navigation',
      items: primaryNavigation
    }) }}
  {% endblock %}

  {% block organisationSwitcher %}
    {% if CURRENT_LOCATION or CURRENT_REGION or canAccess("locations:all") %}
      <div class="govuk-width-container">
        {{ mojOrganisationSwitcher({
          label: 'Location switcher',
          text: CURRENT_LOCATION.title or CURRENT_REGION.name or t("locations::all_locations"),
          link: {
            text: t("actions::switch_location"),
            href: '/locations'
          } if USER.locations.length > 1
        }) }}
      </div>
    {% endif %}
  {% endblock %}

  {% set breadcrumbs = getBreadcrumbs() %}
  {% if breadcrumbs|length > 1 %}
    <div class="govuk-width-container">
      {{ govukBreadcrumbs({
        items: breadcrumbs,
        attributes: {
          'data-auto-id': 'breadcrumbs'
        }
      }) }}
    </div>
  {% endif %}

  {% if REQUEST_PATH === '/' and whatsNewContent %}
    {{ appWhatsNewBanner(whatsNewContent) }}
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {% if downtimeContent %}
    {{ appNotificationBanner(downtimeContent) }}
  {% endif %}
  {% include "includes/messages.njk" %}
{% endblock %}

{% block footer %}
  {% if FEEDBACK_URL %}
    {{ appFeedbackPrompt({
      content: {
        html: t("feedback_link", {
          url: FEEDBACK_URL
        })
      }
    }) }}
  {% endif %}

  {{ govukFooter({
    meta: {
      items: FOOTER_ITEMS
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
    {% if DEVELOPMENT_TOOLS %}
      <div class="app-development-tools">
        <h2 class="app-development-tools__heading">
          Development tools
        </h2>

        <ul class="app-development-tools__items">
          {% for item in DEVELOPMENT_TOOLS.items %}
            <li class="app-development-tools__item">
              {% if item.href %}<a href="{{ item.href }}" id="{{item.id}}" data-module="{{ item.dataModule }}">{% endif %}
                {{ item.text }}
              {% if item.href %}</a>{% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

  <script src="{{ getAssetPath('app.js') }}"></script>
{% endblock %}
