{% extends "layouts/base.njk" %}

{% block customGtagConfig %}
  gtag('set', {'page_title': '{{ t("collections::page_title", {
    context: context
  }) }}'});
{% endblock %}

{% block pageTitle %}
  {% if period === 'week' %}
    {{ t("collections::page_title_with_date", {
      context: context,
      date: dateRange | formatDateRangeAsRelativeWeek
    }) }}
  {% else %}
    {{ t("collections::page_title_with_date", {
      context: context,
      date: datetime | formatDateAsRelativeDay
    }) }}
  {% endif %}
{% endblock %}

{% block content %}

  {% block pageHeader %}
    <header class="govuk-grid-row govuk-!-margin-bottom-7">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
          <span class="govuk-caption-xl">
          {{ t("collections::subheading", {
            context: context
          }) }}
          </span>

          <span class="govuk-!-display-block">
          {% if period === 'week' %}
            {{ dateRange | formatDateRange }}
            {% if displayRelativeDate %}
              {{ appTime({
                datetime: dateRange | formatISOWeek,
                text: '(' + dateRange | formatDateRangeAsRelativeWeek | lower + ')',
                classes: 'app-secondary-text-colour'
                }) }}
            {% endif %}
          {% else %}
            {% set datetime = dateRange | first %}
            {{ datetime | formatDateWithDay }}
            {% if displayRelativeDate %}
              {{ appTime({
                datetime: datetime,
                text: '(' + datetime | formatDateAsRelativeDay(' ') | lower + ')',
                classes: 'app-secondary-text-colour'
                }) }}
            {% endif %}
          {% endif %}
          </span>
        </h1>

        {% block dateNavigation %}
          {% if pagination %}
            {{ appPagination({
              classes: "app-pagination--inline app-print--hide",
              previous: {
                href: pagination.prevUrl,
                text: t("actions::previous", { context: period })
              },
              next: {
                href: pagination.nextUrl,
                text: t("actions::next", { context: period })
              },
              items: [{
                href: pagination.todayUrl,
                text: t("actions::current", { context: period })
              }]
            }) }}
          {% endif %}
        {% endblock %}

        {% block headerActions %}
          {% for action in actions %}
            {% if canAccess(action.permission) %}
              {{ govukButton({
                isStartButton: true,
                text: t(action.text),
                href: action.href,
                classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-0 app-print--hide"
              }) }}
            {% endif %}
          {% endfor %}
        {% endblock %}
      </div>

      {% block headerLinks %}
        <div class="govuk-grid-column-one-third">
          <ul class="govuk-list govuk-!-font-size-16 app-!-float-right app-print--hide">
            {% if canAccess('moves:download') %}
              <li>
                <a href="{{ REQUEST_PATH }}/download.csv" class="app-icon app-icon--download">
                  {{ t("collections::download_csv", {
                    context: context
                  }) }}
                </a>
              </li>
            {% endif %}

            <li>
              <a href="javascript:window.print()" class="app-icon app-icon--print">
                {{ t("collections::print_collection", {
                    context: context
                  }) }}
              </a>
            </li>
          </ul>
        </div>
      {% endblock %}
    </header>
  {% endblock %}

  {% block pageContent %}{% endblock %}

{% endblock %}
