{% extends "layouts/base.njk" %}

{% block customGtagConfig %}
  gtag('set', {'page_title': '{{ t("collections::page_title", {
    context: context
  }) }}'});
{% endblock %}

{% if period === 'week' %}
  {% set displayDate = dateRange | formatDateRangeWithRelativeWeek %}
{% else %}
  {% set datetime = dateRange | first %}
  {% set displayDate = datetime | formatDateWithRelativeDay %}
{% endif %}

{% if period === 'week' %}
  {% set other = 'day' %}
{% else %}
  {% set other = 'week' %}
{% endif %}

{% if group_by === 'vehicle' %}
  {% set other_group_by = 'location' %}
{% else %}
  {% set other_group_by = 'vehicle' %}
{% endif %}

{% block pageTitle %}
  {{ t("collections::page_title_with_date", {
    context: context,
    date: displayDate
  }) }} – {{ SERVICE_NAME }}
{% endblock %}

{% block content %}

  {% block pageHeader %}
    <header class="govuk-grid-row govuk-!-margin-bottom-7">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
          <span class="govuk-caption-xl">
          {{ t("collections::subheading", {
            context: context
          }) }}{{ " " + location.title if location}}
          </span>

          <span class="govuk-!-display-block">{{ displayDate }}</span>
        </h1>

        {% block dateNavigation %}
          {% if datePagination %}
            {{ appPagination({
              classes: "app-pagination--inline app-print--hide",
              previous: {
                href: datePagination.prevUrl,
                text: t("actions::previous", { context: period })
              },
              next: {
                href: datePagination.nextUrl,
                text: t("actions::next", { context: period })
              },
              items: [{
                href: datePagination.todayUrl,
                text: t("actions::current", { context: period }),
                attributes: {
                  'data-pagination-action': 'today'
                }
              },{
                href: datePagination.dateSelectUrl,
                text: t("actions::date_select"),
                attributes: {
                  'data-pagination-action': 'date-select'
                }
              }]
            }) }}
          {% endif %}
        {% endblock %}

        {% block headerActions %}
          {% for action in actions %}
            {% if canAccess(action.permission) %}
              {{ govukButton({
                isStartButton: true,
                text: t(action.text),
                href: action.href,
                classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-0 app-print--hide"
              }) }}
            {% endif %}
          {% endfor %}
        {% endblock %}
      </div>

      {% block headerLinks %}
        <div class="govuk-grid-column-one-third">
          <ul class="govuk-list govuk-!-font-size-16 app-!-float-right app-print--hide">
            {% if canAccess('moves:download') and context !== "allocations" %}
              <li>
                <a href="{{ REQUEST_PATH }}/download.csv" class="govuk-link govuk-link--no-visited-state app-icon app-icon--download">
                  {{ t("collections::download_csv", {
                    context: context
                  }) }}
                </a>
              </li>
            {% endif %}

            <li>
              <a href="#" class="govuk-link govuk-link--no-visited-state app-icon app-icon--print" id="print-link">
                {{ t("collections::print_collection", {
                    context: context
                  }) }}
              </a>
            </li>
            {% if datePagination %}
             <li>
               <a href="{{ REQUEST_PATH }}/switch-view?status={{ activeStatus }}" class="govuk-link govuk-link--no-visited-state app-icon app-icon--{{ other }}-view">
                 {{ t("collections::switch_view", {
                   other: other
                    }) }}
                  </a>
                </li>
            {% endif %}
            {% if groupBySwitcher %}
            <li>
              <a href="{{ REQUEST_PATH }}/switch-group-by?status={{ activeStatus }}" class="govuk-link govuk-link--no-visited-state app-icon app-icon--{{ other_group_by }}">
                {{ t("collections::switch_group_by", {
                  other_group_by: other_group_by
                }) }}
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      {% endblock %}
    </header>
  {% endblock %}

  {% block filter %}
    {{ appFilter({ items: filter }) }}
  {% endblock %}

  {% block pageContent %}{% endblock %}

  {% block pagination %}
    {% if pagination %}
      {{ appPagination({
        classes: "app-pagination--split app-print--hide",
        previous: pagination.previous,
        next: pagination.next
      }) }}
    {% endif %}
  {% endblock %}
{% endblock %}
