{% extends "template.njk" %}

{# Components that clash with GOV.UK Frontend namespace #}
{% from "_tag/macro.njk"              import appTag %}

{# App level components #}
{% from "card/macro.njk"              import appCard %}
{% from "internal-header/macro.njk"   import appInternalHeader %}
{% from "pagination/macro.njk"        import appPagination %}
{% from "time/macro.njk"              import appTime %}

{% block head %}
  <!--[if lte IE 8]><link href="/stylesheets/styles-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/stylesheets/styles.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->
{% endblock %}

{% block pageTitle %}
  {{ SERVICE_NAME }}
{% endblock %}

{% block header %}
  {{ appInternalHeader({
    homepageUrl: "/",
    siteName: "HMPPS",
    productName: SERVICE_NAME,
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script src="/javascripts/app.js"></script>
{% endblock %}
