{% extends "template.njk" %}

{# GOV.UK Design System Components #}
{% from "back-link/macro.njk"         import govukBackLink %}
{% from "button/macro.njk"            import govukButton %}
{% from "checkboxes/macro.njk"        import govukCheckboxes %}
{% from "error-summary/macro.njk"     import govukErrorSummary %}
{% from "input/macro.njk"             import govukInput %}
{% from "phase-banner/macro.njk"      import govukPhaseBanner %}
{% from "radios/macro.njk"            import govukRadios %}
{% from "select/macro.njk"            import govukSelect %}
{% from "summary-list/macro.njk"      import govukSummaryList %}
{% from "textarea/macro.njk"          import govukTextarea %}

{# Components that clash with GOV.UK Frontend namespace #}
{% from "_panel/macro.njk"            import appPanel %}
{% from "_tag/macro.njk"              import appTag %}

{# App level components #}
{% from "card/macro.njk"              import appCard %}
{% from "data/macro.njk"              import appData %}
{% from "internal-header/macro.njk"   import appInternalHeader %}
{% from "message/macro.njk"           import appMessage %}
{% from "meta-list/macro.njk"         import appMetaList %}
{% from "pagination/macro.njk"        import appPagination %}
{% from "time/macro.njk"              import appTime %}

{% block head %}
  <link rel="canonical" href="{{ CANONICAL_URL }}">

  <!--[if lte IE 8]><link href="{{ getAssetPath('styles-ie8.css') }}" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="{{ getAssetPath('styles.css') }}" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->
{% endblock %}

{% block pageTitle %}
  {{ SERVICE_NAME }}
{% endblock %}

{% block headIcons %}
  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ getAssetPath('images/favicon.ico') }}" type="image/x-icon"/>
  <link rel="apple-touch-icon" sizes="180x180" href="{{ getAssetPath('images/hmpps-apple-touch-icon-180x180.png') }}">
  <link rel="apple-touch-icon" sizes="167x167" href="{{ getAssetPath('images/hmpps-apple-touch-icon-167x167.png') }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ getAssetPath('images/hmpps-apple-touch-icon-152x152.png') }}">
  <link rel="apple-touch-icon" href="{{ getAssetPath('images/hmpps-apple-touch-icon.png') }}">
{% endblock %}

{% block header %}
  {{ appInternalHeader({
    homepageUrl: "/",
    siteName: "HMPPS",
    productName: SERVICE_NAME,
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "/auth/sign-out",
        text: t("actions::sign_out")
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: t("phase_banner", {
      context: "with_feedback" if FEEDBACK_URL,
      url: FEEDBACK_URL
    })
  }) }}

  {% include "includes/messages.njk" %}
{% endblock %}

{% block bodyEnd %}
  <script src="{{ getAssetPath('app.js') }}"></script>
{% endblock %}
