{% extends "template.njk" %}

{# GOV.UK Design System Components #}
{% from "back-link/macro.njk"         import govukBackLink %}
{% from "button/macro.njk"            import govukButton %}
{% from "checkboxes/macro.njk"        import govukCheckboxes %}
{% from "error-summary/macro.njk"     import govukErrorSummary %}
{% from "input/macro.njk"             import govukInput %}
{% from "radios/macro.njk"            import govukRadios %}
{% from "select/macro.njk"            import govukSelect %}
{% from "summary-list/macro.njk"      import govukSummaryList %}

{# Components that clash with GOV.UK Frontend namespace #}
{% from "_tag/macro.njk"              import appTag %}

{# App level components #}
{% from "card/macro.njk"              import appCard %}
{% from "data/macro.njk"              import appData %}
{% from "internal-header/macro.njk"   import appInternalHeader %}
{% from "meta-list/macro.njk"         import appMetaList %}
{% from "pagination/macro.njk"        import appPagination %}
{% from "time/macro.njk"              import appTime %}

{% block head %}
  <!--[if lte IE 8]><link href="{{ getAssetPath('styles-ie8.css') }}" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="{{ getAssetPath('styles.css') }}" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->
{% endblock %}

{% block pageTitle %}
  {{ SERVICE_NAME }}
{% endblock %}

{% block header %}
  {{ appInternalHeader({
    homepageUrl: "/",
    siteName: "HMPPS",
    productName: SERVICE_NAME,
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script src="{{ getAssetPath('app.js') }}"></script>
{% endblock %}
