{% extends "layouts/base.njk" %}

{% block customGtagConfig %}
  gtag('set', {'page_title': '{{ t(pageTitle) }}'});
{% endblock %}

{% if period === 'day' %}
  {% set datetime = dateRange | first %}
  {% set displayDate = datetime | formatDateAsRelativeDay %}
{% else %}
  {% set datetime = dateRange | formatISOWeek %}
  {% set displayDate = dateRange | formatDateRange %}
{% endif %}

{% block pageTitle %}
  {{ t(pageTitle, {
    context: "with_date",
    date: displayDate
  }) }}
{% endblock %}

{% block content %}

  {% block pageHeader %}
    <header class="govuk-grid-row govuk-!-margin-bottom-7">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">
          {{ t(pageTitle, {
            context: "with_date"
          }) }}
        </span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
          {{ appTime({
            datetime: datetime,
            text: displayDate
          }) }}
        </h1>

        {% block dateNavigation %}
          {{ appPagination({
            classes: "app-pagination--inline app-print--hide",
            previous: {
              href: pagination.prevUrl,
              text: t("actions::previous", { context: period })
            },
            next: {
              href: pagination.nextUrl,
              text: t("actions::next", { context: period })
            },
            items: [{
              href: pagination.todayUrl,
              text: t("actions::current", { context: period })
            }]
          }) }}
        {% endblock %}

        {% block headerActions %}
          {% if canAccess('move:create') %}
            {{ govukButton({
              isStartButton: true,
              text: t("actions::create_move"),
              href: "/move/new",
              classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-0 app-print--hide"
            }) }}
          {% endif %}
        {% endblock %}
      </div>

      {% block headerLinks %}
        <div class="govuk-grid-column-one-third">
          <ul class="govuk-list govuk-!-font-size-16 app-!-float-right app-print--hide">
            {% if canAccess('moves:download') %}
              <li>
                <a href="{{ REQUEST_PATH }}/download.csv" class="app-icon app-icon--download">
                  {{ t("actions::download_csv") }}
                </a>
              </li>
            {% endif %}

            <li>
              <a href="javascript:window.print()" class="app-icon app-icon--print">
                {{ t("actions::print_move_list") }}
              </a>
            </li>
          </ul>
        </div>
      {% endblock %}
    </header>
  {% endblock %}

  {% block pageContent %}{% endblock %}

{% endblock %}
