{% extends "layouts/base.njk" %}

{% block customGtagConfig %}
  gtag('set', {'page_title': '{{ t(pageTitle) }}'});
{% endblock %}

{% if period === 'day' %}
  {% set datetime = dateRange | first %}
  {% set displayDate = datetime | formatDateAsRelativeDay %}
{% else %}
  {% set datetime = dateRange | formatISOWeek %}
  {% set displayDate = dateRange | formatDateRangeAsRelativeWeek %}
{% endif %}

{% block pageTitle %}
  {{ t(pageTitle, {
    date: displayDate
  }) }}
{% endblock %}

{% block content %}

  {% block pageHeader %}
    <header class="govuk-grid-row">
      <div class="{% block headerGridColumnClass %}govuk-grid-column-two-thirds{% endblock %}">
        <span class="govuk-caption-xl">{{ t(pageTitle, {
          context: "with_date"
        }) }}</span>

        {% block dateTitle %}
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
            {{ appTime({
              datetime: datetime,
              text: displayDate
            }) }}
          </h1>
        {% endblock %}

        {% block dateNavigation %}
          {{ appPagination({
            classes: "app-pagination--inline app-print--hide",
            previous: {
              href: pagination.prevUrl,
              text: t("actions::previous", { context: period })
            },
            next: {
              href: pagination.nextUrl,
              text: t("actions::next", { context: period })
            },
            items: [{
              href: pagination.todayUrl,
              text: t("actions::current", { context: period })
            }]
          }) }}
        {% endblock %}

        {% block headerActions %}{% endblock %}
      </div>

      {% block headerNav %}{% endblock %}
    </header>
  {% endblock %}

  {% block pageContent %}{% endblock %}

{% endblock %}
