{% extends "form-wizard.njk" %}

{% block customGtagConfig %}
  gtag('set', {'page_title': 'Cancel move'});
{% endblock %}

{% block innerPageTitle %}
  {{ t("moves::cancel.page_title", { name: move.person.fullname | upper }) }}
{% endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: t("actions::back_to_move"),
    href: "/move/" + move.id
  }) }}
{% endblock %}

{% block formActions %}
  {{ govukWarningText({
    html: t("moves::cancel.warning", {
      name: move.person.fullname | upper
    }),
    iconFallbackText: "Warning"
  }) }}

  {{ super() }}
{% endblock %}
