{% extends "layouts/base.njk" %}

{% block customGtagConfig %}
  gtag('set', {'page_title': 'Cancel move'});
{% endblock %}

{% block pageTitle %}
  {{ t("moves::cancel.page_title", { name: move.person.fullname | upper }) }}
{% endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: t("actions::back_to_move"),
    href: "/move/" + move.id
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <header class="govuk-!-margin-bottom-8">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
          {{ t("moves::cancel.page_title", { name: move.person.fullname | upper }) }}
        </h1>
      </header>

      <form method="post">
        <p>
          {{ t("moves::cancel.content.confirmation", {
            name: move.person.fullname | upper,
            location: move.to_location.title
          }) | safe }}
        </p>

        <p>
          {{ t("moves::cancel.content.warning") }}
        </p>

        {{ govukButton({
          text: t("actions::cancel_move_confirmation"),
          classes: "govuk-button--warning"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
