{% extends "layouts/base.njk" %}

{% block customGtagConfig %}
  gtag('set', {'page_title': 'Move scheduled'});
{% endblock %}

{% block pageTitle %}
  {{ t("moves::confirmation.page_title", {
    context: move.status,
    name: move.person.fullname | upper }) }}
{% endblock %}

{% block beforeContent %}
  {{ super() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        classes: "govuk-!-margin-bottom-7",
        titleText: t("moves::confirmation.panel.heading", { context: move.status }),
        html: t("moves::confirmation.panel.content", {
          context: move.status,
          moveReference: move.reference
        })
      }) }}

      <p>
        {{ t("moves::confirmation.detail", {
          context: move.status,
          href: "/move/" + move.id,
          name: move.person.fullname | upper,
          location: location,
          date: move.date | formatDateWithDay,
          supplier: supplierNames | oxfordJoin
        }) | safe }}
      </p>

      {% if savedHearings|length %}
        {{ govukInsetText({
          html: t("moves::confirmation.saved_to_nomis", {
            name: move.person.fullname | upper,
            date: move.date | formatDateWithDay,
            cases: savedHearings | oxfordJoin,
            count: savedHearings.length
          })
        }) }}
      {% endif %}

      {% if unsavedHearings|length %}
        {{ govukWarningText({
          text: t("moves::confirmation.saved_to_nomis", {
            context: "failed",
            cases: unsavedHearings | oxfordJoin,
            count: unsavedHearings.length
          }),
          iconFallbackText: "Warning"
        }) }}
      {% endif %}

      <p>
        <a href="{{ MOVES_URL }}">
          {{ t("actions::back_to_dashboard") }}
        </a>
      </p>
    </div>
  </div>
{% endblock %}
