{% extends "layouts/base.njk" %}

{% block customGtagConfig %}
  gtag('set', {'page_title': '{{ "Person added to allocation" if move.allocation else "Move " + move.status }}' });
{% endblock %}

{% block pageTitle %}
  {{ t("moves::confirmation.page_title", {
    context: "assign" if move.allocation else move.status,
    name: "this person"
  }) }} – {{ SERVICE_NAME }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        classes: "govuk-!-margin-bottom-7",
        titleText: t("messages::create_move.success.heading", {
          context: "assign" if move.allocation else move.status
        }),
        html: t("messages::create_move.success.content", {
          context: "assign" if move.allocation else move.status,
          moveReference: move.reference
        })
      }) }}

      {% if move.allocation %}
        {% set context = "assign" %}
      {% else %}

        {% if move.status === "proposed" and (move.from_location.location_type === "secure_training_centre" or move.from_location.location_type === "secure_childrens_home") %}
          {% set context = move.from_location.location_type %}
        {% else %}
          {% set context = move.status %}
        {% endif %}

      {% endif %}

      <p>
        {{ t("moves::confirmation.detail", {
          context: context,
          count: move.allocation.moves_count,
          href: "/move/" + move.id,
          allocationHref: "/allocation/" + move.allocation.id,
          name: move.profile.person._fullname,
          location: location,
          date: move.date | formatDateWithDay,
          supplier: move.supplier.name or t("supplier_fallback")
        }) | safe }}
      </p>

      {% if move.allocation %}
        {{ govukWarningText({
          text: t("moves::confirmation.saved_to_nomis", {
            context: "failed_assign"
          }),
          iconFallbackText: "Warning"
        }) }}
      {% endif %}

      {% if savedHearings|length %}
        {{ govukInsetText({
          html: t("moves::confirmation.saved_to_nomis", {
            name: move.profile.person._fullname,
            date: move.date | formatDateWithDay,
            cases: savedHearings | oxfordJoin,
            count: savedHearings.length
          })
        }) }}
      {% endif %}

      {% if unsavedHearings|length %}
        {{ govukWarningText({
          text: t("moves::confirmation.saved_to_nomis", {
            context: "failed",
            cases: unsavedHearings | oxfordJoin,
            count: unsavedHearings.length
          }),
          iconFallbackText: "Warning"
        }) }}
      {% endif %}

      {# TODO: Remove once we support creating hearings without a case #}
      {% if move.from_location.location_type == 'prison' and move.to_location.location_type == 'court' and not move.court_hearings.length %}
        {{ govukWarningText({
          text: t("moves::confirmation.saved_to_nomis", {
            context: "failed"
          }),
          iconFallbackText: "Warning"
        }) }}
      {% endif %}

      <ul class="govuk-list">
        {% if unassignedMoveId %}
          <li>
            <a href="/move/{{ unassignedMoveId }}/assign">
              {{ t("moves::confirmation.add_another") }}
            </a>
          </li>
        {% endif %}

        <li>
          <a href="{{ "/allocations" if move.allocation else MOVES_URL }}">
            {{ t("actions::back_to_dashboard") }}
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
