{% extends "layouts/two-column.njk" %}

{% set name = move.profile.person._fullname or t("awaiting_person") %}

{% block customGtagConfig %}
  gtag('set', {'page_title': 'Move journeys'});
{% endblock %}

{% block pageTitle %}
  {{ t("moves::detail.page_title", {
    name: name
  }) }}
  – {{ SERVICE_NAME }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: t("actions::back_to_move"),
    classes: "app-print--hide",
    href: "/move/" + move.id
  }) }}

  {{ super() }}
{% endblock %}

{% block contentHeader %}
  <header class="govuk-!-margin-bottom-8">
    {% if not messageTitle and move.status != "proposed" %}
      <div class="govuk-!-margin-bottom-2">
        {{ mojBadge({
          text: t("statuses::" + move.status)
        }) }}
      </div>
    {% endif %}

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
      {{ t('moves::map.journey_overview', {
        name: name
      }) }}
    </h1>
    <span class="govuk-caption-xl">
      {{ t("moves::move_reference", {
        reference: move.reference
      }) }}
    </span>
  </header>
{% endblock %}

{% block contentContainer %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      {% for journey in journeys %}
        <div class="app-border-1 govuk-!-padding-3 govuk-!-margin-bottom-2">
          <h4 class="govuk-heading-s">
            {{ t('moves::map.journey_heading', { index: loop.index }) }}

            {{govukTag(journey.tag)}}
          </h4>

          {{ appMetaList(journey.metaList) }}
        </div>
      {% endfor %}
    </div>

    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
      {{ appMap({
        geoData: geoData,
        tileUrl: tileUrl
      }) }}
    </div>
  </div>
{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" />
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="{{ getAssetPath('components.maps.js') }}"></script>
{% endblock %}
