{% extends "layouts/action-prevented.njk" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: t("actions::back_to_allocation"),
    href: "/allocation/" + allocation.id
  }) }}
{% endblock %}

{% set actionPreventedTitle = t("validation::unassign_ineligible.heading") %}

{% set actionPreventedMessage = t("validation::unassign_ineligible.message", {
  href: "/move/" + existingMoveId,
  name: person.fullname | upper,
  location: move.to_location.title,
  date: move.date | formatDateWithDay
}) %}

{% set actionPreventedInstructions = t("validation::unassign_ineligible.instructions", {
  allocation_href: "/allocation/" + allocation.id,
  move_href: "/move/" + moveId,
  name: fullname,
  count: allocation.moves_count,
  from_location: allocation.from_location.title,
  to_location: allocation.to_location.title
}) %}
