{% extends "layouts/two-column.njk" %}

{% set additionalContainerClass = "sticky-sidebar-container" %}
{% set name = move.profile.person._fullname or t("awaiting_person") %}

{% block customGtagConfig %}
  gtag('set', {'page_title': 'Move details'});
{% endblock %}

{% block pageTitle %}
  {{ t("moves::detail.page_title", {
    name: name
  }) }}
  – {{ SERVICE_NAME }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: t("actions::back_to_dashboard"),
    classes: "app-print--hide",
    href: MOVES_URL
  }) }}

  {{ super() }}

  {% if messageTitle %}
    {{ appMessage({
      allowDismiss: false,
      classes: "app-message--temporary",
      title: {
        text: messageTitle
      },
      content: {
        html: messageContent
      }
    }) }}
  {% endif %}

  {% if move.status == "proposed" %}
    {% set html %}
      <p>{{ t("messages::pending_review.content", {
        context: move.from_location.location_type
      }) }}</p>

      {% if canAccess("move:review") %}
        {{ govukButton({
          href: "/move/" + move.id + "/review",
          text: t("actions::review")
        }) }}
      {% endif %}
    {% endset %}

    {{ appMessage({
      allowDismiss: false,
      classes: "app-message--instruction",
      title: {
        text: t("messages::pending_review.heading")
      },
      content: {
        html: html
      }
    }) }}
  {% endif %}

  {% if not move.profile %}
    {% set html %}
      <p>
        {# TODO: Get moves returned as part of an allocation so that we can determine the number #}
        {{ t("messages::pending_assign.content", {
          context: "with_link" if canAccess("allocations:view"),
          count: move.allocation.moves.length or move.allocation.moves_count,
          href: "/allocation/" + move.allocation.id
        }) | safe }}
      </p>

      {% if canAccess("allocation:person:assign") %}
        {{ govukButton({
          href: move.id + "/assign",
          text: t("actions::add_person_to_move")
        }) }}
      {% endif %}
    {% endset %}

    {{ appMessage({
      allowDismiss: false,
      classes: "app-message--instruction",
      title: {
        text: t("messages::pending_assign.heading")
      },
      content: {
        html: html
      }
    }) }}
  {% endif %}

  {% if messageBanner %}
    {{ appMessage(messageBanner) }}
  {% endif %}
{% endblock %}

{% block contentHeader %}
  <header class="govuk-!-margin-bottom-8 govuk-grid-row">
    <div class="govuk-grid-column-one-sixth">
      <img src="{{ move.profile.person._image_url }}" alt="{{ move.profile.person._fullname }}" height="215" width="172" class="govuk-!-margin-bottom-2">
    </div>

    <div class="govuk-grid-column-five-sixths">
    {% if not messageTitle and move.status != "proposed" %}
      <div class="govuk-!-margin-bottom-2">
        {{ mojBadge({
          text: t("statuses::" + move.status)
        }) }}
      </div>
    {% endif %}

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
      {{ name }}
    </h1>
    <span class="govuk-caption-xl">
      {{ t("moves::move_reference", {
        reference: move.reference
      }) }}
    </span>

    <div class="govuk-!-margin-top-2" data-tag-list-source="person-escort-record">
      {% if not personEscortRecordIsCompleted %}
        {{ govukInsetText({
          classes: "govuk-inset-text--compact govuk-!-margin-0",
          text: t("assessment::incomplete")
        }) }}
      {% endif %}

      {% if personEscortRecordIsCompleted and personEscortRecordTagList | length %}
        {% for tag in personEscortRecordTagList %}
          {{ appTag(tag) }}
        {% endfor %}
      {% endif %}
    </div>

    {% if importantEventsTagList.length %}
      <div class="govuk-!-margin-top-2" data-tag-list-source="move-important-events">
        {% for tag in importantEventsTagList %}
          {{ appTag(tag) }}
        {% endfor %}
      </div>
    {% endif %}
    </div>
  </header>
{% endblock %}

{% macro updateLink(link) %}
  {% if link.href %}
    <p class="app-!-position-top-right">
      <a href="{{ link.href }}" class="govuk-link" {%- for attribute, value in link.attributes %} {{attribute}}="{{value}}"{% endfor %}>
        {{ link.html | safe }}
      </a>
    </p>
  {% endif %}
{% endmacro %}

{% macro renderAssessmentComponent(assessment) %}
  {% if assessment.count > 0 %}
    {% if assessment.panels %}
      {% for panel in assessment.panels %}
        {{ appPanel(panel) }}
      {% endfor %}
    {% else %}
      {{ govukSummaryList(assessment) }}
    {% endif %}
  {% else %}
    {{ appMessage({
      classes: "app-message--muted govuk-!-margin-top-2",
      allowDismiss: false,
      content: {
        html: t('assessment::no_items.text', {
          context: assessment.context or assessment.key,
          name: assessment.name,
          url: assessment.url
        })
      }
    }) }}
  {% endif %}
{% endmacro %}

{% macro tabs(urls, active) %}
{% set tabItems = ['view', 'timeline'] %}
<div class="govuk-tabs">
  <ul class="govuk-tabs__list">
    {% for item in tabItems %}
      <li class="govuk-tabs__list-item {{- ' govuk-tabs__list-item--selected' if active == item}}">
        <a class="govuk-tabs__tab" href="{{ urls.tabs[item] }}">
          {{ t("moves::tabs."+item) }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endmacro %}

{% block contentMain %}
  {{ tabs(urls, 'view') }}
  {% if move.profile %}
    <div class="govuk-!-margin-bottom-9">
      <section class="app-!-position-relative">
        <h2 class="govuk-heading-m">
          {{ t("moves::steps.personal_details.heading") }}
        </h2>

        {{ govukSummaryList(personalDetailsSummary) }}

        {{ updateLink(updateLinks.personal_details) }}
      </section>

      {% if personEscortRecord or youthRiskAssessment %}
        {% include "move/views/_includes/assessment-summary.njk" %}
      {% elif not move.profile.requires_youth_risk_assessment %}
        {% include "move/views/_includes/assessment.njk" %}
      {% endif %}

      {% if move.to_location.location_type == 'court' %}
        {% include "move/views/_includes/court-information.njk" %}
      {% endif %}

      {% if move.time_due or move.additional_information %}
        {% include "move/views/_includes/additional-information.njk" %}
      {% endif %}

      {% if move.from_location.can_upload_documents %}
        {% include "move/views/_includes/documents.njk" %}
      {% endif %}
    </div>
  {% endif %}

  {% if move.allocation %}
    {# TODO: Get moves returned as part of an allocation so that we can determine the number #}
    {{ govukInsetText({
      html: t("messages::cancel_allocation_move.content", {
        context: "with_link" if canAccess("allocations:view"),
        count: move.allocation.moves.length or move.allocation.moves_count,
        href: "/allocation/" + move.allocation.id
      }),
      classes: "govuk-!-margin-bottom-0"
    }) }}
  {% endif %}

  {% if canAccess("youth_risk_assessment:view") and youthRiskAssessment %}
    <p class="govuk-!-margin-bottom-2">
      <a href="{{ move.id }}/youth-risk-assessment">
        {{ t("actions::view_assessment", {
          context: "youth_risk_assessment"
        }) }}
      </a>
    </p>
  {% endif %}

  {% if canCancelMove %}
    <p class="govuk-!-margin-bottom-0">
      <a href="{{ move.id }}/cancel" class="app-link--destructive">
        {{ t("actions::cancel_move") }}
      </a>
    </p>
  {% endif %}
{% endblock %}

{% block contentSidebar %}
  {% include "includes/move-summary.njk" %}
{% endblock %}
