{% extends "layouts/two-column.njk" %}

{% set additionalContainerClass = "sticky-sidebar-container" %}
{% set name = (move.profile.person.fullname | upper) or t("awaiting_person") %}

{% block customGtagConfig %}
  gtag('set', {'page_title': 'Move details'});
{% endblock %}

{% block pageTitle %}
  {{ t("moves::detail.page_title", {
    name: name
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: t("actions::back_to_dashboard"),
    classes: "app-print--hide",
    href: MOVES_URL
  }) }}

  <a href="javascript:window.print()" class="app-!-float-right app-print--hide govuk-!-margin-top-3 app-icon app-icon--print">
    {{ t("actions::print_move") }}
  </a>

  {{ super() }}

  {% if messageTitle %}
    {{ appMessage({
      allowDismiss: false,
      classes: "app-message--temporary",
      title: {
        text: messageTitle
      },
      content: {
        text: messageContent
      }
    }) }}
  {% endif %}

  {% if move.status == "proposed" %}
    {% set html %}
      <p>{{ t("messages::pending_review.content") }}</p>

      {% if canAccess("move:review") %}
        {{ govukButton({
          href: move.id + "/review",
          text: t("actions::review")
        }) }}
      {% endif %}
    {% endset %}

    {{ appMessage({
      allowDismiss: false,
      classes: "app-message--instruction",
      title: {
        text: t("messages::pending_review.heading")
      },
      content: {
        html: html
      }
    }) }}
  {% endif %}

  {% if not move.profile %}
    {% set html %}
      <p>
        {# TODO: Get moves returned as part of an allocation so that we can determine the number #}
        {{ t("messages::pending_assign.content", {
          context: "with_link" if canAccess("allocations:view"),
          count: move.allocation.moves.length or move.allocation.moves_count,
          href: "/allocation/" + move.allocation.id
        }) | safe }}
      </p>

      {% if canAccess("allocation:person:assign") %}
        {{ govukButton({
          href: move.id + "/assign",
          text: t("actions::add_person_to_move")
        }) }}
      {% endif %}
    {% endset %}

    {{ appMessage({
      allowDismiss: false,
      classes: "app-message--instruction",
      title: {
        text: t("messages::pending_assign.heading")
      },
      content: {
        html: html
      }
    }) }}
  {% endif %}

  {% if showPersonEscortRecordBanner and not personEscortRecord %}
    {% set html %}
      <p>{{ t("messages::person_escort_record_pending.content") }}</p>

      {{ govukButton({
        href: personEscortRecordUrl + "/new",
        text: t("actions::start_person_escort_record")
      }) }}
    {% endset %}

    {{ appMessage({
      allowDismiss: false,
      classes: "app-message--instruction",
      title: {
        text: t("messages::person_escort_record_pending.heading")
      },
      content: {
        html: html
      }
    }) }}
  {% endif %}

  {% if showPersonEscortRecordBanner and personEscortRecord %}
    {% set html %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ appTaskList(personEscortRecordtaskList) }}

          {% if personEscortRecordIsComplete %}
            <p>
              {{ t("messages::person_escort_record_complete.content") }}
            </p>

            {{ govukButton({
              href: personEscortRecordUrl + "/confirm",
              text: t("actions::provide_confirmation")
            }) }}
          {% endif %}
        </div>
      </div>
    {% endset %}

    {{ appMessage({
      allowDismiss: false,
      classes: "app-message--instruction govuk-!-padding-right-0",
      title: {
        text: t("messages::person_escort_record_complete.heading") if personEscortRecordIsComplete else t("messages::person_escort_record_incomplete.heading")
      },
      content: {
        html: html
      }
    }) }}
  {% endif %}
{% endblock %}

{% block contentHeader %}
  <header class="govuk-!-margin-bottom-8">
    {% if not messageTitle and move.status != "proposed" %}
      <div class="govuk-!-margin-bottom-2">
        {{ mojBadge({
          text: t("statuses::" + move.status)
        }) }}
      </div>
    {% endif %}

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
      {{ name }}
    </h1>
    <span class="govuk-caption-xl">
      {{ t("moves::move_reference", {
        reference: move.reference
      }) }}
    </span>

    {% if personEscortRecordIsEnabled %}
      <div class="govuk-!-margin-top-2">
        {% if not personEscortRecordIsComplete %}
          {{ govukInsetText({
            classes: "govuk-inset-text--compact govuk-!-margin-0",
            text: t("person-escort-record::flags.incomplete")
          }) }}
        {% endif %}

        {% if personEscortRecordIsComplete and personEscortRecordTagList | length %}
          {% for tag in personEscortRecordTagList %}
            {{ appTag(tag) }}
          {% endfor %}
        {% endif %}
      </div>
    {% elif tagList | length %}
      {# TODO: Remove surrounding conditional once PER is fully enabled #}
      <div class="govuk-!-margin-top-2">
        {% for tag in tagList %}
          {{ appTag(tag) }}
        {% endfor %}
      </div>
    {% endif %}
  </header>
{% endblock %}

{% macro updateLink(link) %}
  {% if link.href %}
    <p class="app-!-position-top-right">
      <a href="{{ link.href }}" class="govuk-link" {%- for attribute, value in link.attributes %} {{attribute}}="{{value}}"{% endfor %}>
        {{ link.html | safe }}
      </a>
    </p>
  {% endif %}
{% endmacro %}

{% block contentMain %}
  {% if move.profile %}
    <div class="govuk-!-margin-bottom-9">
      <section class="app-!-position-relative">
        <h2 class="govuk-heading-m">
          {{ t("moves::steps.personal_details.heading") }}
        </h2>

        {{ govukSummaryList(personalDetailsSummary) }}

        {{ updateLink(updateLinks.personal_details) }}
      </section>

      {% include "move/views/_includes/assessment.njk" %}

      {% if move.from_location.can_upload_documents %}
        <section class="app-!-position-relative">
          <h2 class="govuk-heading-m govuk-!-margin-top-7">
            {{ t("moves::detail.documents.heading", {
              count: move.profile.documents.length if move.profile.documents.length > 1
            }) }}
          </h2>

          {% if move.profile.documents | length %}
            <ul class="govuk-list">
              {% for document in move.profile.documents %}
                <li class="govuk-!-margin-bottom-3">
                  <a href="{{ document.url }}"
                    class="govuk-link"
                    target="_blank"
                    aria-labelledby="document-{{ loop.index }}">
                    {{- document.filename -}}
                  </a>
                  <span class="govuk-body-s">
                    ({{ document.filesize | filesize }})
                  </span>
                  <div class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0" id="document-{{ loop.index }}">
                    ({{ t("opens_new_window") }})
                  </div>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            {{ appMessage({
              classes: "app-message--muted",
              allowDismiss: false,
              content: {
                html: t("moves::detail.documents.empty")
              }
            }) }}
          {% endif %}

          {{ updateLink(updateLinks.document) }}
        </section>
      {% endif %}
    </div>
  {% endif %}

  {% if move.allocation %}
    {# TODO: Get moves returned as part of an allocation so that we can determine the number #}
    {{ govukInsetText({
      html: t("messages::cancel_allocation_move.content", {
        context: "with_link" if canAccess("allocations:view"),
        count: move.allocation.moves.length or move.allocation.moves_count,
        href: "/allocation/" + move.allocation.id
      }),
      classes: "govuk-!-margin-bottom-0"
    }) }}
  {% endif %}

  {% if personEscortRecordIsComplete %}
    <p>
      <a href="{{ personEscortRecordUrl }}">
        {{ t("actions::view_person_escort_record") }}
      </a>
    </p>
  {% endif %}

  {% if canCancelMove %}
    <p class="govuk-!-margin-bottom-0">
      <a href="{{ move.id }}/cancel" class="app-link--destructive">
        {{ t("actions::cancel_move") }}
      </a>
    </p>
  {% endif %}
{% endblock %}

{% block contentSidebar %}
  {% if moveSummary %}
    <div class="sticky-sidebar">
      <div class="sticky-sidebar__inner">
        <h3 class="govuk-heading-m app-border-top-2 app-border--blue govuk-!-padding-top-4 govuk-!-margin-bottom-3">
          {{ name }}
        </h3>

        {% if move.profile.person.image_url %}
          <div class="govuk-!-width-one-half govuk-!-margin-bottom-3">
            <img src="{{ move.profile.person.image_url }}" alt="{{ name }}">
          </div>
        {% endif %}

        {{ appMetaList(moveSummary) }}
      </div>
    </div>
  {% endif %}
{% endblock %}
