{% extends "layouts/base.njk" %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block pageTitle %}
  Add lockout events
{% endblock %}

{% macro _sidebarSection(borderTopClasses = true, borderBottomClasses = true) %}
  {% set top = "app-border-top-2 app-border--blue govuk-!-padding-top-3" if borderTopClasses else "" %}
  {% set bottom = "govuk-!-margin-bottom-7" if borderBottomClasses else "govuk-!-margin-bottom-2" %}

  <section class="{{ top }} {{ bottom }}">
    {{ caller() if caller }}
  </section>
{% endmacro %}

{% block content %}
  <header>
    <h1 class="govuk-heading-xl">
      Add lockout events
    </h1>
  </header>  

  {% block contentContainer %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
        <p class='govuk-body'>Use this form to record any events that happen while
          this person is in police custody.
        </p>
        {{ govukInsetText({
          text: "For each event include the date, time, and what happened. You should include as much detail as possible."
        }) }}
        <div class="govuk-hint govuk-!-padding-bottom-2"> Select all that apply.</div>

        {% set riskViolence %}
          {{ govukTextarea({
            id: "violence",
            name: "violence",
            type: "text",
            classes: "govuk-!-width-two-thirds",
            hint: {
              text: "Include who was involved."
            },
            label: {
              html:"<b>Give details</b>"
            }
          }) }}
        {% endset -%}

        {% set riskCreatedOrUsedAWeapon %}
          {{ govukTextarea({
            id: "create-or-use-weapon",
            name: "create-or-use-weapon",
            type: "text",
            classes: "govuk-!-width-two-thirds",
            hint: {
              text: "Include how and where the weapon was found. If known, include when it was used."
            },
            label: {
              html:"<b>Give details</b>"
            }
          }) }}
        {% endset -%}

        {% set riskRestrictedItemFound %}
          {{ govukTextarea({
            id: "restricted-item-found",
            name: "restricted-item-found",
            type: "text",
            classes: "govuk-!-width-two-thirds",
            hint: {
              text: "Include how and where the resticted item was found. If known, include where it came from."
            },
            label: {
              html:"<b>Give details</b>"
            }
          }) }}
        {% endset -%}

        {% set riskSelfHarmOrSuicide %}
          {{ govukTextarea({
            id: "self-harm-or-suicide",
            name: "self-harm-or-suicide",
            type: "text",
            classes: "govuk-!-width-two-thirds",
            hint: {
              text: "Include any known reasons or triggers."
            },
            label: {
              html:"<b>Give details</b>"
            }
          }) }}
        {% endset -%}

        {% set riskEscapeOrAttemptedEscape %}
          {{ govukTextarea({
            id: "escape-attempted-escape",
            name: "escape-attempted-escape",
            type: "text",
            classes: "govuk-!-width-two-thirds",
            hint: {
              text: "Include how they escaped or attempted to escape."
            },
            label: {
              html:"<b>Give details</b>"
            }
          }) }}
        {% endset -%}

        {% set riskUseOfForce %}
          {{ govukTextarea({
            id: "use-of-force",
            name: "use-of-force",
            type: "text",
            classes: "govuk-!-width-two-thirds",
            hint: {
              text: "Include who was involved, why force was used, and the type of force used."
            },
            label: {
              html:"<b>Give details</b>"
            }
          }) }}
        {% endset -%}

        {% call govukFieldset({
          legend: {
            text: "Risk",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}

        {{ govukCheckboxes({
          idPrefix: "risk-event",
          name: "risk-event",
          items: [
            {
              value: "violence",
              text: "Violence",
              conditional: {
                html: riskViolence
              }
            },
            {
              value: "created-or-used-a-weapon",
              text: "Created or used a weapon",
              conditional: {
                html: riskCreatedOrUsedAWeapon
              }
            },
            {
              value: "restricted-item-found",
              text: "Restricted item found",
              hint: {
                text: "For example concealed drugs, mobile phones or SIM cards."
              },
              conditional: {
                html: riskCreatedOrUsedAWeapon
              }
            },
            {
              value: "self-harm-or-suicide",
              text: "Self-harm or suicide",
              hint: {
                text: "Including attempted or statements of intent."
              },
              conditional: {
                html: riskSelfHarmOrSuicide
              }
            },
            {
              value: "escape-or-attempted-escape",
              text: "Escape or attempted escape",
              conditional: {
                html: riskEscapeOrAttemptedEscape
              }
            },
            {
              value: "use-of-force",
              text: "Use of force",
              conditional: {
                html: riskUseOfForce
              }
            }
          ]
        }) }}
        {% endcall %}

        {% set healthMedicalAttention %}
          {{ govukTextarea({
            id: "medical-attention",
            name: "medical-attention",
            type: "text",
            classes: "govuk-!-width-two-thirds",
            label: {
              html:"<b>Give details</b>"
            }
          }) }}
        {% endset -%}

        {% set healthSubstanceAbuse %}
          {{ govukTextarea({
            id: "substance-abuse",
            name: "substance-abuse",
            type: "text",
            classes: "govuk-!-width-two-thirds",
            label: {
              html:"<b>Give details</b>"
            }
          }) }}
        {% endset -%}

        {% set healthMedicationGiven %}
          {{ govukTextarea({
            id: "medication-given",
            name: "medication-given",
            type: "text",
            classes: "govuk-!-width-two-thirds",
            label: {
              html:"<b>Give details</b>"
            },
            hint: {
              html: 
              "
              <p>For each medication, include:</p>
              <ul class='govuk-list govuk-list--bullet'>
                <li>name</li>
                <li>how it is given</li>
                <li>dosage</li>
                <li>frequency</li>
                <li>time last given</li>
                <li>time next given</li>
                <li>if it is needed while moving</li>
                <li>who is carrying it</li>
              </ul>
              "
            }
          }) }}
        {% endset -%}

        {% set healthChangeInMood %}
          {{ govukTextarea({
            id: "change-in-mood",
            name: "change-in-mood",
            type: "text",
            classes: "govuk-!-width-two-thirds",
            label: {
              html:"<b>Give details</b>"
            }
          }) }}
        {% endset -%}
        
        {% call govukFieldset({
          legend: {
            text: "Health",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}

        {{ govukCheckboxes({
          idPrefix: "medical-event",
          name: "medical-event",
          items: [
            {
              value: "medical-attention",
              text: "Medical attention received",
              conditional: {
                html: healthMedicalAttention
              }
            },
            {
              value: "substance-abuse",
              text: "Signs of drug or alcohol abuse or withdrawal",
              conditional: {
                html: healthSubstanceAbuse
              }
            },
            {
              value: "medication-given",
              text: "Medication given",
              conditional: {
                html: healthMedicationGiven
              }
            },
            {
              value: "change-in-mood",
              text: "Obvious changes in mood, behaviour or signs of mental health issues",
              hint: {
                text: "For example, if they seem withdrawn or non-communicative, refuse meals or show any other behaviour that suggests heightened risk."
              },
              conditional: {
                html: healthChangeInMood
              }
            }
          ]
        }) }}
        {% endcall %}

        {% set propertyChange %}
          {{ govukTextarea({
            id: "property-change",
            name: "property-change",
            type: "text",
            classes: "govuk-!-width-two-thirds",
            hint: {
              text: "Include new bag seal numbers."
            },
            label: {
              html:"<b>Give details</b>"
            }
          }) }}
        {% endset -%}

        {% call govukFieldset({
          legend: {
            text: "Property",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}

        {{ govukCheckboxes({
          idPrefix: "property-event",
          name: "property-event",
          items: [
            {
              value: "property-change",
              text: "Property change",
              conditional: {
                html: propertyChange
              }
            }
          ]
        }) }}
        {% endcall %}

        {% set otherDeath %}
          {{ govukTextarea({
            id: "death",
            name: "death",
            type: "text",
            classes: "govuk-!-width-two-thirds",
            label: {
              html:"<b>Give details</b>"
            }
          }) }}
        {% endset -%}

        {% set otherAnyOtherEvents %}
          {{ govukTextarea({
            id: "other-events",
            name: "other-events",
            type: "text",
            classes: "govuk-!-width-two-thirds",
            label: {
              html:"<b>Give details</b>"
            }
          }) }}
        {% endset -%}

        {% call govukFieldset({
          legend: {
            text: "Other",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}

        {{ govukCheckboxes({
          idPrefix: "other-event",
          name: "other-event",
          items: [
            {
              value: "death",
              text: "Death in custody",
              conditional: {
                html: otherDeath
              }
            },
            {
              value: "other-events",
              text: "Any other events",
              conditional: {
                html: otherAnyOtherEvents
              }
            }
          ]
        }) }}
        {% endcall %}

        <div class="govuk-button-group">
          {{ govukButton({
            preventDoubleClick: true,
            text: "Save events"
          }) }}

          <a href="/move/{{moveId}}/warnings" class="govuk-link">Cancel</a>
        </div>
      </div>

      <aside class="govuk-grid-column-one-third">
        {% block contentSidebar %}

          {% call _sidebarSection({ first: true }) %}
            {% include "includes/person-summary.njk" %}
          {% endcall %}

          {% call _sidebarSection(borderBottomClasses = false) %}
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            {{ t("moves::move_details") }}
          </h3>

          {{ appMetaList(moveDetails) }}

          <p class="govuk-!-margin-top-3 govuk-!-margin-bottom-0 govuk-!-font-size-16">
            <a href="{{ urls.move.details }}#tabs">
              {{ t("actions::view_or_edit_move_details") }}
            </a>
          </p>
        {% endcall %}

        {% endblock %}
      </aside>

    </div>
  {% endblock %}

{% endblock %}


