<section class="app-!-position-relative">
  <h2 class="govuk-heading-m govuk-!-margin-top-7">
    {{ t("moves::detail.additional_information.heading", {
      context: move.move_type
    }) }}
  </h2>

  {{ govukSummaryList(additionalInfoSummary) }}

  {{ updateLink(updateLinks[move.move_type]) }}
</section>
