{% for assessmentCategory in assessment %}
  <section class="app-!-position-relative govuk-!-margin-top-7">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      {{ t('assessment::heading.text', {
        context: assessmentCategory.key
      }) }}
    </h2>

    {% for panel in assessmentCategory.panels %}
      {% call appPanel(panel) %}
        {{ appMetaList({
          classes: "app-meta-list--divider",
          items: panel.items
        }) }}
      {% endcall %}
    {% else %}
      {{ appMessage({
        classes: "app-message--muted govuk-!-margin-top-2",
        allowDismiss: false,
        content: {
          text: t('assessment::no_items.text', {
            context: assessmentCategory.key
          })
        }
      }) }}
    {% endfor %}

    {% if not personEscortRecord %}
      {{ updateLink(updateLinks[assessmentCategory.key]) }}
    {% endif %}
  </section>
{% endfor %}
