{% for assessment in assessmentSections %}
  <section class="app-!-position-relative govuk-!-margin-top-7">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      {{ assessment.name }}
    </h2>

    {% if assessment.isCompleted %}
      {{ renderAssessmentComponent(assessment) }}
    {% else %}
      {{ govukInsetText({
        classes: "govuk-inset-text--compact govuk-!-margin-0",
        text: t("assessment::section_incomplete")
      }) }}
    {% endif %}

    {% if assessment.previousAssessment %}
      {% set html %}
        {{ renderAssessmentComponent(assessment.previousAssessment) }}
      {% endset %}

      {{ govukDetails({
        html: html,
        classes: "govuk-!-font-size-16 govuk-!-margin-top-2",
        summaryText: t("assessment::view_previous_assessment", {
          context: assessment.previousAssessment.context
        })
      }) }}
    {% endif %}

    <p class="app-!-position-top-right">
      <a href="{{ assessment.url }}" class="govuk-link">
        Review
      </a>
    </pre>
  </section>
{% endfor %}
