{% for assessmentCategory in assessment %}
  <section class="app-!-position-relative govuk-!-margin-top-7">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      {{ t('assessment::heading.text', {
        context: assessmentCategory.key
      }) }}
    </h2>

    {{ renderAssessmentComponent(assessmentCategory) }}

    {% if not personEscortRecord %}
      {{ updateLink(updateLinks[assessmentCategory.key]) }}
    {% endif %}
  </section>
{% endfor %}
