<section class="app-!-position-relative">
  <h2 class="govuk-heading-m govuk-!-margin-top-7">
    {{ t("moves::detail.documents.heading", {
      count: move.profile.documents.length if move.profile.documents.length > 1
    }) }}
  </h2>

  {% if move.profile.documents | length %}
    <ul class="govuk-list">
      {% for document in move.profile.documents %}
        <li class="govuk-!-margin-bottom-3">
          <a href="{{ document.url }}"
            class="govuk-link"
            target="_blank"
            aria-labelledby="document-{{ loop.index }}">
            {{- document.filename -}}
          </a>
          <span class="govuk-body-s">
            ({{ document.filesize | filesize }})
          </span>
          <div class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0" id="document-{{ loop.index }}">
            ({{ t("opens_new_window") }})
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    {{ appMessage({
      classes: "app-message--muted",
      allowDismiss: false,
      content: {
        html: t("moves::detail.documents.empty")
      }
    }) }}
  {% endif %}
</section>
