{% extends "layouts/base.njk" %}

{% block customGtagConfig %}
  gtag('set', {'page_title': 'Person profile'});
{% endblock %}

{% block pageTitle %}
  {{ getPageTitle() | join(' – ') if getPageTitle }}
{% endblock %}

{% block content %}
  {% block contentHeader %}
    {{ appIdentityBar(identityBar) }}
  {% endblock %}

  {% include 'includes/tabs.njk' %}

  <div class="govuk-!-margin-bottom-6">
    {% block tabContent %}
    {% endblock %}
  </div>

  {% if moveId %}
    {{ govukBackLink({
      text: t("actions::back_to_move"),
      href: "/move/" + moveId
    }) }}
  {% endif %}
{% endblock %}
