{% extends "./_layout.njk" %}

{% block tabContent %}
  <h2 class="govuk-heading-m">
    {{ t("person::personal_details.heading") }}
  </h2>

  {{ govukSummaryList(personalDetailsSummary) }}
{% endblock %}
