{% extends "layouts/base.njk" %}

{%  macro statsEntry(property, value) %}
  {%  set key = "population::daily_view.labels." + property %}
  {%  set label = t(key) %}

  <h4 class="govuk-heading-s govuk-!-margin-bottom-1">{{ label }}</h4>
  <p class="govuk-template__body">{{ value }}</p>
{% endmacro %}

{% macro statsGroup(headingProperty, stats) %}
  {%  set key = "population::daily_view.labels." + headingProperty %}
  {%  set label = t(key) %}

  <h3 class="govuk-heading-m">{{ label }}</h3>

  {%  for stat in stats %}
    {{  statsEntry(stat.property, stat.value) }}
  {% endfor %}
{% endmacro %}

{% set displayDate = date | formatDateWithRelativeDay %}

{% block pageTitle %}
  {{ t("population::daily_view.page_title_with_date", {
    date: displayDate
  }) }}
{% endblock %}

{% block content %}
  <header class="govuk-grid-row govuk-!-margin-bottom-7">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
        <span class="govuk-caption-xl">
          {{ t("population::daily_view.subheading") }}
        </span>
        <span class="govuk-!-display-block">{{ displayDate }}</span>
      </h1>
    </div>
  </header>

  {%  call appPanel({classes: 'govuk-!-margin-bottom-4'}) %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if spaces.details.updated_at %}
          <h2 class="govuk-heading-m">{{ t("population::daily_view.free_spaces_with_count", {count:spaces.details.free_spaces}) }}</h2>
          <p>{{ t("population::daily_view.free_space_description") }}</p>
          <p><b>{{  t("population::daily_view.labels.last_updated") }} {{  spaces.details.updated_at | formatDateWithTimeAndDay }}</b></p>
          <p class="govuk-!-margin-bottom-0">
            <a href="{{ editPath }}" class="govuk-link govuk-link--no-visited-state">
              {{ t("population::daily_view.actions.change_numbers", {
                context: "with_visually_hidden_text"
              }) | safe }}
            </a>
          </p>
        {%  else %}
          <div>
            {{ govukButton({
              href: editPath,
              html: t("population::daily_view.actions.add_numbers"),
              classes: "govuk-button"
            })}}
          </div>

          <p class="govuk-!-margin-bottom-0">{{ t("population::daily_view.free_space_description") }}</p>
        {%  endif %}
      </div>
    </div>
  {%  endcall %}

  {% if spaces.details.updated_at %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {{ statsGroup("total_space", spaces.totalSpace) }}
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {{ statsGroup("unavailable_space", spaces.unavailableSpace) }}
      </div>
      <div class="govuk-grid-column-one-half">
        {{ statsGroup("available_space", spaces.availableSpace) }}
      </div>
    </div>
  {%  endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{  statsEntry("transfers_in", transfers.transfersIn) }}
    </div>
    <div class="govuk-grid-column-one-half">
      {{  statsEntry("transfers_out", transfers.transfersOut) }}
    </div>
  </div>

{% endblock %}
