{% extends "layouts/collection.njk" %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <section class="govuk-grid-column-full govuk-!-margin-bottom-6">
      {% for table in resultsAsPopulationTables %}
        {{ govukTable(table) }}
      {% else %}
        {{ appMessage({
          classes: "app-message--muted govuk-!-margin-top-7",
          allowDismiss: false,
          content: {
            html: t("population::no_population")
          }
        }) }}
      {% endfor %}
    </section>
  </div>
{% endblock %}

