.app-print--hide {
  @include govuk-media-query($media-type: print) {
    display: none;
  }
}

.app-print-page {
  page-break-after: always;
  margin: 0 govuk-spacing(4) govuk-spacing(4);

  @include govuk-media-query($media-type: print) {
    margin: 0;
  }
}

@page {
  margin: 12mm 8mm;
}

@media print { a[href]::after { content: '' !important } }
