{% extends "form-wizard.njk" %}

{% block fields %}
  {% if previousAnswers %}
    <div class="govuk-!-margin-bottom-6">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        {{ t('assessment::heading.text', {
          context: previousAnswers.key + "_nomis"
        }) }}
      </h2>

      {% for panel in previousAnswers.panels %}
        {% call appPanel(panel) %}
          {{ appMetaList({
            classes: "app-meta-list--divider",
            items: panel.items
          }) }}
        {% endcall %}
      {% else %}
        {{ appMessage({
          classes: "app-message--muted govuk-!-margin-top-2",
          allowDismiss: false,
          content: {
            text: t('assessment::no_items.text', {
              context: previousAnswers.key + "_nomis"
            })
          }
        }) }}
      {% endfor %}

      {% for answerGroup in customAnswerGroupings %}
        <h2 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-2">
          {{ t('assessment::heading.text', {
            context: answerGroup.key
          }) }}
        </h2>

        {% for panel in answerGroup.panels %}
          {% call appPanel(panel) %}
            {{ appMetaList({
              classes: "app-meta-list--divider",
              items: panel.items
            }) }}
          {% endcall %}
        {% else %}
          {{ appMessage({
            classes: "app-message--muted govuk-!-margin-top-2",
            allowDismiss: false,
            content: {
              text: t('assessment::no_items.text', {
                context: answerGroup.key
              })
            }
          }) }}
        {% endfor %}
      {% endfor %}

      {% set html %}
        <p>
          {{ t("assessment::retrieved_from_nomis.details.content.lede") }}
        </p>

        <ul>
          <li>
            {{ t("assessment::retrieved_from_nomis.details.content.step_one") }}
          </li>
          <li>
            {{ t("assessment::retrieved_from_nomis.details.content.step_two") }}
          </li>
          <li>
            {{ t("assessment::retrieved_from_nomis.details.content.step_three") }}
          </li>
        </ul>
      {% endset %}

      {{ govukDetails({
        classes: "govuk-!-margin-top-3",
        summaryText: t("assessment::retrieved_from_nomis.details.summary"),
        html: html
      }) }}
    </div>
  {% endif %}

  {{ super() }}
{% endblock %}
