{% extends "layouts/action-prevented.njk" %}

{% set actionPreventedTitle = t("validation::move_not_supported.heading", {
  name: person._fullname
}) %}

{% set actionPreventedMessage = t("validation::move_not_supported.message", {
  category: category.key
}) %}

