{% extends "form-wizard.njk" %}

{% block fields %}
  {{ super() }}

  {% set detailsHTML %}
    {{ t("moves::steps.person_search.unknown_number", {
      context: values.from_location_type,
      href: "?skip"
    }) | safe }}
  {% endset %}

  {{ govukDetails({
    summaryText: t("moves::steps.person_search.no_number"),
    html: detailsHTML
  }) }}
{% endblock %}

{% block contentSidebar %}{% endblock %}
