{% extends "form-wizard.njk" %}

{% block formActions %}
  <p class="govuk-body">
    <a href="/move/new/personal-details">{{ t("actions::continue_without_pnc") }}</a>
  </p>
  {{ super() }}
{% endblock %}

{% block contentSidebar %}{% endblock %}
