{% extends "layouts/action-prevented.njk" %}

{% block beforeContent %}
  {% if backLink and not options.hideBackLink %}
    {{ govukBackLink({
      text: t("actions::back"),
      href: backLink
    }) }}
  {% endif %}
{% endblock %}

{% set actionPreventedTitle = t("validation::move_conflict.heading") %}

{# TODO: Find way to get correct "move details" #}
{% set actionPreventedMessage = t("validation::move_conflict.message", {
  href: "/move/" + existingMoveId,
  name: values.person.fullname | upper,
  location: values.to_location.title,
  date: values.date | formatDateWithDay
}) %}

{% set actionPreventedInstructions = t("validation::move_conflict.instructions", {
  date_href: "move-date/edit",
  location_href: "move-details/edit"
}) %}
