{% from 'time/macro.njk' import appTime %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ appTime( data ) }}
    </div>
  </div>
</div>
