$govuk-header-background: govuk-colour("black");
$govuk-header-border-color: $govuk-brand-colour;
$govuk-header-border-width: govuk-spacing(2);
$govuk-header-text: govuk-colour("white");
$govuk-header-crest: govuk-colour("white");
$govuk-header-link-separator: govuk-colour("white");
$govuk-header-link: govuk-colour("white");
$govuk-header-link-hover: govuk-colour("white");
$govuk-header-link-active: #1d8feb;
$govuk-header-nav-item-border-color: #2e3133;

.app-header {
  padding-top: govuk-spacing(3);
  padding-bottom: govuk-spacing(3);
  background-color: $govuk-header-background;

  @media print {
    display: none;
  }
}

.app-header__content {
  flex-direction: row;
  display: flex;
  align-self: stretch;
}

.app-header__container {
  max-width: $govuk-page-width;
  margin-right: govuk-spacing(3);
  margin-left: govuk-spacing(3);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 40.0625em) {
    margin-right: govuk-spacing(6);
    margin-left: govuk-spacing(6);
  }

  @supports (margin: Max(Calc(0px))) {
    margin-right: Max(
      govuk-spacing(3),
      Calc(govuk-spacing(3) + #{env(safe-area-inset-right)})
    );
    margin-left: Max(
      govuk-spacing(3),
      Calc(govuk-spacing(3) + #{env(safe-area-inset-left)})
    );

    @media (min-width: 40.0625em) {
      margin-right: Max(
        govuk-spacing(6),
        Calc(govuk-spacing(3) + #{env(safe-area-inset-right)})
      );
      margin-left: Max(
        govuk-spacing(6),
        Calc(govuk-spacing(3) + #{env(safe-area-inset-left)})
      );
    }
  }

  @media (min-width: 1230px) {
    margin-right: auto;
    margin-left: auto;
  }
}

.app-header__logotype-crest {
  margin-right: govuk-spacing(2);
  position: relative;
  top: -2px;
  fill: $govuk-header-crest;
}

.app-header__logo {
  padding-right: govuk-spacing(3);
  display: flex;
  align-items: center;
}

.app-header__logotype {
  margin-right: govuk-spacing(2);
  @include govuk-font($size: 24, $weight: bold);
  display: flex;
  align-items: center;
}

.app-header__link {
  @include govuk-font($size: 19);

  &:link,
  &:visited,
  &:active {
    color: $govuk-header-link;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    @include govuk-focused-text;

    svg {
      fill: currentColor;
    }
  }
}

.app-header__link-sub-text {
  @include govuk-font($size: 16);
  display: none;

  @media (min-width: 40.0625em) {
    display: block;
  }
}

.app-header__product-name {
  display: none;
  @include govuk-font($size: 24);

  @media (min-width: 48.0625em) {
    display: inline-block;
  }
}

.app-header__navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: 40.0625em) {
    flex-direction: row;
    align-items: center;
  }
}

.app-header__navigation-item {
  @include govuk-font($size: 19);
  margin-bottom: govuk-spacing(1);
  text-align: right;

  @media (min-width: 40.0625em) {
    margin-right: govuk-spacing(4);
    padding-right: govuk-spacing(4);
    margin-bottom: 0;
    border-right: 1px solid $govuk-header-link-separator;
  }

  a {
    display: inline-block;
  }

  &:last-child {
    margin-right: 0;
    border-right: 0;
    padding-right: 0;
  }
}

.app-header__link--service-name {
  height: 100%;
  align-items: center;
  display: flex;
  margin-right: govuk-spacing(4);
  padding-right: govuk-spacing(4);
  border-right: 1px solid $govuk-header-link-separator;

  &:last-child {
    margin-right: 0;
    border-right: 0;
    padding-right: 0;
  }
}
