$_filter-border-width: 2px;

.app-filter {
  margin: 0 0 govuk-spacing(3);
}

.app-filter__list {
  @include govuk-font($size: 19);
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;

  @include govuk-media-query($media-type: print) {
    display: none;
  }
}

.app-filter__list-item {
  float: left;
  display: flex;
  flex-grow: 1;
}

.app-filter__list-item--active {
  background: govuk-colour('white');
  border: $_filter-border-width solid govuk-colour('black');

  &:focus {
    outline: 3px solid $govuk-focus-colour;
    position: relative;
    z-index: 100;
  }
}

.app-filter__content {
  flex-direction: column;
  justify-content: center;
  float: left;
  width: 100%;
}

.app-filter__list-item--active,
.app-filter__link {
  padding: govuk-spacing(2);
  box-sizing: border-box;

  @include govuk-media-query($from: desktop) {
    padding: govuk-spacing(4);
  }
}

.app-filter__link {
  border: $_filter-border-width solid govuk-colour('blue');
  background: govuk-colour('blue');
  color: govuk-colour('white');
  display: block;
  position: relative;

  // cannot remove text-decoration from parts of the link, so we remove it everywhere and re-add it when necessary
  text-decoration: none;

  &:link,
  &:active,
  &:visited {
    color: govuk-colour('white');
  }

  &:hover {
    color: govuk-tint(govuk-colour('blue'), 82);
  }

  &:focus {
    background-color: $govuk-focus-colour;
    color: $govuk-focus-text-colour;
    box-shadow: none;
    outline: 3px solid $govuk-focus-colour;
    z-index: 100;
  }
}

.app-filter__value {
  display: block;
  @include govuk-font($size: 36, $weight: bold, $line-height: 1.25);
}

.app-filter__label {
  a & {
    text-decoration: underline;
  }
}

.app-filter--stacked {
  .app-filter__list {
    flex-direction: column;
  }

  .app-filter__list-item + .app-filter__list-item {
    margin-top: govuk-spacing(1);
  }

  .app-filter__list-item:not(:first-of-type) {
    border-color: govuk-colour('light-grey');

    .app-filter__link {
      border-color: govuk-colour('light-grey');
      background-color: govuk-colour('light-grey');
      text-decoration: underline;

      &:link,
      &:active,
      &:visited {
        color: $govuk-link-colour;
      }

      &:hover {
        color: govuk-colour('black');
      }

      &:focus {
        background-color: none;
        color: $govuk-focus-text-colour;
      }
    }

    .app-filter__value {
      display: inline;
      font: inherit;
    }
  }
}
