{% extends "form-wizard.njk" %}

{% block submitAction %}
  {{ super() }}

  {{ govukButton({
    text: t("actions::save_and_return_to_overview"),
    name: "save_and_return_to_overview",
    value: "1",
    type: "submit",
    classes: "govuk-button--secondary"
  }) }}
{% endblock %}

{% block beforeFields %}
  {% if options.beforeFieldsContent %}
    <div class="markdown govuk-!-margin-bottom-6">
      {% markdown %}{{ options.beforeFieldsContent }}{% endmarkdown %}
    </div>
  {% endif %}
{% endblock %}

{% block afterFields %}
  {% if options.afterFieldsContent %}
    <div class="markdown govuk-!-margin-bottom-6">
      {% markdown %}{{ options.afterFieldsContent }}{% endmarkdown %}
    </div>
  {% endif %}
{% endblock %}
