{% extends "layouts/base.njk" %}

{% block head %}
  {{ super() }}

  <script>
    window.print()
  </script>
{% endblock %}

{% block customGtagConfig %}
  gtag('set', {'page_title': 'Print Person Escort Record'});
{% endblock %}

{% block pageTitle %}
  {{ t("assessment::page_title_with_name", {
    context: "person_escort_record",
    name: fullname
  }) }}
  – {{ SERVICE_NAME }}
{% endblock %}

{% block skipLink %}
{% endblock %}

{% block header %}
{% endblock %}

{% macro renderSummaryListAtMobile(params) %}
  {{ govukSummaryList({
    classes: params.classes + " govuk-summary-list--at-mobile",
    rows: params.rows
  }) }}
{% endmacro %}

{% block main %}
  <div class="govuk-!-padding-1">
    <div class="app-print-page">
      {% if moveId %}
        {{ govukBackLink({
          classes: "app-print--hide",
          text: t("actions::back_to_move"),
          href: "/move/" + moveId
        }) }}
      {% endif %}

      {% if timestamp %}
        <p>
          {{ timestamp }}
        </p>
      {% endif %}

      {% if requiresMedicationDuringTransport %}
        {% set html %}
          {{ govukWarningText({
            text: "See “Health Information” for details",
            iconFallbackText: "Warning"
          }) }}
        {% endset %}

        {{ appMessage({
          allowDismiss: false,
          classes: "app-message--info govuk-!-margin-top-4 govuk-!-margin-bottom-4",
          title: {
            text: "Medication required during transport"
          },
          content: {
            html: html
          }
        }) }}
      {% endif %}

      {% if isEscapeRisk %}
        {% set html %}
          {{ govukWarningText({
            text: "See “Risk Information” for details",
            iconFallbackText: "Warning"
          }) }}

          <p>Tick as required:</p>

          <ul class="app-checklist app-checklist--inline govuk-!-margin-top-2">
            <li>
              <strong>
                Escort
              </strong>
            </li>
            <li>
              <strong>
                Standard
              </strong>
            </li>
            <li>
              <strong>
                Heightened
              </strong>
            </li>
          </ul>
        {% endset %}

        {{ appMessage({
          allowDismiss: false,
          classes: "app-message--warning govuk-!-margin-top-4 govuk-!-margin-bottom-4",
          title: {
            text: "Escape risk"
          },
          content: {
            html: html
          }
        }) }}
      {% endif %}

      <div class="govuk-grid-row">
        <div class="app-!-float-right govuk-grid-column-one-quarter-at-mobile govuk-!-margin-bottom-4">
          <img src="{{ imageUrl }}" alt="{{ fullname }}">
        </div>

        <div class="app-!-float-left govuk-grid-column-three-quarters-at-mobile">
          <header class="govuk-!-margin-bottom-4">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
              {{ fullname }}
            </h1>
            <span class="govuk-caption-l">
              {{ t("moves::move_reference", {
                reference: reference
              }) }}
            </span>
            <div class="govuk-!-margin-top-2">
              {% for tag in personEscortRecordTagList %}
                {{ appTag(tag) }}
              {% endfor %}
            </div>
          </header>

          {# TODO: Make this view a bit more dynamic and built from the controller #}
          <section class="app-!-position-relative govuk-!-margin-bottom-5">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1 govuk-!-padding-top-2 app-border-top-2 app-border--black">
              {{ t("assessment::heading.text", {
                context: "move"
              }) }}
            </h2>

            {{ renderSummaryListAtMobile(moveSummary) }}
          </section>
        </div>
      </div>

      {# TODO: Move content to translation files #}
      {% call appPanel({ classes: "app-border-2 app-border--black" }) %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half-at-mobile">
            <h3 class="govuk-heading-m">
              Completed sections
            </h3>

            <p>Tick as required:</p>

            <ul class="app-checklist govuk-!-margin-bottom-0">
              <li class="{{ 'app-checklist__item--checked' if hasSelfHarmWarning }}">
                <strong>
                  Suicide and self-harm warning
                </strong>
              </li>
              <li>
                <strong>Red flag</strong>
              </li>
              <li>
                <strong>
                  Use of force or restraint
                </strong>
                <br>
                See Red Flag Warning page or Medical and Social Care page
              </li>
            </ul>
          </div>

          <div class="govuk-grid-column-one-half-at-mobile">
            <h3 class="govuk-heading-m">
              Attached documents
            </h3>

            <p>Tick as required:</p>

            <ul class="app-checklist govuk-!-margin-bottom-0">
              <li>
                <strong>
                  Medical record
                </strong>
              </li>
              <li>
                <strong>
                  Assessment, Care in Custody &amp; Teamwork (HMPPS use)
                </strong>
              </li>
              <li>
                <strong>
                  L &amp; D Assessment in Police custody enclosed
                </strong>
              </li>
              <li>................................................</li>
              <li>................................................</li>
              <li>................................................</li>
              <li>................................................</li>
            </ul>
          </div>
        </div>
      {% endcall %}
    </div>

    <div class="app-print-page">
      <section class="app-!-position-relative govuk-!-margin-bottom-7">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 govuk-!-padding-top-2 app-border-top-2 app-border--black">
          {{ t("moves::steps.personal_details.heading") }}
        </h2>

        {{ renderSummaryListAtMobile(personalDetailsSummary) }}
      </section>

      {% for section in personEscortRecordSections %}
        <section class="app-!-position-relative govuk-!-margin-bottom-7">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-3 govuk-!-padding-top-2 app-border-top-2 app-border--black">
            {{ section.name }}
          </h2>

          {% for key, step in section.summarySteps %}
            <section class="app-!-position-relative govuk-!-margin-bottom-3">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1 app-border-bottom-1">
                {{ step.pageTitle }}
              </h3>

              {{ renderSummaryListAtMobile(step.summaryListComponent) }}
            </section>
          {% endfor %}
        </section>
      {% endfor %}

      {% if courtSummary.rows | length or courtHearings | length %}
        <section class="app-!-position-relative govuk-!-margin-bottom-7">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-3 govuk-!-padding-top-2 app-border-top-2 app-border--black">
            {{ t("assessment::heading.text", {
              context: "court"
            }) }}
          </h2>

          {% if courtSummary.rows | length %}
            {{ renderSummaryListAtMobile(courtSummary) }}
          {% endif %}

          {% for courtHearing in courtHearings %}
            {% if courtHearings.length > 1 %}
              <h3 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-margin-top-6">
                {{ t("moves::detail.court_hearings.subheading", {
                  context: "with_index",
                  index: loop.index
                }) }}
              </h3>
            {% endif %}

            {{ renderSummaryListAtMobile(courtHearing.summaryList) }}
          {% endfor %}
        </section>
      {% endif %}
    </div>

    <div class="app-print-page">
      <section class="app-!-position-relative">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-padding-top-2 app-border-top-2 app-border--black">
          {{ t("person-escort-record::sections.handover.heading") }}
        </h2>

        <p class="govuk-!-margin-bottom-3">
          {{ t("person-escort-record::sections.handover.fields.from_location") }}: {{ pickupLocation }}
        </p>

        {% for handover in [1, 2, 3, 4, 5] %}
          <div class="app-border-bottom-1 govuk-!-padding-bottom-4{{ ' govuk-!-margin-bottom-4' if not loop.last }} ">
            <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-2">
              {{ t("person-escort-record::sections.handover.subheading") }} {{ loop.index }}
            </h3>

            {% set defaultValues = {
              "to": ".................................................",
              "time": "..........",
              "date": "................",
              "dispatching_name": "........................................",
              "dispatching_id": "........",
              "dispatching_contact": "..............",
              "receiving_name": "........................................",
              "receiving_id": "........",
              "receiving_contact": "..............",
              "signature": "..........................."
            } %}

            {% if loop.first %}
              {% set values = {
                "to": handoverDetails.receiving_organisation or defaultValues.to,
                "time": (handoverDetails.occurred_at or defaultValues.time) | formatTime,
                "date": (handoverDetails.occurred_at or defaultValues.date) | formatDate,
                "dispatching_name": handoverDetails.dispatching_officer or defaultValues.dispatching_name,
                "dispatching_id": handoverDetails.dispatching_officer_id or defaultValues.dispatching_id,
                "dispatching_contact": handoverDetails.dispatching_officer_contact or defaultValues.dispatching_contact,
                "receiving_name": handoverDetails.receiving_officer or defaultValues.receiving_name,
                "receiving_id": handoverDetails.receiving_officer_id or defaultValues.receiving_id,
                "receiving_contact": handoverDetails.receiving_officer_contact or defaultValues.receiving_contact,
                "signature": defaultValues.signature
              } %}
            {% else %}
              {% set values = defaultValues %}
            {% endif %}

            <p class="govuk-!-font-size-16 govuk-!-margin-bottom-3">
              {{ t("person-escort-record::sections.handover.fields.to") }}: {{ values.to }}&nbsp;&nbsp;&nbsp;{{ t("person-escort-record::sections.handover.fields.time") }}: {{ values.time }}&nbsp;&nbsp;&nbsp;{{ t("person-escort-record::sections.handover.fields.date") }}: {{ values.date }}&nbsp;&nbsp;&nbsp;
            </p>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half-at-mobile">
                <h4 class="govuk-heading-s govuk-!-font-size-16 govuk-!-margin-bottom-2">
                  {{ t("person-escort-record::sections.handover.fields.dispatching_officer") }}
                </h4>

                <p class="govuk-!-font-size-16 govuk-!-margin-bottom-2">
                  {{ t("person-escort-record::sections.handover.fields.name") }}: {{ values.dispatching_name }}&nbsp;&nbsp;{{ t("person-escort-record::sections.handover.fields.id") }}: {{ values.dispatching_id }}
                </p>
                <p class="govuk-!-font-size-16 govuk-!-margin-bottom-0">
                  {{ t("person-escort-record::sections.handover.fields.phone") }}: {{ values.dispatching_contact }}&nbsp;&nbsp;{{ t("person-escort-record::sections.handover.fields.signature") }}: {{ values.signature }}
                </p>
              </div>

              <div class="govuk-grid-column-one-half-at-mobile">
                <h4 class="govuk-heading-s govuk-!-font-size-16 govuk-!-margin-bottom-2">
                  {{ t("person-escort-record::sections.handover.fields.receiving_officer") }}
                </h4>

                <p class="govuk-!-font-size-16 govuk-!-margin-bottom-2">
                  {{ t("person-escort-record::sections.handover.fields.name") }}: {{ values.receiving_name }}&nbsp;&nbsp;{{ t("person-escort-record::sections.handover.fields.id") }}: {{ values.receiving_id }}
                </p>
                <p class="govuk-!-font-size-16 govuk-!-margin-bottom-0">
                  {{ t("person-escort-record::sections.handover.fields.phone") }}: {{ values.receiving_contact }}&nbsp;&nbsp;{{ t("person-escort-record::sections.handover.fields.signature") }}: {{ values.signature }}
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </section>

      {% if propertyToHandover.length > 0 %}
        <section class="app-!-position-relative govuk-!-margin-bottom-7">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-padding-top-2 app-border-top-2 app-border--black">
            {{ t("person-escort-record::sections.property_handover.heading") }}
          </h2>

          {% for item in propertyToHandover %}

            <h3 class="govuk-heading-s govuk-!-margin-top-2 govuk-!-margin-bottom-2">
              <span class="govuk-caption-m govuk-!-font-size-16">
                {{ propertyItemName }} {{ loop.index }} {{ sealNumberDescription | lower }}
              </span>
              {{ item }}
            </h3>

            <ul class="app-checklist govuk-!-margin-top-2 govuk-!-font-size-16">
              <li>
                <strong>
                  OUT:
                </strong>
                dispatching establishment
              </li>
              <li>
                <strong>
                  OUT:
                </strong>
                escort on collection
              </li>
              {% if moveType == "court_appearance" %}
              <li>
                <strong>
                  OUT:
                </strong>
                at court
              </li>
              <li>
                <strong>
                  OUT ESCORT:
                </strong>
                escort on collection from court
              </li>
              {% endif %}
              <li>
                <strong>
                  IN:
                </strong>
                HMP or Police for lockouts
              </li>
            </ul>
          {% endfor %}
        </section>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}
