{% extends "layouts/base.njk" %}

{% block pageTitle %}
  {{ t("filters::heading") }}
{% endblock %}

{% block content %}
  <header class="govuk-!-margin-bottom-8">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
      {{ t("filters::heading") }}
    </h1>
  </header>

  <form method="POST">
    <input type="hidden" name="referrer" value="{{filters.referrer.url}}">
    {% for name, value in filters.referrer.values %}
      <input type="hidden" name="{{name}}" value="{{value}}">
    {% endfor %}
    {% for key, filterComponent in filters.components %}
      {% if filterComponent.component and not filterComponent.skip %}
        {{ callAsMacro(filterComponent.component)(filterComponent) }}
      {% endif %}
    {% endfor %}

    <div class="govuk-button-group">
      {{ govukButton({
          text: t("filters::submit"),
          preventDoubleClick: true,
          type: "submit"
        })
      }}

      <a href="{{ cancelUrl }}" class="govuk-link">
        {{ t("actions::cancel") }}
      </a>
    </div>
  </form>


{% endblock %}
