{% extends "layouts/govuk.njk" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ pageTitle }}
    </h1>
  </div>
</div>
{% endblock %}
