{% extends "layouts/govuk.njk" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">{{ pageTitle }}</span>
    <h1 class="govuk-heading-xl">
      Current day
    </h1>

    {{ appPagination({
      classes: "app-pagination--inline",
      previous: {
        href: "",
        text: "Previous day"
      },
      next: {
        href: "",
        text: "Next day"
      }
    }) }}
  </div>
</div>
{% endblock %}
