{% extends "layouts/base.njk" %}

{% block pageTitle %}
  What’s new
{% endblock %}

{% block content %}
  <header>
    <h1 class="govuk-heading-xl govuk-!-margin-top-1 govuk-!-margin-bottom-6">
      What’s new
    </h1>
  </header>

  <p class="govuk-!-margin-bottom-5">
    The latest updates and improvements to Book a secure move.
  </p>

  {% for post in posts %}
    <div class="govuk-!-padding-bottom-7">
      <p class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-5">
        {{ post.date }}
      </p>

      <hr>

      <h2 class="govuk-heading-l govuk-!-margin-top-5">{{ post.title }}</h2>
      
      {{ post.summary | safe }}

      <p class="govuk-body"><a class="govuk-link" href="/whats-new/{{ post.id }}">Read more</a></p>
    </div>
  {% endfor %}
{% endblock %}
