{% extends "layouts/base.njk" %}

{% block pageTitle %}
  {{ heading }} – {{ super() }}
{% endblock %}

{% block content %}  
  {% if contentBody and contentTitle %}
    <header>
      <h1 class="govuk-heading-xl govuk-!-margin-top-1 govuk-!-margin-bottom-6">
        {{ contentTitle }}
      </h1>
    </header>
      
    {{ contentBody | safe }}
    {% else %}
    
    {% endif %}
{% endblock %}
