$_message-padding: govuk-spacing(3);
$_message-border-width: 5px;

.app-message {
  background-color: govuk-colour("white");
  border: $_message-border-width solid $govuk-brand-colour;
  padding: $_message-padding;
  position: relative;

  @include govuk-media-query($from: tablet) {
    .js-enabled &[data-module="app-message"] {
      padding-right: 90px;
    }
  }

  &:focus {
    outline: $govuk-focus-width solid $govuk-focus-colour;
  }

  * {
    margin-bottom: 0;
    margin-top: 0;
  }

  p,
  .govuk-warning-text,
  .govuk-inset-text {
    @include app-reading-width;
  }

  * + * {
    margin-top: govuk-spacing(1);
  }

  & + & {
    margin-top: govuk-spacing(2);
  }

  * + & {
    margin-top: govuk-spacing(4);
  }

  @include govuk-media-query($media-type: print) {
    border: 1px solid govuk-colour("black") !important;
  }
}

.app-message__heading {
  @include govuk-font($size: 24, $weight: bold);

  + * {
    margin-top: govuk-spacing(2);
  }
}

.app-message__content {
  @include govuk-font($size: 19);
  color: govuk-colour("black");
}

.app-message__close {
  @include govuk-font($size: 16);
  display: table;

  @include govuk-media-query($from: tablet) {
    position: absolute;
    line-height: 26px;
    margin-top: 0;
    top: govuk-spacing(3);
    right: govuk-spacing(3);
  }

  &:visited {
    color: $govuk-link-colour;
  }

  &:hover {
    color: $govuk-link-hover-colour;
  }

  &:active {
    color: $govuk-link-active-colour;
  }
}

.app-message--info {
  border-color: $govuk-brand-colour;
}

.app-message--success {
  border-color: #00823b;
}

.app-message--warning {
  border-color: darken(govuk-colour("orange"), 15);
}

.app-message--error {
  border-color: $govuk-error-colour;

  p + p {
    margin-top: govuk-spacing(2);
  }
}

.app-message--muted {
  border-color: govuk-colour("dark-grey");
  border-width: 0 0 0 5px;
  background-color: govuk-colour("light-grey");
}

.app-message--temporary {
  background-color: govuk-colour("blue");
  border-width: 0;
  color: govuk-colour("white");
  padding: $_message-padding + $_message-border-width;

  .app-message__heading {
    @include govuk-font($size: 36, $weight: bold);

    + * {
      margin-top: govuk-spacing(4);
    }
  }

  * {
    color: govuk-colour("white");
  }
}

.app-message--instruction {
  background-color: govuk-tint(govuk-colour("light-blue"), 75);
  border-width: 0;
  padding: $_message-padding + $_message-border-width;

  .app-message__heading + * {
    margin-top: govuk-spacing(4);
  }

  a:not(.govuk-button) {
    &:link {
      color: govuk-shade($govuk-link-colour, 9);
    }

    &:hover {
      color: $govuk-link-hover-colour;
    }

    &:focus,
    &:active {
      color: $govuk-link-active-colour;
    }

    &:visited {
      color: $govuk-link-visited-colour;
    }
  }

  .app-message__content > * + * {
    margin-top: govuk-spacing(3);
  }
}
