.app-message {
  background-color: govuk-colour("white");
  border: 5px solid $govuk-brand-colour;
  padding: govuk-spacing(3);
  position: relative;

  @include mq ($from: tablet) {
    .js-enabled &[data-module="app-message"] {
      padding-right: 90px;
    }
  }

  &:focus {
    outline: none;
  }

  * {
    margin-bottom: 0;
    margin-top: 0;
  }

  * + * {
    margin-top: govuk-spacing(1);
  }

  & + & {
    margin-top: govuk-spacing(2);
  }

  * + & {
    margin-top: govuk-spacing(4);
  }
}

.app-message__heading {
  @include govuk-font($size: 24, $weight: bold);
}

.app-message__content {
  @include govuk-font($size: 19);
  color: govuk-colour("black");
}

.app-message__close {
  @include govuk-font($size: 16);
  display: table;

  @include mq ($from: tablet) {
    position: absolute;
    line-height: 26px;
    margin-top: 0;
    top: govuk-spacing(3);
    right: govuk-spacing(3);
  }

  &:visited {
    color: $govuk-link-colour;
  }

  &:hover {
    color: $govuk-link-hover-colour;
  }

  &:active {
    color: $govuk-link-active-colour;
  }
}

.app-message--info {
  border-color: $govuk-brand-colour;
}

.app-message--success {
  border-color: #00823b;
}

.app-message--warning {
  border-color: darken(govuk-colour("orange"), 15);
}

.app-message--error {
  border-color: $govuk-error-colour;
}

.app-message--muted {
  border-color: govuk-colour("grey-1");
  border-width: 0 0 0 5px;
  background-color: govuk-colour("grey-4");
}
