{% extends "layouts/base.njk" %}

{% block organisationSwitcher %}{% endblock %}

{% block pageTitle %}
  Data
{% endblock %}

{% block content %}
  <header class="govuk-!-margin-bottom-8">
    <span class="govuk-caption-xl">
      Book a secure move
    </span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
      {{ TODAY | formatDate("MMMM yyyy") }}
    </h1>
  </header>

  <section>
    <iframe title="Percentage of cancelled moves" aria-label="chart" id="datawrapper-chart-ckRbc" src="https://datawrapper.dwcdn.net/ckRbc/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="420"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}}))}();</script>
  </section>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <section>
    <iframe title="Destinations broken down by origin" aria-label="chart" id="datawrapper-chart-YMkvs" src="https://datawrapper.dwcdn.net/YMkvs/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="506"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}}))}();</script>
  </section>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <section>
    <iframe title="Reason for cancelling a move" aria-label="Stacked Bars" id="datawrapper-chart-6DxZD" src="https://datawrapper.dwcdn.net/6DxZD/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="298"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}}))}();</script>
  </section>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <section>
    <iframe title="Booking time during the day" aria-label="Stacked Bars" id="datawrapper-chart-A1NVp" src="https://datawrapper.dwcdn.net/A1NVp/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="403"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}}))}();</script>
  </section>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <section>
    <iframe title="Booking lead time" aria-label="Stacked Bars" id="datawrapper-chart-eHJzI" src="https://datawrapper.dwcdn.net/eHJzI/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="918"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}}))}();</script>
  </section>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <section>
    <iframe title="Moves by pickup location" aria-label="chart" id="datawrapper-chart-k3R82" src="https://datawrapper.dwcdn.net/k3R82/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="537"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}}))}();</script>
  </section>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <section>
    <iframe title="Moves by destination" aria-label="chart" id="datawrapper-chart-UMF0k" src="https://datawrapper.dwcdn.net/UMF0k/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="738"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}}))}();</script>
  </section>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <section>
    <iframe title="Pickup locations" aria-label="map" id="datawrapper-chart-3lZjB" src="https://datawrapper.dwcdn.net/3lZjB/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}}))}();</script>
  </section>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <p class="govuk-!-font-size-19 govuk-!-margin-top-8 govuk-!-margin-bottom-0">
    <a href="data/refresh">Refresh this data</a>
    <span class="govuk-!-font-size-16">(This can take a few minutes)</span>
  </p>
{% endblock %}
