$govuk-global-styles: true;

// Override font styles to replace NTA with Inter UI
$govuk-fonts-path: "../fonts/inter/";
$govuk-font-family: "Inter", system-ui, sans-serif;

// Import GOV.UK Frontend
@import "govuk-frontend/govuk/settings/all";
@import "govuk-frontend/govuk/tools/all";
@import "govuk-frontend/govuk/helpers/all";

@import "govuk-frontend/govuk/core/all";
@import "govuk-frontend/govuk/objects/all";

@import "govuk-frontend/govuk/components/back-link/back-link.scss";
@import "govuk-frontend/govuk/components/button/button.scss";
@import "govuk-frontend/govuk/components/checkboxes/checkboxes.scss";
@import "govuk-frontend/govuk/components/error-summary/error-summary.scss";
@import "govuk-frontend/govuk/components/footer/footer.scss";
@import "govuk-frontend/govuk/components/header/header.scss";
@import "govuk-frontend/govuk/components/input/input.scss";
@import "govuk-frontend/govuk/components/phase-banner/phase-banner.scss";
@import "govuk-frontend/govuk/components/radios/radios.scss";
@import "govuk-frontend/govuk/components/select/select.scss";
@import "govuk-frontend/govuk/components/skip-link/skip-link.scss";
@import "govuk-frontend/govuk/components/summary-list/summary-list.scss";
@import "govuk-frontend/govuk/components/textarea/textarea.scss";
@import "govuk-frontend/govuk/components/panel/panel.scss";

@import "govuk-frontend/govuk/utilities/all";
@import "govuk-frontend/govuk/overrides/all";

// Import MoJ Frontend Components
@import "@ministryofjustice/frontend/moj/components/organisation-switcher/_organisation-switcher.scss";

// Import app settings/tools/helpers
@import "helpers/all";

@import "core/all";

// Import app level components and styles
@import "components/all";

// Import app utilities and overrides
@import "utilities/all";
@import "overrides/all";
