$govuk-global-styles: true;

// Override font styles to replace NTA with Inter UI
$govuk-fonts-path: "../fonts/inter/";
$govuk-font-family: "Inter", system-ui, sans-serif;

// Import GOV.UK Frontend
@import "govuk-frontend/all.scss";

// Import app settings/tools/helpers
@import "helpers/all";

// Import app level components and styles
@import "components/all";
