$govuk-global-styles: true;
$govuk-new-link-styles: true;

// Override font styles to replace NTA with Inter UI
$govuk-fonts-path: "../fonts/inter/";
$govuk-font-family: "Inter", system-ui, sans-serif;
$govuk-assets-path: "govuk-frontend/govuk/assets/";
$moj-assets-path: "@ministryofjustice/frontend/moj/assets/";

$govuk-page-width: 1170px;
$moj-page-width: 1170px;

$govuk-grid-widths: (
  one-quarter: 25%,
  one-third: 33.3333%,
  one-half: 50%,
  one-sixth: 16.6667%,
  two-thirds: 66.6666%,
  two-sixths: 33.3334%,
  three-quarters: 75%,
  four-sixths: 66.6668%,
  five-sixths: 83.3335%,
  full: 100%
);

// Import GOV.UK Frontend
@import "govuk-frontend/govuk/base";

@import "govuk-frontend/govuk/core/all";
@import "govuk-frontend/govuk/objects/all";

@import "govuk-frontend/govuk/components/back-link/index";
@import "govuk-frontend/govuk/components/breadcrumbs/index";
@import "govuk-frontend/govuk/components/button/index";
@import "govuk-frontend/govuk/components/checkboxes/index";
@import "govuk-frontend/govuk/components/cookie-banner/index";
@import "govuk-frontend/govuk/components/details/index";
@import "govuk-frontend/govuk/components/error-summary/index";
@import "govuk-frontend/govuk/components/footer/index";
@import "govuk-frontend/govuk/components/input/index";
@import "govuk-frontend/govuk/components/inset-text/index";
@import "govuk-frontend/govuk/components/panel/index";
@import "govuk-frontend/govuk/components/radios/index";
@import "govuk-frontend/govuk/components/select/index";
@import "govuk-frontend/govuk/components/skip-link/index";
@import "govuk-frontend/govuk/components/summary-list/index";
@import "govuk-frontend/govuk/components/table/index";
@import "govuk-frontend/govuk/components/tabs/index";
@import "govuk-frontend/govuk/components/tag/index";
@import "govuk-frontend/govuk/components/textarea/index";
@import "govuk-frontend/govuk/components/warning-text/index";

@import "govuk-frontend/govuk/utilities/all";
@import "govuk-frontend/govuk/overrides/all";

// Import MoJ Frontend Components
@import "@ministryofjustice/frontend/moj/settings/all";
@import "@ministryofjustice/frontend/moj/objects/all";
@import "@ministryofjustice/frontend/moj/components/organisation-switcher/organisation-switcher";
@import "@ministryofjustice/frontend/moj/components/primary-navigation/primary-navigation";
@import "@ministryofjustice/frontend/moj/components/badge/badge";
@import "@ministryofjustice/frontend/moj/components/filter/filter";

// Import app settings/tools/helpers
@import "settings/all";
@import "helpers/all";

@import "core/all";
@import "objects/all";

// Import app level components and styles
@import "components/all";

// Import app utilities and overrides
@import "utilities/all";
@import "overrides/all";
